<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel" translate>LEAVE_DETAIL</h4>
        </div>
        <div class="modal-body row" style="padding-left: 30px">
            <div class="col-xs-6">
                <div style="margin-bottom: 10px"><span translate>FULL_NAME</span></div>
                <div style="margin-bottom: 10px"><span translate>EMAIL</span></div>
                <div style="margin-bottom: 10px"><span translate>DATE</span></div>
                <div style="margin-bottom: 10px"><span translate>STATUS</span></div>
                <div style="margin-bottom: 10px"><span translate>TOTAL_LEAVE_DATE</span></div>
                <div style="margin-bottom: 10px"><span translate>TOTAL_PAID_LEAVE</span></div>
                <div style="margin-bottom: 10px"><span translate>TOTAl_UNPUL_LEAVE</span></div>
                <div style="margin-bottom: 10px"><span translate>REASON</span></div>
            </div>
            <div class="col-xs-6">
                <div style="margin-bottom: 10px">{{details.name}}</div>
                <div style="margin-bottom: 10px">{{details.email}}</div>
                <div style="margin-bottom: 10px">{{details.leaveTime}}</div>
                <div ng-if="details.status == 0 " style="margin-bottom: 10px; color: #7d75b9" translate>PENDING</div>
                <div ng-if="details.status == 1 " style="margin-bottom: 10px; color: #57d662" translate>ACTIVE</div>
                <div ng-if="details.status == 2 " style="margin-bottom: 10px; color: #ef3333" translate>BLOCKED</div>
                <div ng-if="details.status == 4 " style="margin-bottom: 10px" translate>EXPIRED</div>
                <div ng-if="details.status == 5 " style="margin-bottom: 10px; color: #7d75b9" translate>ADMIN_PENDING</div>
                <div style="margin-bottom: 10px">{{details.totalLeaveDate}}</div>
                <div style="margin-bottom: 10px">{{details.totalPaidLeave}}</div>
                <div style="margin-bottom: 10px">{{details.totalUnpaidLeave}}</div>
                <div style="margin-bottom: 10px">{{details.note}}</div>
    
    
            </div>
            
            <div class="col-xs-12" style="text-align:right;" ng-show="(!isForAdmin && details.status == 0)||(isForAdmin && details.status == 5)">
                <button class="btn btn-info btn-xs" ng-click="details.approve(details.id)">
                    <i class="ion-checkmark-round" aria-hidden="true"></i>
                    <span style="color: #fff" translate>APPROVE</span>
                </button>
                <button class="btn btn-danger btn-xs" ng-click="details.reject(details.id)">
                    <i class="ion-close-round" aria-hidden="true"></i>
                    <span style="color: #fff" translate>REJECT</span>
                </button>
            </div>
        </div>
    </div>