<div class="st-filter clearfix" ng-controller="ReportWrongCtrl as vm">
    <div ng-init="vm.init()">
        <div class="widgets">
            <div class="wid-content">
                <div class="row" ng-if="vm.isForAdmin">
                    <div class="col-md-3">
                        <p translate style="font-weight: 500;">SELECT_MONTH</p>
                        <p class="input-group">
                            <input type="text" class="form-control approvedByText" uib-datepicker-popup="MM/yyyy"
                                ng-model="dataExport.date" is-open="datePopup.monthOpend"
                                datepicker-options="monthOptions" ng-required="true" close-text="Close"
                                show-button-bar="false" ng-readonly="true" ng-click="onDateClick()"
                                ng-change="changeMonth()" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="onDateClick()"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="display: -webkit-box;" ng-if=" !vm.isEdit && vm.isGetDataOk">
                            <div>
                                <p style="background: #dba147;padding: 9px 30px 10px 5px;font-size: 12px;font-weight:300;"
                                    translate="">OVERTIME_NORMS</p>
                            </div>
                            <div style="display: contents;line-height: 35px;font-weight: 800;">
                                <p style="background: #333333;margin-left: 15px;padding-left: 6px;color: #dba147;">
                                    {{vm.overtimeTime}}</p>
                                <p style="background: #333333;padding-left: 2px;padding-right: 30px;color: #dba147;"
                                    translate>
                                    HOURS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="text-align: right;padding: 0px;margin: 0px 0px;"">
                                    <div style=" margin-bottom: 10px;text-align: end;"
                            ng-if="!vm.isForAdmin && vm.isGetDataOk">
                            <p ng-if="vm.isReport"
                                style=" font-style: italic; display: inline; margin-right: 10px; font-size: 13px; "
                                translate>
                                PLEASE_REPORT</p>
                            <!-- <button ng-if="vm.isReport" type=" button" class="btn btn-danger btn-with-icon" ng-click="vm.onReportForm()" -->
                            <button ng-disabled="!vm.isGetDataOk" type=" button" class="btn btn-danger btn-with-icon"
                                ng-click="vm.onReportForm()" translate><i
                                    class="{{!vm.isEdit ? 'ion-android-warning' : 'fa fa-chevron-left'}}"></i>{{!vm.isEdit ? 'REPORT_ALLOCATION' : 'BACK'}}</button>
                            <button ng-disabled="!vm.isGetDataOk" ng-if="vm.isReport || vm.isEdit " type="button"
                                class="btn btn-success btn-with-icon" ng-click="vm.onConfirmForm()" translate><i
                                    class="ion-android-checkmark-circle"></i>{{!vm.isEdit ? 'CONFIRM' : 'SAVE_INFO'}}</button>
                        </div>
                        <div style="margin-top: 5px;font-weight: 400;">
                            <p translate>CONTACT_REPORT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Title -->
        <div style="background-color: #333333;padding: 10px;">
            <p style="font-size: 16px;margin-bottom: 0px;color: #dba147;font-weight: 300;" translate>
                OVERTIME_ALLOCATION
            </p>
        </div>

        <div ng-if="!vm.isGetDataOk" style="padding-top: 30px;text-align: center;">
            <p translate>LOADING</p>
        </div>
        <!-- group 1 -->
        <div ng-repeat="listData in vm.card track by $index" ng-if="vm.isGetDataOk">
            <div style="margin-top: 10px;padding: 20px 10px;border-bottom: 0.3px solid #eae9e9;">
                <div class="row" ng-repeat="data in listData.title track by $index">
                    <div class="{{item.class}}" ng-repeat="item in data track by $index">
                        <div style="display: flex;">
                            <p style="font-weight: 500;margin-right: 2px;" translate>{{ item.titleBold}}</p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="data in listData.data track by $index" style="margin-bottom: 10px;"
                    ng-init="lineIndex=$index">
                    <div class="{{item.class}}" ng-repeat="item in data"
                        ng-if="listData.key !== 'projectList' || (listData.key === 'projectList' && data.perct.value !== 0) ">
                        <!-- For title -->
                        <div ng-if="listData.data.indexOf(data) === 0 || vm.width < 1110">
                            <div>
                                <p style="font-weight: 500;margin-right: 2px;" translate>
                                    {{item.title.titleBold}}</p>
                            </div>
                        </div>
                        <!-- For select -->
                        <ui-select ng-model="item.value" ng-if="item.type === 'select'"
                            ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            ng-change="vm.onChangeValue(item.autoKey, lineIndex, listData.key, item.value)"
                            class="btn-group bootstrap-select form-control disable-text" search-enabled="true"
                            append-to-body="true">
                            <ui-select-match class="disable-text" placeholder="{{ '' | translate }}">
                                {{item.value.value.replace(' ||| ', ' - ') }}
                            </ui-select-match>
                            <ui-select-choices repeat="itemSelect in vm[item.data] | filter: {value: $select.search}"
                                refresh="refreshData($select.search)">
                                <span
                                    ng-bind-html="itemSelect.value.replace(' ||| ', ' - ') | highlight: $select.search"></span>
                                <!-- <br>
                                        <i ng-bind-html="itemSelect.value.split(' ||| ')[0]"
                                            style="font-size: 12px;font-weight: 300;"></i> -->
                            </ui-select-choices>
                        </ui-select>
                        <!-- For date -->
                        <input type="text" ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            class="form-control disable-text" ng-if="item.type === 'date'"
                            uib-datepicker-popup="dd/MM/yyyy" datepicker-options="item.validate" ng-model="item.value"
                            is-open="item.isOpen" ng-required="true" close-text="Close"
                            ng-click="vm.openDatePopup(item, data)" show-button-bar="false" ng-readonly="false" />
                        <!-- For number -->
                        <input type="number" ng-disabled="item.disable || !vm.isEdit || data.lineDisable" min="10"
                            max="100" class="form-control" ng-model="item.value"
                            ng-if="item.type === 'number' && !item.isHide">
                        <!-- For text -->
                        <input type="text" ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            class="form-control" ng-model="item.value" ng-if="item.type === 'input'">
                        <!-- For button -->
                        <button type="button" style=" text-align: -webkit-center;"
                            ng-click="vm.onRemoveItem(listData.key, data)"
                            ng-disabled="item.disable || !vm.isEdit || data.lineDisable" ng-if="item.type === 'button'"
                            class="btn btn-danger btn-raised"> <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <div style="display: flex;margin-top: 5px;">
                    <button ng-disabled="item.disable || !vm.isEdit" type="button"
                        style="text-align: left;background-color: #aad2f54f;" ng-if="listData.footer.type === 'button'"
                        ng-click="vm.onAddItem(listData.key)" class="btn btn-outline-primary">
                        <i style="font-size: 12px;color: blue;" translate> {{listData.footer.value}}</i>
                    </button>
                    <!-- <p ng-if="listData.key === 'projectList'" style="font-size: 12px;margin: 10px;">Hoặc</p>
                            <button ng-disabled="item.disable || !vm.isEdit" type="button"
                                style="text-align: -webkit-center;background-color: #cae2f9;"
                                ng-if="listData.footer.type === 'button' && listData.key === 'projectList'"
                                ng-click="vm.openDetails(listData.projectList, listData.data)" class="btn btn-outline-primary">
                                <i style="font-size: 12px;color: blue;">Khai báo dự án mới</i>
                            </button> -->
                    <i style="font-size: 12px;white-space: pre-line;" ng-if="listData.footer.type !== 'button'"
                        translate>
                        {{listData.footer.value}}
                    </i>
                </div>
            </div>
        </div>
        <!-- End Group 1-->
    </div>
</div>