<div class="st-filter clearfix">
  <div class="row">
      <div class="col-md-2">
        <span translate>ROWS_ON_PAGE</span>
        <label>
          <select class="form-control" ng-model="users.tablePageSize" ng-options="i for i in [10,25,50,100,200]">
          </select>
        </label>
      </div>
      <div class="col-md-3">
        <search-common table-state="users.tableState" refresh="users.refresh()"
        columns="['fullName','email','employeeCode','department']"></search-common>
      </div>
      <div class="col-md-2">
        <div style="margin-bottom: 5px;" translate>SCRIPT</div>
        <ui-select ng-model="users.scriptFilter" class="btn-group bootstrap-select form-control disable-text"
          ng-change="users.refresh()">
          <ui-select-match class="disable-text" placeholder="{{ 'SCRIPT_ID' | translate }}">
            {{users.scriptFilter.subScript}}
          </ui-select-match>
          <ui-select-choices repeat="item in users.scripts">
            <span ng-bind-html="item.subScript"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-md-2">
        <div ng-repeat="item in users.groups">
          <div class="checkbox" style="display: inline">
            <label class="custom-checkbox">
              <input type="checkbox" ng-checked="users.type == item.id"
                ng-click="users.toggleSelectionStatus(item.id)">
              <span translate>{{item.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-default btn-with-icon" permission="Users.GetAll" ng-click="users.refresh()"
        ladda="users.isLoading" data-spinner-color="#000" data-size="xs">
        <i class="ion-loop"></i><span translate>REFRESH</span>
        </button>
        <button type="button" ui-sref="system.userDetail()" class="btn btn-primary btn-with-icon"
          permission="Users.Create">
          <i class="fa fa-user-plus"></i>
          <span translate>CREATE</span>
        </button>
      </div>
  </div>
</div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="{{ 'USERS' | translate }}" ba-panel-class="with-scroll">
        <div class="table-responsive">
          <table class="table table-hover" st-pipe="users.init" st-table="users.tableData">
            <thead>
              <tr class="sortable ">
                <th>#</th>
                <th st-sort="fullName" translate>FULL_NAME</th>
                <th st-sort="email" translate>EMAIL</th>
                <th st-sort="employeeCode" translate>USER_ID</th>
                <th st-sort="department" translate>DEPARTMENT</th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody ng-show="!users.isLoading">
              <tr ng-repeat="item in users.tableData track by $index" ui-sref="system.userDetail({userId: item.id})">
                <td>{{users.tableState.pagination.start + $index+1}}</td>
                <td>{{item.fullName}}</td>
                <td>
                  <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                </td>
                <td>{{item.employeeCode}}</td>
                <td>{{item.department}}</td>
              </tr>
            </tbody>
            <tbody ng-show="users.isLoading">
              <tr>
                <td colspan="8" class="text-center" translate>LOADING</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8" class="text-center">
                  <div st-pagination="" st-items-by-page="users.tablePageSize" st-displayed-pages="5"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
