<div ba-panel ba-panel-class="with-scroll">
  <div class="col-md-12 cold-sm-12" style="text-align: center;">
    <!-- <img style="
    height: 350px;
    " src="/assets/img/feedback.gif"> -->
    <img style="
      height: auto;
      width: 40%;
      " src="/assets/img/faq.jpg" alt="Italian Trulli">
    <p style="font-size: 18px;"  translate >FAQ_CONTENT</p>
    <a ng-show="lang_cookie == 'vi'" href="https://docs.google.com/spreadsheets/d/1pgcYwZVnXDR7MgwSnBz1zQksMbiyrzfBb4YfJdr9Tjg/edit#gid=0" target="_blank" style="color: blue" translate>FAQ</a>
    <a ng-show="lang_cookie == 'th'" href="https://docs.google.com/spreadsheets/d/1pgcYwZVnXDR7MgwSnBz1zQksMbiyrzfBb4YfJdr9Tjg/edit#gid=46420486" target="_blank" style="color: blue" translate>FAQ</a>
    <a ng-show="lang_cookie == 'en'" href="https://docs.google.com/spreadsheets/d/1pgcYwZVnXDR7MgwSnBz1zQksMbiyrzfBb4YfJdr9Tjg/edit#gid=53651578" target="_blank" style="color: blue" translate>FAQ</a>
  </div>
</div>