<div class="col-xs-12">
  <div>
    <div class="col-xs-12 leave-type-button">
      <p><button id="btn-oneday" type="button" class="btn btn-with-icon"
          ng-class="leaveRequest.isOneDay ? 'approve-button':'btn-default'" ng-click="leaveRequest.oneDayMode()"
          translate><i class="ion-edit"></i>ONE_DAY</button></p>
      <p><button id="btn-moreday" type="button" class="btn btn-with-icon"
          ng-class="!leaveRequest.isOneDay ? 'approve-button':'btn-default'" ng-click="leaveRequest.moreDayMode()"
          translate><i class="ion-edit"></i>MANY_DAYS</button></p>
    </div>
    <div>
      <div style="display:block" id="onedaymode" ng-show="leaveRequest.isOneDay" class="col-sm-7 col-xs-5">
        <div>
          <h4 translate>DATE</h4>
          <p class="input-group">
            <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
              ng-model="leaveRequest.dataLeaveRequest.leaveDate" is-open="leaveRequest.datePopup"
              datepicker-options="leaveRequest.dateOptions" ng-required="true" close-text="Close"
              show-button-bar="false" ng-readonly="true" ng-click="leaveRequest.onLeaveDateClick()"
              ng-change="leaveRequest.timeChange()" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="leaveRequest.onLeaveDateClick()"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
        <div>
          <div class="col-sm-6 col-xs-12" style="margin-bottom: 10px">
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" id="morning" ng-model="leaveRequest.dataLeaveRequest.morning"
                ng-change="leaveRequest.timeChange()">
              <span translate>MORNING_SHIFT</span>
            </label>
          </div>
          <div class="col-sm-6 col-xs-12" style="margin-bottom: 10px">
            <label class="checkbox-inline custom-checkbox nowrap">
              <input type="checkbox" id="afternoon" ng-model="leaveRequest.dataLeaveRequest.afternoon"
                ng-change="leaveRequest.timeChange()">
              <span translate>AFTERNOON_SHIFT</span>
            </label>
          </div>
        </div>
      </div>
      <div style="display:block" id="moredaymode" ng-show="!leaveRequest.isOneDay" class="col-sm-7 col-xs-5">
        <h4 translate>FROM_DATE</h4>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="leaveRequest.dataLeaveRequest.fromDate" is-open="leaveRequest.fromDatePopup"
            datepicker-options="leaveRequest.dateOptions" ng-required="true" close-text="Close" show-button-bar="false"
            ng-readonly="true" ng-click="leaveRequest.onFromDateClick()" ng-change="leaveRequest.timeChange()"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="leaveRequest.onFromDateClick()"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <h4 translate>TO_DATE</h4>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="leaveRequest.dataLeaveRequest.toDate" is-open="leaveRequest.toDatePopup"
            datepicker-options="leaveRequest.dateOptions" ng-required="true" close-text="Close" show-button-bar="false"
            ng-readonly="true" ng-click="leaveRequest.onToDateClick()" ng-change="leaveRequest.timeChange()" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="leaveRequest.onToDateClick()"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-sm-5 col-xs-7" style="margin-top: 10px;">
        <div class="day-of-leave">
          <div><span translate>HOLIDAY</span>:
            {{leaveRequest.dataLeaveRequest.holiday}}</div>
          <div style="margin-top: 10px;"><span translate>WEEKEND</span>:
            {{leaveRequest.dataLeaveRequest.weekend}}</div>
          <div style="margin-top: 10px;"><span translate>DAY_OF_LEAVE_REQUEST</span>: <span
              ng-class="leaveRequest.dataLeaveRequest.leave == 0 ? 'red-text':''">{{leaveRequest.dataLeaveRequest.leave}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 16px;" class="col-xs-12">
    <div>
      <h4 translate>APPROVED_BY</h4>
      <input type="text" style="margin-bottom: 14px;" class="form-control disable-text" id="input02" ng-disabled="true"
        ng-model="manager.managerName">
    </div>
    <div>
      <h4><span translate>REASON</span><span class="validate-input"> *</span></h4>
      <input type="text" class="form-control margin-bot" ng-model="leaveRequest.dataLeaveRequest.reason"
        translate-attr="{ placeholder: 'REASON' }" maxlength="255">
    </div>
  </div>
</div>
<div class="col-xs-12" style="margin-top: 10px;">
  <div class="col-xs-12">
    <div style="padding-bottom: 10px; margin-top: 10px;">
      <h4 translate>DAYS_WITHDRAWN_FROM_LEAVE_FUND</h4>
    </div>
    <table class="col-xs-12">
      <tbody>
        <tr ng-repeat="item in leaveRequest.leaveReasons">
          <td class="dayWithDrawnText nowrap" style="width: 250px;">
            <label class="radio-inline custom-radio nowrap">
              <input type="radio" name="leaveReason" ng-model="leaveRequest.dayWithDrawn.selected" ng-value="item.id"
                ng-change="leaveRequest.choseReason()">
              <span class="dayWithDrawnText" style="min-height: 40px;">
                {{item.name}}
                <div class="dayWithDrawnDetailText">
                  <span ng-if="item.hasPaidLeave" translate>PAID_LEAVE</span>
                  <span ng-if="!item.hasPaidLeave" translate>UNPAID_LEAVE</span>
                  <span style="padding-left:10px;" ng-repeat="buf in item.buffer">
                  <br>{{buf.item1}} <span translate>HAS_DAY_DAY</span>
                  <span ng-if="buf.item2 != '31/12/9999'">
                    ,
                    <span translate>EXPIRY_DATE</span>
                    {{buf.item2}}
                  </span>
                  </span>
                </div>
              </span>
            </label>
          </td>
          <td class="dayWithDrawnText" ng-if="item.childs.length != 0">
            <div>
              <ui-select ng-model="leaveRequest.selectedItem[item.id]" class="btn-group bootstrap-select form-control"
                ng-disabled="false" append-to-body="true" search-enabled="false" ng-change="leaveRequest.dayWithDrawn.selected = item.id">
                <ui-select-match placeholder="{{ 'CHOOSE_REASON' | translate }}">
                  <span> {{$select.selected.name}}</span>
                </ui-select-match>
                <ui-select-choices repeat="standardItem in item.childs | filter: $select.search">
                  <div><span ng-bind-html="standardItem.name"></span></div>
                  <div class="dayWithDrawnDetailText"
                    ng-if="(standardItem.hasPaidLeave && standardItem.buffer != 'NaN')">
                    <span ng-if="standardItem.hasPaidLeave" translate>PAID_LEAVE</span>
                    <span ng-if="!standardItem.hasPaidLeave" translate>UNPAID_LEAVE</span>
                    <span ng-repeat="buffer in standardItem.buffer">
                      <span translate>HAS_DAY_HAS</span> {{buffer.item1}} <span translate>HAS_DAY_DAY</span>
                      <!-- <span translate>EXPIRY_DATE</span> {{buffer.item2}} -->
                      <span ng-if="buffer.item2 != '31/12/9999'">
                        ,
                        <span translate>EXPIRY_DATE</span>
                        {{buffer.item2}}
                      </span>
                  </div>
                  </span>
                </ui-select-choices>
              </ui-select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>