<div class="col-xs-12">
  <h4 translate>DEPARTMENT</h4>
  <input type="text" class="form-control disable-text margin-bot" ng-disabled="true" ng-model="manager.department">
</div>
<div class="col-xs-12">
  <h4 translate>FULL_NAME</h4>
  <input type="text" class="form-control disable-text margin-bot" ng-disabled="true" ng-model="manager.userName">
</div>
<div class="col-xs-12">
  <h4 translate>APPROVED_BY</h4>
  <input type="text" class="form-control disable-text margin-bot" ng-disabled="true" ng-model="manager.managerName">
</div>
<div >
  <div >
    <div class="col-xs-12">
      <h4><span translate>DATE</span><span class="validate-input"> *</span></h4>
      <div>
        <p class="input-group">
          <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="manuallyRecord.time.date" is-open="manuallyRecord.datePopup"
            datepicker-options="manuallyRecord.dateOptions" ng-required="true" close-text="Close"
            show-button-bar="false" ng-change="" ng-click="manuallyRecord.opendate()" ng-readonly="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="manuallyRecord.opendate()"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

    <div>
      <div class="col-xs-6">
        <h4><span translate>FROM_TIME</span><span class="validate-input"> *</span></h4>
        <div class="input-group">
          <input type="time" class="form-control" ng-model="manuallyRecord.time.fromTime"/>
          <span class="input-group-btn" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
            <button uib-dropdown-toggle type="button" class="btn btn-default" ng-click="">
              <i class="fa fa-clock-o"></i>
            </button>
            <ul uib-dropdown-menu>
              <li style="padding: 0px 5px;">
                <div uib-timepicker ng-model="manuallyRecord.time.fromTime" hour-step="1" minute-step="1"
                  show-meridian="false" ng-change=""></div>
              </li>
            </ul>
          </span>
        </div>
      </div>

      <div class="col-xs-6">
        <h4 translate>TO_TIME</h4>
        <div class="input-group">
          <input type="time" class="form-control" ng-model="manuallyRecord.time.toTime"/>
          <span class="input-group-btn" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
            <button uib-dropdown-toggle type="button" class="btn btn-default" ng-click="">
              <i class="fa fa-clock-o"></i>
            </button>
            <ul uib-dropdown-menu>
              <li style="padding: 0px 5px;">
                <div uib-timepicker ng-model="manuallyRecord.time.toTime" hour-step="1" minute-step="1"
                  show-meridian="false" ng-change=""></div>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div >
    <div class="col-md-12 col-sm-12">
      <h4><span translate>REASON</span><span class="validate-input"> *</span></h4>
      <input type="text" class="form-control margin-bot" ng-model="manuallyRecord.data.note"
        translate-attr="{ placeholder: 'REASON' }" maxlength="255">
    </div>
  </div>
</div>