<div>

  <div class="col-xs-12">
    <h4 translate>DATE</h4>
    <p class="input-group">
      <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
        ng-model="overtime.form.date" is-open="overtime.datePopup" datepicker-options="overtime.dateOptions"
        ng-required="true" close-text="Close" ng-change="" ng-click="overtime.opendate()" show-button-bar="false"
        ng-readonly="true" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="overtime.opendate()"><i
            class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>

  <div>
    <div class="col-md-6 col-xs-6">
      <h4><span translate>FROM_TIME</span><span class="validate-input"> *</span></h4>
      <div class="input-group">
        <input type="time" class="form-control" ng-model="overtime.form.fromTime" />
        <span class="input-group-btn" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <button uib-dropdown-toggle type="button" class="btn btn-default" ng-click="">
            <i class="fa fa-clock-o"></i>
          </button>
          <ul uib-dropdown-menu>
            <li style="padding: 0px 5px;">
              <div uib-timepicker ng-model="overtime.form.fromTime" hour-step="1" minute-step="1" show-meridian="true"
                ng-change=""></div>
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4><span translate>TO_TIME</span><span class="validate-input"> *</span></h4>
      <div class="input-group">
        <input type="time" class="form-control" ng-model="overtime.form.toTime" />
        <span class="input-group-btn" uib-dropdown dropdown-append-to-body auto-close="outsideClick">
          <button uib-dropdown-toggle type="button" class="btn btn-default" ng-click="">
            <i class="fa fa-clock-o"></i>
          </button>
          <ul uib-dropdown-menu>
            <li style="padding: 0px 5px;">
              <div uib-timepicker ng-model="overtime.form.toTime" hour-step="1" minute-step="1" show-meridian="true"
                ng-change=""></div>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-6 col-xs-12">
      <h4 translate>EVENT_TYPE</h4>
      
      <ui-select style="margin-bottom: 10px" ng-model="overtime.form.groupEventSelected"
        class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true"
        ng-change="overtime.onChangeEventsGroup()">
        <ui-select-match>
          {{overtime.form.groupEventSelected.description}}
        </ui-select-match>
        <!-- <ui-select-choices repeat="item in event | filter: $select.search" -->
        <ui-select-choices repeat="item in overtime.form.groupEvent track by $index">
          <span ng-bind-html="item.description"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div ng-show="overtime.form.groupEventSelected.inputEventCode" class="col-sm-6 col-xs-12">
    <h4 translate>EVENT_CODE</h4>
    <!-- <div style="margin-bottom: 10px"><span translate>Mã</span><span>:</span></div> -->
      <ui-select style="margin-bottom: 10px" ng-model="overtime.form.selectedEvent"
        class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true" >
        <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
          {{overtime.form.selectedEvent.eventCode}}
        </ui-select-match>
        <!-- <ui-select-choices repeat="item in event | filter: $select.search" -->
        <ui-select-choices repeat="item in overtime.form.event" refresh="overtime.refreshEvent($select.search)">
          <span  ng-bind-html="item.eventCode | highlight: $select.search"></span>
          <span ng-bind-html="item.payPerHour + ' VND'" ng-show="item.payPerHour" style="float: right;"></span>
          <span ng-bind-html="item.payPerBlock + ' Block'" ng-show="item.payPerBlock"  style="float: right;"></span>
          <span ng-bind-html="item.percentage + '%'" ng-show="item.percentage"  style="float: right;"></span>
          <br ng-show="item.description">
          <i ng-bind-html="item.description" ng-show="item.description" style="font-size: 12px;"></i>
        </ui-select-choices>
      </ui-select>
      <div ng-show="overtime.form.groupEventSelected.corporationType == 'VI_CORP'" ng-click="overtime.openEventList()" class="event-instruction">
        <span style="color: #505050; font-size:12px" translate>EVENT_INSTRUCTIONS</span>
      </div>
    </div>
    <!-- <div ng-click="overtime.openEventList()" class="col-sm-1 col-xs-1 event-instruction"
    ng-show="overtime.form.groupEventSelected.inputEventCode" title="{{'EVENT_INSTRUCTIONS'| translate}}">
        <span ><i class="ion-help help-icon"></i></span>
    </div> -->
  </div>
</div>
<div>
  <div class="col-xs-12">
    <h4 translate>APPROVED_BY</h4>
    <input type="text" style="margin-bottom: 14px;" class="form-control disable-text" id="input02" ng-disabled="true"
      ng-model="manager.managerName">
  </div>
  <div class="col-xs-12">
    <h4><span translate>REASON</span><span class="validate-input"> *</span></h4>
    <input type="text" rows="5" class="form-control" ng-model="overtime.form.reason"
      translate-attr="{ placeholder: 'REASON' }" style=" margin-bottom: 14px;" maxlength="255">
  </div>
  <!-- <div style="margin-bottom: 10px"><span translate>Loại</span><span>:</span></div> -->

</div>