<div class="form-group">
    <!-- <label ng-if="type==='greater'"><span translate>{{label}}</span> <span translate>GREATER</span></label>
    <label ng-if="type==='lesser'"><span translate>{{label}}</span> <span translate>LESSER</span></label> -->
    <label ng-if="type==='greater'"><span translate>{{label}}</span> <span translate></span></label>
    <label ng-if="type==='lesser'"><span translate>{{label}}</span> <span translate></span></label>
    <label ng-if="type==='equal'"><span translate>{{label}}</span></label>
    <!-- <input type="date" class="form-control" ng-model="date" ng-change="onChange()"> -->
    <!-- <datepicker date-format="dd/MM/yyyy" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
      <input placeholder="dd/mm/yyyy" ng-change="onChange()" class="input-sm form-control search-input" ng-model="date"
          type="text" />
  </datepicker> -->
  
  <div class="input-group st-calendar">
    <input type="text" class="form-control" ng-focus="openDatePicker(1)" ng-change="onChange()" class="input-sm form-control search-input"
        ng-model="date" uib-datepicker-popup="{{format}}" datepicker-options="options"
        is-open="openedDatePicker[1]" translate-attr="{ placeholder: 'FORMAT_DATE' }"
        close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
    />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDatePicker(1)">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
  </div>
  </div>