<div ba-panel ba-panel-class="" ng-init="flowsDetail.init()" id="text-editor">
    <form name="flowsDetailForm" novalidate>
  
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-default btn-with-icon" ng-click="flowsDetail.back()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span translate>BACK</span>
          </button>
        </div>
        <div class="col-xs-6 text-right">
          <button type="button" class="btn btn-info btn-with-icon" ng-click="flowsDetail.showEdit()"
            ng-if="flowsDetail.isEdit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span translate>EDIT</span>
          </button>
          <button type="button" class="btn btn-default btn-with-icon" ng-click="flowsDetail.reload()"
            ng-if="!flowsDetail.isCreateMode&&flowsDetail.isSave">
            <i class="fa fa-undo" aria-hidden="true"></i>
            <span translate>CANCEL</span>
          </button>
          <button type="submit" class="btn btn-primary btn-with-icon" ng-click="flowsDetail.save()"
            ng-if="flowsDetail.isSave">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <span translate>SAVE</span>
          </button>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <p></p>
        <div class="col-md-12">
          <div class="form-group" ng-class="{'has-error': flowsDetailForm.name.$invalid 
                                          && (flowsDetailForm.name.$dirty 
                                          || flowsDetailForm.name.$touched 
                                          || flowsDetailForm.$submitted)}">
            <label for="name" translate>Tên Template</label>
            <span>(*)</span>
            <p ng-if="!flowsDetail.isSave">
              <b>{{flowsDetail.form.name}}</b>
            </p>
            <input type="text" class="form-control" name="name" id="name" ng-if="flowsDetail.isSave"
              ng-model="flowsDetail.form.name" required>
            <span class="help-block error-block basic-block" ng-show="flowsDetailForm.name.$error.required"
              translate>REQUIRED</span>
          </div>
  
          <div class="form-group" ng-class="{'has-error': flowsDetailForm.name.$invalid 
          && (flowsDetailForm.subject.$dirty 
          || flowsDetailForm.subject.$touched 
          || flowsDetailForm.$submitted)}">
            <label for="subject" translate>Subject Template</label>
            <span>(*)</span>
            <p ng-if="!flowsDetail.isSave">
              <b>{{flowsDetail.form.subject}}</b>
            </p>
            <input type="text" class="form-control" name="subject" id="subject" ng-if="flowsDetail.isSave"
              ng-model="flowsDetail.form.subject" required>
            <span class="help-block error-block basic-block" ng-show="flowsDetailForm.subject.$error.required"
              translate>REQUIRED</span>
          </div>
  
          <div class="form-group" ng-class="{'has-error': flowsDetailForm.code.$invalid 
          && (flowsDetailForm.code.$dirty 
          || flowsDetailForm.code.$touched 
          || flowsDetailForm.$submitted)}">
            <label for="code" translate>Code Template</label>
            <span>(*)</span>
            <p ng-if="!flowsDetail.isSave">
              <b>{{flowsDetail.form.code}}</b>
            </p>
            <input type="text" class="form-control" name="code" id="code" ng-if="flowsDetail.isSave"
              ng-model="flowsDetail.form.code" required>
            <span class="help-block error-block basic-block" ng-show="flowsDetailForm.code.$error.required"
              translate>REQUIRED</span>
          </div>
  
  
          <div class="form-group">
            <label for="parameters" translate>Body</label>
            <p ng-if="flowsDetail.isSave">
              <!-- <textarea class="col-md-12" id='body' style="height:400px" ng-model="flowsDetail.form.body"
                required></textarea> -->
              <div ng-if="flowsDetail.isSave" text-angular="text-angular" name="htmlcntent"
                ng-model="flowsDetail.form.body" ta-disabled='disabled' id="mailForm">
              </div>
            </p>
            <p ng-if="!flowsDetail.isSave">
              <!-- <textarea disabled class="col-md-12" id='body' style="height:400px"
                ng-model="flowsDetail.form.body"></textarea> -->
              <div ng-if="!flowsDetail.isSave" ta-bind="text" name="htmlcontent" ng-model="flowsDetail.form.body"
                ta-readonly='disabled'>
              </div>
            </p>
          </div>
          <div class="clear-fix"></div>
          <div class="form-group">
            <label for="parameters" translate>Parameters</label>
            <p ng-if="!flowsDetail.isCreateMode && !flowsDetail.isSave">
              <b>{{flowsDetail.form.parameters}}</b>
            </p>
            <p ng-if="flowsDetail.isCreateMode || flowsDetail.isSave">
              <input type="text" class="form-control" name="parameters" id="parameters" ng-if="flowsDetail.isSave"
                ng-model="flowsDetail.form.parameters" required>
            </p>
          </div>
  
        </div>
    </form>
  </div>