<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/checkin" class="al-logo clearfix hidden-xs"><span>TOPICA</span> CHECKIN</a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

  <div class="user-profile clearfix">
    <div class="user-profile__container">
      <div>
        <p class="user-name">{{userName}}</p>
      </div>
      <!-- <div>
        <button class="btn btn-danger btn-xs button-report " ng-click="openPopup('app/theme/components/pageTop/confirmReport.html', '')" >
          <span translate>REPORT_WRONG</span>
        </button>
      </div> -->
      <ul class="al-lang-center clearfix">
        <lang-center></lang-center>
      </ul>
      <div class="al-user-profile" uib-dropdown>
        <div class="al-user-profile__show">
          <h6></h6>
          <a uib-dropdown-toggle class="profile-toggle-link">
            <img ng-src="{{userImageUrl}}">
          </a>
        </div>
        <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
          <li><i class="dropdown-arr"></i></li>
          <!-- <li><a ui-sref="profile"><i class="fa fa-user"></i><span translate>PROFILE</span></a></li> -->
          <li>
            <a href class="signout" ng-click="signout()">
              <i class="fa fa-power-off"></i><span translate>SIGNOUT</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>




</div>