.check-body {
	margin-top: 5px;
	margin-bottom: 5px;
}

.name-time {
	text-align: center;
	color: #333333;
}

.script-box {
	text-align: left;
	color: #333333;
}

.script-text {
	text-align: left;
	color: #333333;
	font-size: 23px;
	font-weight: 500;
	padding-top: 5px;
	line-height: 25px;
}

.internet-status {
	font-size: 18px;
	position: relative;
}

.position-status {
	font-size: 22px;
	position: relative;
}

.check-time {
	font-size: 50px;
	font-weight: 400;
	position: relative;
}

.checkin-button {
	margin-top: 35px !important;
	background-color:#333333;
	display: block;
	width: 280px;
	height: 280px;
	margin: 0 auto;
	text-align: center;
	line-height: 280px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 280px;
}

.checkin-button.ok {
	pointer-events: auto !important;
	cursor: pointer !important;
}

.note-text {
	font-size: 14px;
}

.icon-add-note {
	pointer-events: auto !important;
	cursor: pointer !important;
}

.checkin-button .check-text{
	font-size: 40px;
	text-align: center;
	line-height: 280px;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
}


.zoom {
  animation: scale 0.8s linear infinite;
}

@keyframes scale {
  50% {
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
}