#leaveRequest .padding-field {
    padding: 5px 10px;
}

#leaveRequest h2{
    font-size: 21;
}

#leaveRequest .leave-type-button{
    text-align: left;
    margin-right: 5px;
}
#leaveRequest .leave-type-button p{
    margin: 0 20 0 0;
    display: inline-block;
}
.approvedByText {
    color: #666666 !important;
}
.dayWithDrawnText {
    color: black;
    font-size: 15px;
    padding-bottom: 18px;
}
.dayWithDrawnDetailText {
    color: #777;
    font-size: 14px;
    padding-top: 8px;
}

.red-text {
    color: red;
}

.validate-input{
    color: red;
}

.approve-screen-btn{
    background-color: #fff0;
    margin: 0px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: #DBA147;
}
.approve-screen-btn:hover, .approve-screen-btn:focus{
    color: #DBA147;
}


.screen-bar{
    background-color: white;
    padding: 0 !important;
    border-radius: 5px;
}

.approve-screen-active{
    background-color: #DBA147;
    margin: 0px;
    font-size: 16px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    color: white;
}

.approve-screen-active:hover, .approve-screen-active:focus{
    color: white;
}

.partition{
    margin: 0px 5px;
    margin-bottom: -11px;
    background-color: #e2e2e2;
    width: 2px;
    height: 24px;
    display: inline-block;
}

.approve-button, .approve-button:hover, .approve-button:focus{
    background-color: #DBA147;
    color: white;
}
