.disable-text{
    color: #666666 !important;
}

#manuallyRecord .margin-bot{
    margin-bottom: 15px;
}

.day-of-leave{
    margin-top: 18px;
    border: solid 1px #cbcbcb;
    border-radius: 5px;
    padding: 11px 28px;
    height: 112px;
}

.event-instruction{
    text-align: right;
}

.event-instruction:hover{
    cursor: pointer;
}