
.modal-content {
  border-radius: 5px;
  border: none;
  color: $dropdown-text;
}

.modal-header {
  color: $label-text;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  .modal-title {
    color: $dropdown-text;
  }
}

.modal-buttons {
  margin-top: -12px;
  margin-right: -22px;
  button {
    float: left;
    margin-right: 24px;
    margin-top: 12px;
  }
  &.same-width {
    button {
      width: 160px;
      text-align: center;
    }
  }
}

$modal-input-border: #e7e7e7;

.app-modal-window .modal-dialog {
  width: 1250px;
  padding-top: 20px;
}
.modal {
  text-align: center;
  .modal-dialog {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 50px;
    .form-control{
      color: $github-color;
      // background-color: transparent;
      border: 1px solid $modal-input-border;
      @include placeholderStyle($dropdown-text, 0.9);
    }
    .modal-body p, .modal-body div, .modal-body span{
      color: $dropdown-text;
    }
  }
  .modal-header {
    border: none;
    .close{
      margin-top: -5px;
    }
  }
  .modal-footer {
    border: none;
    padding-top: 0;
  }
  .modal-icon{
    margin-right: 3px;
  }
  .sn-link-close {
    color: $dropdown-text;
    font-size: 30px;
    &:hover {
      color: $danger;
    }
  }
}

@media screen and (min-width: $resM) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.message-modal {
  .modal-header {
    text-align: center;
    i {
      font-size: 32px;
    }
  }
  .modal-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 18px;
  }
  .modal-body {
    text-align: center;
    padding: 0;
    font-size: 14px;
  }
  .modal-footer {
    margin: 24px 0 12px;
    text-align: center;
  }
}

.allocation-title {
  font-size: 20px;
  font-weight: 500;
  color: #000;text-align: center;
  margin-bottom: 30px;
  line-height: 40px;
}

.allocation-footer {
  text-align: center;
      color: #000;
      font-size: 20px;
      margin-top: 30px;
      font-weight: bold;
}

.allocation-text {
  font-size: 15px;
        color: #000;
        text-align: center;
}

.allocation-line {
  height: 1px;
  background: #000;
  margin: 30px 100px
}

.progress-wrapper{
  position: relative;
}

.progress-wrapper .text{
  position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 45px;
    font-weight: bold;
    color: #0079bf;
}