#myTimeSheets .detals-text{
    margin-bottom: 10px;
    font-size: 16px;
}

#myTimeSheets .overtime-text{
    padding-bottom: 10px;
    font-size: 16px;
    color: #0795db;
}

#myTimeSheets .pending-overtime-text{
    padding-bottom: 10px;
    font-size: 16px;
    color: #eea700;
}

#myTimeSheets .space-table{
    padding-bottom: 10px;
}

#myTimeSheets .instruction{
    // text-align: right;
}

#myTimeSheets .instruction span:hover{
    cursor: pointer;
}

#myTimeSheets .help-icon{
margin-right: 10px;
}

#timeSheetInstruction .leave-type{
    border: solid 1px #dd331d;
    border-radius: 3px;
    background-color: #dd331d;
    padding: 2px 5px 2px 5px;
}

#timeSheetInstruction .checkin-type{
    border: solid 1px #1072a0;
    border-radius: 3px;
    background-color: #1072a0;
    padding: 2px 5px 2px 5px;
}

#timeSheetInstruction .overtime-type{
    border: solid 1px #10907a;
    border-radius: 3px;
    background-color: #10907a;
    padding: 2px 5px 2px 5px;
}

#timeSheetInstruction .approve-text{
    color: white;
    text-align: center;
}

#timeSheetInstruction .pending-text{
    color: #f5fe06;
    text-align: center;
}



#timeSheetInstruction .holiday{
    border: solid 1px #00c853;
    border-radius: 3px;
    background-color: #00c853;
    color: white;
    padding: 2px 5px 2px 5px;
}
#timeSheetInstruction .time-keeping{
    border: solid 1px #0795db;
    border-radius: 3px;
    background-color: #0795db;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .pending-time-keeping{
    border: solid 1px #0795db;
    border-radius: 3px;
    background-color: #cccccc;
    color: #0795db;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .overtime{
    border: solid 1px #00c853;
    border-radius: 3px;
    background-color: #00c853;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .pending-overtime{
    border: solid 1px #00c853;
    border-radius: 3px;
    background-color: #cccccc;
    color: #00c853;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .pending-leave{
    border: solid 1px #ff9900;
    border-radius: 3px;
    background-color: #cccccc;
    color: #ff9900;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .leave{
    border: solid 1px #ff9900;
    border-radius: 3px;
    background-color: #ff9900;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .leave-text{
    color: #ff9900;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .time-keeping-text{
    color: #0795db;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .overtime-text{
    color: #00c853;
    padding: 2px 5px 2px 5px;
    text-align: center;
}

#timeSheetInstruction .expired-approval{
    border: solid 1px red;
    border-radius: 3px;
    background-color: red;
    color: white;
    padding: 2px 5px 2px 5px;
    text-align: center;
}


.modal-body .details-text{
    margin-bottom: 10px;
    font-size: 16px;
}

#myTimeSheets .timeSheets{
    border: 1px solid rgba(214, 214, 214, 0.3);
    height: 610px;
    border-radius: 5px;
}

.auto-panel{
    height: auto;
}

#myTimeSheets .event-details{
    padding-bottom: 10px;
    font-size: 16px;
    color: #0795db;
}

#myTimeSheets .event-details:hover{
    cursor: pointer;
}

#mailForm .ta-text{
    height: auto;
}