.change-value{
    text-align: center;
    margin-top: 10px;
}

.cancel-btn{
    color: #e85656;
    border: solid 1px #e85656;
    background-color: #00000000;
}

.cancel-btn:hover{
    color: #e85656;
}