<div class="st-filter clearfix">
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="popupManagers.tablePageSize" ng-options="i for i in [10,20,50,100]">
        </select>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group">
          <label> <span translate>STATUS</span></label>
          <br/>
        <label> <span style="color: #dba147;" translate>POPUP_MANAGER_ACTIVE</span></label>
        <label> <span translate>POPUP_MANAGER_REJECT</span></label>
      </div>
    </div>
    <div class="col-xs-2">
    </div>

    <div class="col-xs-4 text-right" style="text-align: right;">
      <button type="button" class="btn btn-default btn-with-icon" permission="Users.GetAll"
        ng-click="popupManagers.refresh()" ladda="popupManagers.isLoading" data-spinner-color="#000" data-size="xs">
        <i class="ion-loop"></i><span translate>REFRESH</span>
      </button>
      <button type="button" ui-sref="system.popupManagerDetail()" class="btn btn-primary btn-with-icon">
        <i class="fa fa-user-plus"></i>
        <span translate>CREATE</span>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'POPUP_MANAGER' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="popupManagers.init" st-table="popupManagers.tableData">
              <thead>
                <tr>
                  <td colspan="11"></td>
                </tr>
                <tr class="sortable ">
                  <th>#</th>
                  <th translate>GRADE_V2</th>
                  <th translate>TRACK1_V2</th>
                  <th translate>PERSONAL_AREA_V2</th>
                  <th translate>ORG_UNIT_LV2_V3</th>
                  <th translate>ORG_UNIT_LV3_V3</th>
                  <th translate>ORG_UNIT_LV4_V3</th>
                  <th translate>ORG_UNIT_LV5_V3</th>
                  <th translate>CONTENT_ACTION_V2</th>
                  <th translate>NOTIFICATION_CONTENT_V2</th>
                  <th translate>TIME</th>
                </tr>
                <tr>
                  <td colspan="11"></td>
                </tr>
              </thead>
              <tbody ng-show="!popupManagers.isLoading">
                <tr ng-style="item.status === 1 && {'background':'#dba147'}"
                  ng-repeat="item in popupManagers.tableData track by $index"
                  ui-sref="system.popupManagerDetail({popupManagerId: item.id})">
                  <td>{{popupManagers.tableState.pagination.start + $index+1}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.grades)}}>
                    {{popupManagers.parse(item.grades)}}
                  </td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.track1s)}}>
                    {{popupManagers.parse(item.track1s)}}</td>
                  <td style="max-width: 100px;" class="table-text"
                    title={{popupManagers.parseTitle(item.corporations)}}>
                    {{popupManagers.parse(item.corporations)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.orgUnitLv2s)}}>
                    {{popupManagers.parse(item.orgUnitLv2s)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.orgUnitLv3s)}}>
                    {{popupManagers.parse(item.orgUnitLv3s)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.orgUnitLv4s)}}>
                    {{popupManagers.parse(item.orgUnitLv4s)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.orgUnitLv5s)}}>
                    {{popupManagers.parse(item.orgUnitLv5s)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{popupManagers.parseTitle(item.actions)}}>
                    {{popupManagers.parse(item.actions)}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{item.message}}>{{item.message}}</td>
                  <td style="max-width: 100px;" class="table-text" title={{item.message}}>
                    {{item.effectiveDate.slice(0, 10) + ' - ' + item.expirationDate.slice(0, 10)}}</td>
                  <!-- <td class="table-text" title={{item.effectiveDate}}>{{item.effectiveDate}}</td> -->
                </tr>
              </tbody>
              <tbody ng-show="popupManagers.isLoading">
                <tr>
                  <td colspan="11" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="11" class="text-center">
                    <div st-pagination="" st-items-by-page="popupManagers.tablePageSize" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>