<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel" translate>UNOVERTIME_DETAIL</h4>
        </div>
        <div class="modal-body row" style="padding-left: 30px">
            <div class="col-xs-6">
                <div style="margin-bottom: 10px"><span translate>FULL_NAME</span></div>
                <div style="margin-bottom: 10px"><span translate>EMAIL</span></div>
                <div style="margin-bottom: 10px"><span translate>DATE</span></div>
                <div style="margin-bottom: 10px" ><span translate>START_END</span></div>
                <div style="margin-bottom: 10px" ><span translate>STATUS</span></div>
                <div style="margin-bottom: 10px" ><span translate>PERCENTAGE_EVENT_CODE</span></div>
                <div style="margin-bottom: 10px"><span translate>REASON</span></div>
            </div>
            <div class="col-xs-6">
                <div style="margin-bottom: 10px">{{details.name}}</div>
                <div style="margin-bottom: 10px">{{details.email}}</div>
                <div style="margin-bottom: 10px">{{details.workDate}}</div>
                <div style="margin-bottom: 10px">{{details.startTime}}<span ng-if="details.endTime"> - {{details.endTime}}</span></div>
                <div ng-if="details.statusDestroy == 0 " style="margin-bottom: 10px; color: #7d75b9" translate>DEL_PENDING</div>
                <div ng-if="details.statusDestroy == 1 " style="margin-bottom: 10px; color: #57d662" translate>DEL_ACTIVE</div>
                <div ng-if="details.statusDestroy == 2 " style="margin-bottom: 10px; color: #ef3333" translate>DEL_BLOCKED</div>
                <div ng-if="details.statusDestroy == 2 " style="margin-bottom: 10px" translate>EXPIRED</div>
                <div style="margin-bottom: 10px">{{details.percentage}}%</div>
                <div style="margin-bottom: 10px">{{details.note}}</div>
            </div>
            
            <div class="col-xs-12" style="text-align:right;">
                <button class="btn btn-info btn-xs" ng-click="details.approve(details.id)" ng-show="details.statusDestroy == 0">
                    <i class="ion-checkmark-round" aria-hidden="true"></i>
                    <span style="color: #fff" translate>APPROVE</span>
                </button>
                <button class="btn btn-danger btn-xs" ng-click="details.reject(details.id)" ng-show="details.statusDestroy == 0">
                    <i class="ion-close-round" aria-hidden="true"></i>
                    <span style="color: #fff" translate>REJECT</span>
                </button>
            </div>
        </div>
    </div>