<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="changeManagerInfo.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>

      </div>
    </div>
    <div class="col-md-2">
      <search-checkbox table-state="changeManagerInfo.tableState" default="status.default.status"
        refresh="changeManagerInfo.refresh()" column="status"
        data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:3,label:'DESTROYED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <!-- <div class="col-md-5">
      <div class="row"> -->
    <div class="col-md-2">
      <search-date table-state="changeManagerInfo.tableState" refresh="changeManagerInfo.refresh()" column="startAt"
        label="FROM_DATE" type="greater"></search-date>
    </div>
    <div class="col-md-2">
      <search-date table-state="changeManagerInfo.tableState" refresh="changeManagerInfo.refresh()" column="endAt"
        label="TO_DATE" type="lesser"></search-date>
    </div>
    <!-- </div>
    </div> -->
    <div class="col-md-2">
      <div class="form-group">
        <label><span translate>NATIONALITY</span></label>
        <ui-select style="margin-bottom: 10px" ng-model="changeManagerInfo.nationalitySelected"
          class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true"
          ng-change="changeManagerInfo.refresh()">
          <ui-select-match>
            <span translate>
              {{changeManagerInfo.nationalitySelected.key}}
            </span>
          </ui-select-match>
          <ui-select-choices repeat="item in changeManagerInfo.nations">
            <span ng-bind-html="item.key | translate"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label><span translate>USERS</span></label>
        <ui-select style="margin-bottom: 10px" ng-model="changeManagerInfo.employeeSelected"
          class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true"
          ng-change="changeManagerInfo.refresh()">
          <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
            {{changeManagerInfo.employeeSelected.email}}
          </ui-select-match>
          <ui-select-choices repeat="item in changeManagerInfo.emplyees"
            refresh="changeManagerInfo.refreshEmployee($select.search)">
            <span ng-bind-html="item.email | highlight: $select.search"></span>
            <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
            <span ng-bind-html="item.id | highlight: $select.search" style="float: right;"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'CHANGE_MANAGER_INFO' | translate }}"
          ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="changeManagerInfo.init"
              st-table="changeManagerInfo.tableData">
              <thead>
                <tr>
                  <td colspan="12"></td>
                </tr>
                <tr class="sortable ">
                  <th><label class="" translate>STT</label></th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <th translate>EMPLOYEE_NAME</th>
                  <th translate>HEAD_ORG_UNIT</th>
                  <th translate>HEAD_ORG_UNIT_STATUS</th>
                  <th translate>NEW_MANAGER</th>
                  <th translate>NEW_MANAGER_STATUS</th>
                  <!-- <th translate>PAY_PER_HOUSE</th> -->
                  <th translate>STATUS</th>
                  <th translate>CREATED_AT</th>
                </tr>
                <tr>
                  <td colspan="12"></td>
                </tr>
              </thead>
              <tbody ng-show="!changeManagerInfo.isLoading">
                <tr class="st-row__parent" ng-repeat="item in changeManagerInfo.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label class="">
                      <!-- <input type="checkbox" ng-checked="changeManagerInfo.selected.indexOf(item.id) > -1"  ng-click="changeManagerInfo.toggleSelection(item.id)" ng-if="item.status == 0"> -->
                      <span>{{changeManagerInfo.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <td class="table-text">{{item.userEmail}}</td>
                  <td class="table-text">{{item.oldManagerEmail}}</td>
                  <td class="table-text status-pending" ng-if="item.oldManagerStatus == 0 " translate=>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.oldManagerStatus == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.oldManagerStatus == 2 " translate>BLOCKED</td>
                  <td class="table-text">{{item.newManagerEmail}}</td>
                  <td class="table-text status-pending" ng-if="item.newManagerStatus == 0 " translate=>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.newManagerStatus == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.newManagerStatus == 2 " translate>BLOCKED</td>
                  <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                  <td class="table-text status-destroy" ng-if="item.status == 3 " translate>DESTROYED</td>
                  <td class="table-text">{{item.createdAt}}</td>
                </tr>
              </tbody>
              <tbody ng-show="changeManagerInfo.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="changeManagerInfo.tablePageSize" st-displayed-pages="5">
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>