<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="lowerGrade.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>

      </div>
    </div>
    <!-- <div class="col-md-2">
      <search-checkbox table-state="lowerGrade.tableState" refresh="lowerGrade.refresh()" column="status" default="status.default.status" data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:4,label:'EXPIRED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <search-date table-state="lowerGrade.tableState" refresh="lowerGrade.refresh()" column="startAt" label="Từ ngày" type="greater"></search-date>
        </div>
        <div class="col-md-5">
          <search-date table-state="lowerGrade.tableState" refresh="lowerGrade.refresh()" column="endAt" label="Đến ngày" type="lesser"></search-date>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'MY_EMPLOYEE' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="lowerGrade.init" st-table="lowerGrade.tableData">
              <thead>
                <tr>
                  <td colspan="7"></td>
                </tr>
                <tr class="sortable ">
                  <th>#</th>
                  <th st-sort="fullName" translate>FULL_NAME</th>
                  <th st-sort="email" translate>EMAIL</th>
                  <th st-sort="employeeCode" translate>USER_ID</th>
                  <th st-sort="department" translate>DEPARTMENT</th>
                  <th st-sort="department" translate>SCRIPT_NAME</th>
                  <th translate>ACTION</th>
                </tr>
                <tr>
                  <td colspan="7"></td>
                </tr>
              </thead>
              <tbody ng-show="!lowerGrade.isLoading">
                <tr class="st-row__parent" ng-repeat="item in lowerGrade.tableData track by $index">
                  <td class="table-text table-width stt">
                    {{lowerGrade.tableState.pagination.start + $index+1}}
                  </td>
                  <td class="table-text">{{item.fullName}}</td>
                  <td class="table-text">{{item.email}}</td>
                  <td class="table-text">{{item.id}}</td>
                  <td class="table-text">{{item.department}}</td>
                  <td class="table-text">{{item.scriptName}}</td>
                  <td ng-if="!isForAdmin">
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="lowerGrade.openDetails(item)">
                        <i class=" fa fa-eye" aria-hidden="true"></i>
                        <span translate>VIEW</span>
                      </button>
                    </div>
                  </td>
                  
                  <td ng-if="isForAdmin">
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ui-sref="system.userDetail({userId: item.id})" ng-click="$dismiss()">
                        <i class=" fa fa-eye" aria-hidden="true"></i>
                        <span translate>VIEW</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="lowerGrade.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="lowerGrade.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>