<div>
  <div class="widgets">
    <div class="wid-content" style="max-width: 800px; min-width: 500px; margin: 0 auto;">
      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
          <div class="screen-bar col-xs-12">
            <div class="col-xs-4" style="padding: 0">
              <button type="button" class="btn " ng-click="screen.chooseLeaveRequest()"
                ng-class="screen.screenShow == 'leaveRequest' ? 'approve-screen-active':'approve-screen-btn'"
                translate>LEAVE_REQUEST</button>
            </div>
            <div class="col-xs-4" style="padding: 0">
              <button type="button" class="btn " ng-click="screen.chooseManuallyRecord()"
                ng-class="screen.screenShow == 'manuallyRecord' ? 'approve-screen-active':'approve-screen-btn'"
                translate>MANUALLY_RECORD</button>
            </div>
            <div class="col-xs-4" style="padding: 0">
              <button type="button" class="btn " ng-click="screen.chooseOvertime()"
                ng-class="screen.screenShow == 'overtime' ? 'approve-screen-active':'approve-screen-btn'" 
                translate>OVERTIME</button>
            </div>
          </div>
        </div>
        <div class="col-xs-12" ba-panel>
          <form>
            <div class="row" id="approveScreen">

              <!-- Leave Request -->
              <div id="leaveRequest" ng-show="screen.screenShow == 'leaveRequest'">
                <div ng-include="'app/pages/approvalRecord/screen/leaveRequest.html'"></div>
              </div>

              <!-- Manually Record -->
              <div id="manuallyRecord" ng-show="screen.screenShow == 'manuallyRecord'">
                <div ng-include="'app/pages/approvalRecord/screen/manuallyRecord.html'"></div>
              </div>

              <!-- Over Time-->
              <div id="overTime" ng-show="screen.screenShow == 'overtime'">
                <div ng-include="'app/pages/approvalRecord/screen/overtime.html'"></div>
              </div>

              <!-- Send button-->
              <div class="col-xs-12">
                <div style="text-align:center; margin-top: 10px;"><button type="button"
                    class="btn approve-button btn-with-icon" style="padding: 9px 18px;"
                    ng-click="send()"><i class="ion-checkmark-circled"></i><span
                      translate>SEND</span></button></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>