<div ba-panel ba-panel-class="with-scroll">
  <div class="col-md-12 cold-sm-12" ng-hide="showCheckIn">
    <div class="name-time">
      <h3 class="check-time" style="padding-top: 50px; color: #dbac69;">TOPICA OSSCAR</h3>
      <h5>DOWNLOAD IN APP STORE AND GOOGLE PLAY</h5>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4" style="text-align: center;">
      <img style="
              height: 100;
              width: 100;
              " src="/assets/img/ios_app.png">
              <a target=" _blank"
              href="itms-apps://itunes.apple.com/app/id1452782213"><img class="store-button alignleft wp-image-161 size-full"
                src="/assets/img/apple_store.png" width="300" height="100"/></a>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <img style="
                height: 100;
                width: 100;
                " src="/assets/img/android_app.png">
                <a target="_blank"
                href="https://play.google.com/store/apps/details?id=vn.topica.osscar2"><img
                  class="store-button alignleft wp-image-161 size-full"
                  src="/assets/img/google_play.png" width="300"
                  height="100" /></a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>