$default: #fdfdfd;
$body-bg: #F0F3F4;
$default-text: #3d5170;
$help-text: #007bff;
$label-text: #f5f6f8;

$disabled: #dddddd;
$disabled-bg: tint($disabled, 15%);
$border: #d6d6d6;
$border-light: tint($border, 15%);
$input-border: shade($border, 5%);
$input-background: #fdfdfd;

$sidebar: #fff; //#1C2B36;
$sidebar-text: #3d5170;
$sidebar-active-text: #007bff;
$dropdown-text: #3d5170;
$bootstrap-panel-text: #007bff;
$bootstrap-panel-bg: #fdfdfd;
$mail-box: whitesmoke;
$auth-panel-background: #fdfdfd;
$progress-background: rgba(#000000, 0.07);
$progress-default: rgba(#000000, 0.15);

$primary: #007bff !default;
$info: #007bff !default;
$success: #90b900 !default;
$warning: #ffb400 !default;
$danger: #c4183c !default;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);

$bg-active-sidebar: #fbfbfb;
$tab-text: #007bff;
