<div ba-panel ba-panel-class="" ng-init="init()">
  <script src="angular(.min).js"></script>
<script src="ng-file-upload-shim(.min).js"></script> <!-- for no html5 browsers support -->
<script src="ng-file-upload(.min).js"></script>
  <div class="wid-content">
    <div class="col-md-12" ba-panel ba-panel-title="{{ 'LEAVE_QUOTAS_CONFIGURATION' | translate }}" ba-panel-class="with-scroll">
      <form name="absenderQuotasForm" id="absenderQuotasControl" validate>
        <div class="row">
          <div class="col-md-2">
            <p translate>EMPLOYEE_CODE</p>
            <ui-select style="margin-bottom: 10px" ng-model="leaveQuotasConfig.employeeSelected"
              class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true" on-select="leaveQuotasConfig.selectEmployee()">
              <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}" >
                {{leaveQuotasConfig.employeeSelected.id}}
              </ui-select-match>
              <ui-select-choices repeat="item in leaveQuotasConfig.employees"
                refresh="leaveQuotasConfig.refreshEmployee($select.search)">
                <span ng-bind-html="item.email | highlight: $select.search"></span>
                <span ng-bind-html="item.id | highlight: $select.search" style="float: right;"></span>
                <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2">
            <p translate>REASON_TYPE</p>
            <ui-select style="margin-bottom: 10px" ng-model="leaveQuotasConfig.reasonType"
              class="btn-group bootstrap-select form-control" ng-disabled="false">
              <ui-select-match>
                {{leaveQuotasConfig.reasonType.label | translate}}
              </ui-select-match>
              <ui-select-choices repeat="item in leaveQuotasConfig.reasonTypes">
                <span ng-bind-html="item.label | translate | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2">
            <p translate>LEAVE_DATE_REMAIN</p>
            <p ng-repeat="remainLeave in leaveQuotasConfig.reasonType.buffer">{{remainLeave.item1}}: {{remainLeave.item2}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2"> 
            <p translate>EFFECTED_DATE</p>
            <p class="input-group">
              <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
                ng-model="leaveQuotasConfig.effectiveDate" is-open="leaveQuotasConfig.effectiveDatePopup" datepicker-options="leaveQuotasConfig.dateOptions"
                ng-required="true" close-text="Close" ng-change="leaveQuotasConfig.dateChange()" ng-click="leaveQuotasConfig.onOpenEffectiveDate()" show-button-bar="false"
                ng-readonly="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="leaveQuotasConfig.onOpenEffectiveDate()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-2"> 
            <p translate>EXPIRED_DATE</p>
            <p class="input-group">
              <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
                ng-model="leaveQuotasConfig.expirationDate" is-open="leaveQuotasConfig.expirationDatePopup" datepicker-options="leaveQuotasConfig.dateOptions"
                ng-required="true" close-text="Close" ng-change="leaveQuotasConfig.dateChange()" ng-click="leaveQuotasConfig.onOpenExpirationDate()" show-button-bar="false"
                ng-readonly="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="leaveQuotasConfig.onOpenExpirationDate()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-2">
            <p translate>NUMBER_OF_ADD_DAYS</p>
            <input type="text" required ng-model="leaveQuotasConfig.number">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-info btn-with-icon" style="margin: 9px 18px;" ng-click="leaveQuotasConfig.submit()"><i class="ion-checkmark-circled"></i><span translate>SAVE</span></button>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-3">
            <a href="https://docs.google.com/spreadsheets/d/1_uYPvkrg9pCIe5NsxZqBTffmhTZAmC1AjKYJ5rrRyI8/edit#gid=0" 
                target="_blank" class="btn btn-mm btn-default btn-with-icon">
                <i class="ion-document"></i>Excel Template
            </a>
            <button type="button" class="btn btn-mm btn-info btn-with-icon btn-clear"
            ngf-pattern=".xlsx" accept=".xlsx"
            ngf-select="leaveQuotasConfig.import($file, $invalidFiles)" 
            ngf-max-size="10MB">
            <i class="ion-ios-cloud-upload-outline"></i>
            <span >Import from excel file</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="wid-content">
    <div class="col-md-12" ba-panel ba-panel-title="{{ 'OT_QUOTAS_CONFIGURATION' | translate }}" ba-panel-class="with-scroll"> 
      <form name="otQuotasForm" id="otQuotasControl" validate>
        <div class="row">
          <div class="col-md-2">
            <p translate>EMPLOYEE_CODE</p>
            <ui-select style="margin-bottom: 10px" ng-model="otQuotasConfig.employeeSelected"
              class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true" on-select="otQuotasConfig.selectEmployee()">
              <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}" >
                {{otQuotasConfig.employeeSelected.id}}
              </ui-select-match>
              <ui-select-choices repeat="item in otQuotasConfig.employees"
                refresh="otQuotasConfig.refreshEmployee($select.search)">
                <span ng-bind-html="item.email | highlight: $select.search"></span>
                <span ng-bind-html="item.id | highlight: $select.search" style="float: right;"></span>
                <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-md-2">
            <p translate>OVERTIME_TYPE</p>
            <ui-select style="margin-bottom: 10px" ng-model="otQuotasConfig.groupEventType" on-select="otQuotasConfig.selectGroupEvent()"
              class="btn-group bootstrap-select form-control" ng-disabled="false">
              <ui-select-match>
                {{otQuotasConfig.groupEventType.label | translate}}
              </ui-select-match>
              <ui-select-choices repeat="item in otQuotasConfig.groupEventTypes">
                <span ng-bind-html="item.label | translate | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-xs-2">
            <p translate>MONTH</p>
            <p class="input-group">
              <input type="text" class="form-control approvedByText" uib-datepicker-popup="MM/yyyy"
                ng-model="otQuotasConfig.month" is-open="otQuotasConfig.monthPopup" datepicker-options="otQuotasConfig.monthOptions"
                ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true" ng-click="otQuotasConfig.onOpenMonth()"
                ng-change="otQuotasConfig.changeMonth()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="otQuotasConfig.onOpenMonth()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-2">
            <p translate>CURRENT_OVERTIME_QUOTAS</p>
            <p>{{otQuotasConfig.curQuotas}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p translate>NEW_OVERTIME_QUOTAS</p>
            <input type="text" required ng-model="otQuotasConfig.number" style="margin-bottom: 15px;">
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-info btn-with-icon" style="margin: 9px 18px;" ng-click="otQuotasConfig.submit()"><i class="ion-checkmark-circled"></i><span translate>SAVE</span></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="https://docs.google.com/spreadsheets/d/15NN3OGcv0neWZGrkRaleoAyRFnAjOS_9reYeSGVxffw/edit?usp=sharing" 
                target="_blank" class="btn btn-mm btn-default btn-with-icon">
                <i class="ion-document"></i>Excel Template
            </a>
            <button type="button" class="btn btn-mm btn-info btn-with-icon btn-clear"
            ngf-pattern=".xlsx" accept=".xlsx"
            ngf-select="otQuotasConfig.import($file, $invalidFiles)" 
            ngf-max-size="10MB">
            <i class="ion-ios-cloud-upload-outline"></i>
            <span >Import from excel file</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  