label.custom-checkbox {
  & > input {
    &:disabled {
      & + span {
        color: $default-text;
      }
    }
  }
}
.panel.with-scroll .panel-body {
  padding-bottom: 100px;
}
.body-contact .panel.with-scroll .panel-body {
  padding-bottom: 30px;
}
.td-position {
  position: absolute;
  //top: 85%;
  width: 100%;
  text-align: center;
  border: 0px !important;
  bottom: 30px;
  

}
.td-bottom {
  bottom: -80px;
}
.history-padding {
  padding-bottom: 10px;
}
@media only screen and (max-width: 1000px){
  .td-position{
      display: table-footer-group;
      position: inherit;
  }
}
.margin-pagination ul.pagination.page-of-pages > li > span {
  margin-top: 6px;
}