ul.pagination.page-of-pages {
  & > li {
    & > span {
      padding: 0 12px;
      & > select.form-control, & > input.form-control {
        display: initial;
        width: initial;
        height: 32px;
        border: none;
      }
      & > input.form-control {
        width: 70px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}