tags-input {
  .tags {
    .tag-item {
      color: #FFF;
      background: $primary;
      border: none;
    }
  }
}

tags-input[disabled="disabled"] {
  .tags {
    cursor: default;
    background-color: #FFF;

    .tag-item {
      opacity: 1;
      color: #FFF;
      background: $primary;
      border: none;
      .remove-button {
        display: none;
      }
    }

    .input {
      display: none;
    }
  }
}