<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="myIrrengular.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>

      </div>
    </div>
    <div class="col-md-2">
      <search-checkbox table-state="myIrrengular.tableState" default="status.default.status"
        refresh="myIrrengular.refresh()" column="status"
        data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:3,label:'WAITING_BLOCK'},{value:4,label:'EXPIRED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <search-date table-state="myIrrengular.tableState" refresh="myIrrengular.refresh()" column="startAt"
            label="FROM_DATE" type="greater"></search-date>
        </div>
        <div class="col-md-5">
          <search-date table-state="myIrrengular.tableState" refresh="myIrrengular.refresh()" column="endAt"
            label="TO_DATE" type="lesser"></search-date>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <!-- <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openPopup('app/pages/myAttendance/irregularForMe/widgets/confirmApprove.html', '')">
        <i class="ion-checkmark-round"></i>
        <span translate>COMFIRM_ADD_NOMAL</span>
      </button> -->
    </div>
    <div class="col-md-1">
      <!-- <button type="button" class="btn btn-danger" d ata-toggle="modal" ng-click="openPopup('app/pages/attendanceForMe/irregularForMe/widgets/confirmReject.html', '')">
        <i class="ion-close-round"></i>
        <span translate>CANCEL</span>
      </button> -->
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'ATTENDANCE_MY_IRREGULAR' | translate }}"
          ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="myIrrengular.init" st-table="myIrrengular.tableData">
              <thead>
                <tr>
                  <td colspan="12"></td>
                </tr>
                <tr class="sortable ">
                  <th translate>STT</th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <th st-sort="email" translate>FULL_NAME</th>
                  <!-- <th></th> -->
                  <th st-sort="date" translate>DATE</th>
                  <!-- <th translate>CHECKIN_TIME</th>
                  <th translate>CHECKOUT_TIME</th> -->
                  <th translate>CHECKIN_CHECKOUT</th>
                  <th translate>NOTE</th>
                  <th translate>SYSTEM</th>
                  <th translate>REJECT_REASON</th>
                  <th st-sort="status" translate>STATUS</th>
                  <th translate>APPROVED_TIME</th>
                  <!-- <th translate>MANAGER_NAME</th> -->
                  <th translate>MANAGER_EMAIL</th>
                  <!-- <th translate></th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <th translate ng-if="myIrrengular.employee">ACTION</th>
                </tr>
                <tr>
                  <td colspan="12"></td>
                </tr>
              </thead>
              <tbody ng-show="!myIrrengular.isLoading">
                <tr class="st-row__parent" ng-repeat="item in myIrrengular.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label class="">
                      <!-- <input type="checkbox" ng-checked="myIrrengular.selected.indexOf(item.id) > -1"  ng-click="myIrrengular.toggleSelection(item.id)" ng-if="item.status == 0"> -->
                      <span>{{myIrrengular.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.name}}</td>
                  <!-- <td class="table-text" ng-click="myIrrengular.openDetails(item)">
                    <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                  </td> -->
                  <!-- <td class="table-text table-width stt">
                    <img ng-src="{{item.imageUrl}}" width="20" height="20">
                  </td> -->
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.workDate}}</td>
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.checkInTime}}<span ng-if="item.checkOutTime"> -
                      {{item.checkOutTime}}</span></td>
                  <!-- <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.checkOutTime}}</td> -->
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)" title={{item.note}}>{{item.note}}</td>
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)" title={{item.systemNote}}>{{item.systemNote}}</td>
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)" title={{item.rejectReason}}>{{item.rejectReason}}</td>
                  <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                  <td class="table-text " ng-if="item.status == 3 " translate>WAITING_BLOCK</td>
                  <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  <!-- <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.managerName}}</td> -->
                  <td class="table-text" ng-click="myIrrengular.openDetails(item)">{{item.managerEmail.split('@topica.edu.vn')[0]}}</td>
                  <td style="display: flex;justify-content: flex-start;" ng-if="myIrrengular.employee">
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="myIrrengular.adminApprove(item.id)"
                        ng-disabled="item.status != 0">
                        <i class="ion-checkmark-round" aria-hidden="true"></i>
                        <span translate></span>
                      </button>
                      <button class="btn btn-danger btn-xs" ng-click="myIrrengular.adminReject(item.id)"
                        ng-disabled="item.status != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate></span>
                      </button>
                    </div>
                  </td>
                  <!-- <td class="table-text">{{item.timeSubmit}}</td> -->
                  <!-- <td>
                    <div class="buttons">
                      <button class="btn btn-danger btn-xs" ng-click="myIrrengular.cancel(item.id)"  ng-disabled="item.status != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>CANCEL</span>
                      </button>
                    </div>
                  </td> -->
                  <!-- <td></td> -->
                </tr>
              </tbody>
              <tbody ng-show="myIrrengular.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="myIrrengular.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>