<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-7">
      <div class="form-group col-md-3">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="irrengular.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>
      </div>
      <div class="col-md-2">
        <search-checkbox table-state="irrengular.tableState" refresh="irrengular.refresh()" column="status" default="status.default.status" data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:3,label:'WAITING_BLOCK'},{value:4,label:'EXPIRED'}]"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-md-3">
        <search-date table-state="irrengular.tableState" refresh="irrengular.refresh()" column="startAt" label="FROM_DATE" type="greater"></search-date>
      </div>
      <div class="col-md-3">
        <search-date table-state="irrengular.tableState" refresh="irrengular.refresh()" column="endAt" label="TO_DATE" type="lesser"></search-date>
      </div>
    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-info" data-toggle="modal" ng-click="irrengular.approveRejectAll('approve')" style="margin: 2%;">
        <i class="ion-checkmark-round"></i>
        <span translate>COMFIRM_ADD_NOMAL</span>
      </button>
      <button type="button" class="btn btn-danger" d ata-toggle="modal" ng-click="irrengular.approveRejectAll('reject')" style="margin: 2%;">
        <i class="ion-close-round"></i>
        <span translate>REJECT_ADD_NOMAL</span>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'MY_IRREGULAR' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="irrengular.init" st-table="irrengular.tableData">
              <thead>
                <tr>
                  <td colspan="13"></td>
                </tr>
                <tr class="sortable ">
                  <th>
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-checked="irrengular.isSelectAll" ng-click="irrengular.selectAll(irrengular.tableData)" ng-model="checkbox">
                      <span translate style="font-weight: inherit">All</span>
                    </label>
                  </th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <th st-sort="email" translate>EMAIL</th>
                  <!-- <th></th> -->
                  <th st-sort="date" translate>DATE</th>
                  <th translate>CHECKIN_CHECKOUT</th>
                  <th translate>REASON</th>
                  <th translate>SYSTEM</th>
                  <th st-sort="status" translate>STATUS</th>
                  <!-- <th translate>MANAGER_NAME</th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <th translate>APPROVED_TIME</th>
                  <th translate>ACTION</th>
                  <!-- <th translate>MANAGER_EMAIL</th> -->
                </tr>
                <tr>
                  <td colspan="13"></td>
                </tr>
              </thead>
              <tbody ng-show="!irrengular.isLoading">
                <tr class="st-row__parent" ng-repeat="item in irrengular.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label ng-class=" item.status == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                        <input type="checkbox" ng-checked="irrengular.selected.indexOf(item.id) > -1"  ng-click="irrengular.toggleSelection(item.id)" ng-if="item.status == 0">
                      <span>{{irrengular.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <!-- <td class="table-text">{{item.name}}</td> -->
                  <td class="table-text">
                    <a class="email-link" ng-href="mailto:{{item.email}}" title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                  </td>
                  <!-- <td class="table-text table-width stt">
                    <img ng-src="{{item.imageUrl}}" width="20" height="20">
                  </td> -->
                  <td class="table-text-small" ng-click="irrengular.openDetails(item)">{{item.workDate}}</td>
                  <td class="table-text" ng-click="irrengular.openDetails(item)">{{item.checkInTime}}<span ng-if="item.checkOutTime"> - {{item.checkOutTime}}</span></td>
                  <td class="table-text" ng-click="irrengular.openDetails(item)" title={{item.note}}>{{item.note}}</td>
                  <td class="table-text" ng-click="irrengular.openDetails(item)" title={{item.systemNote}}>{{item.systemNote}}</td>
                  <td class="table-text status-pending" ng-click="irrengular.openDetails(item)" ng-if="item.status == 0 " translate>
                    <p>PENDING</p>
                  </td>
                  <td class="table-text status-approval" ng-click="irrengular.openDetails(item)" ng-if="item.status == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-click="irrengular.openDetails(item)" ng-if="item.status == 2 " translate>BLOCKED</td>
                  <td class="table-text" ng-click="irrengular.openDetails(item)" ng-if="item.status == 3 " translate>WAITING_BLOCK</td>
                  <td class="table-text status-expired" ng-click="irrengular.openDetails(item)" ng-if="item.status == 4 " translate>EXPIRED</td>
                  <td class="table-text" >{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  <td>
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="irrengular.approve(item.id)" ng-disabled="item.status != 0">
                        <i class="ion-checkmark-round" aria-hidden="true"></i>
                        <span translate>APPROVE</span>
                      </button>
                      <button class="btn btn-danger btn-xs" ng-click="irrengular.reject(item.id)" ng-disabled="item.status != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>REJECT</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="irrengular.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="irrengular.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>