<div class="st-filter clearfix" ng-controller="ReportWrong2Ctrl as vm">
    <div ng-init="vm.init()">
        <div class="widgets">
            <div class="wid-content">
                <div class="row">
                    <div class="col-md-9">
                        <div ng-if="!vm.isForAdmin" style="font-weight: 500;">
                            <span translate>REPORT_WRONG_LINE_1</span>
                            <a href="http://listmaster.topica.asia/dashboard/sap-project" target="_blank" style="color: blue;" translate>HERE</a>
                            <span translate>REPORT_WRONG_LINE_2</span>
                        </div>
                        <div ng-if="vm.isForAdmin">
                            <p translate style="font-weight: 500;">SELECT_MONTH</p>
                            <p class="input-group">
                                <input type="text" class="form-control approvedByText" uib-datepicker-popup="MM/yyyy"
                                    ng-model="dataExport.date" is-open="datePopup.monthOpend"
                                    datepicker-options="monthOptions" ng-required="true" close-text="Close"
                                    show-button-bar="false" ng-readonly="true" ng-click="onDateClick()"
                                    ng-change="changeMonth()" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="onDateClick()"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-3"></div> -->
                    <div class="col-md-3">
                        <div style="text-align: right;padding: 0px;margin: 0px 0px;"">
                                    <div style=" margin-bottom: 10px;text-align: end;"
                            ng-if="!vm.isForAdmin && vm.isGetDataOk">
                            <p ng-if="vm.isReport"
                                style=" font-style: italic; display: inline; margin-right: 10px; font-size: 13px; "
                                translate>
                                PLEASE_REPORT</p>
                            <!-- <button ng-if="vm.isReport" type=" button" class="btn btn-danger btn-with-icon" ng-click="vm.onReportForm()" -->
                            <button ng-disabled="!vm.isGetDataOk" type=" button" class="btn btn-danger btn-with-icon"
                                ng-click="vm.onReportForm()" translate><i
                                    class="{{!vm.isEdit ? 'ion-android-warning' : 'fa fa-chevron-left'}}"></i>{{!vm.isEdit ? 'REPORT_ALLOCATION' : 'BACK'}}</button>
                            <button ng-disabled="!vm.isGetDataOk" ng-if="vm.isReport || vm.isEdit " type="button"
                                class="btn btn-success btn-with-icon" ng-click="vm.onConfirmForm()" translate><i
                                    class="ion-android-checkmark-circle"></i>{{!vm.isEdit ? 'CONFIRM' : 'SAVE_INFO'}}</button>
                        </div>
                        <div style="margin-top: 5px;font-weight: 400;">
                            <p translate>CONTACT_REPORT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!vm.isGetDataOk" style="padding-top: 30px;text-align: center;">
            <p translate>LOADING</p>
        </div>
        <div ng-repeat="listData in vm.card track by $index" ng-if="vm.isGetDataOk">
            <div ng-if="listData.header.value">
                <p ng-style="listData.header.style" translate="">{{listData.header.value}}</p>
            </div>
            <div style="padding-bottom: 20px;">
                <div class="row" ng-repeat="data in listData.title track by $index">
                    <div class="{{item.class}}" ng-repeat="item in data track by $index">
                        <div style="display: flex;">
                            <p style="font-weight: 500;margin-right: 2px;" translate>{{ item.titleBold}}</p>
                        </div>
                    </div>
                </div>
                <div class="row" ng-repeat="data in listData.data track by $index" style="margin-bottom: 10px;margin-left: 0px;margin-right: 0px;"
                    ng-init="lineIndex=$index">
                    <div class="{{item.class}}" ng-repeat="item in data" style="padding-top: 20px;padding-left: 3px;padding-right: 3px;"
                        ng-if="listData.key !== 'projectList' || (listData.key === 'projectList') && item.class">
                        <!-- For title -->
                        <div ng-if="listData.data.indexOf(data) === 0 || vm.width < 1110">
                            <div>
                                <span class="reportTitle" title=" {{ item.title.titleTranslate }} " translate>
                                    {{item.title.titleBold}}</span>
                            </div>
                        </div>
                        <!-- For select -->
                        <ui-select title="{{item.value.value.replace(' ||| ', ' - ')}}" ng-style="{ 'background' : (item.isColor ) ? '#e3e3f9' : 'none' }" ng-model="item.value" ng-if="item.type === 'select'"
                            ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            ng-change="vm.onChangeValue(item.refreshChild,item.autoKey, lineIndex, listData.key, item.value)"
                            class="btn-group bootstrap-select form-control disable-text" search-enabled="true"
                            append-to-body="true">
                            <ui-select-match class="disable-text" placeholder="{{ '' | translate }}">
                                {{item.value.value.replace(' ||| ', ' - ') }}
                            </ui-select-match>
                            <ui-select-choices repeat="itemSelect in vm[item.data] | filter: {value: $select.search}"
                                refresh="refreshData($select.search)">
                                <span
                                    ng-bind-html="itemSelect.value.replace(' ||| ', ' - ') | highlight: $select.search" title="{{itemSelect.value.replace(' ||| ', ' - ')}}"></span>
                            </ui-select-choices>
                        </ui-select>
                        <!-- For date -->
                        <input type="text" ng-style="{ 'background' : (item.isColor ) ? '#e3e3f9' : 'none' }" ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            class="form-control disable-text" ng-if="item.type === 'date'"
                            uib-datepicker-popup="dd/MM/yyyy" datepicker-options="item.validate" ng-model="item.value" init-date="2019-01-01"
                            is-open="item.isOpen" ng-required="true" close-text="Close"
                            ng-click="vm.openDatePopup(item, data)" show-button-bar="false" ng-readonly="false" />
                        <!-- For number -->
                        <input type="number" ng-style="{ 'background' : (item.isColor ) ? '#e3e3f9' : 'none' }" ng-disabled="item.disable || !vm.isEdit || data.lineDisable" min="10"
                            max="100" class="form-control" ng-change="vm.calulLongTerm()" ng-model="item.value"
                            ng-if="item.type === 'number' && !item.isHide" >
                        <!-- For text -->
                        <input type="text" ng-style="{ 'background' : (item.isColor ) ? '#e3e3f9' : 'none' }" ng-disabled="item.disable || !vm.isEdit || data.lineDisable"
                            class="form-control" ng-model="item.value" ng-if="item.type === 'input'">
                        <!-- For button -->
                        <button type="button" style=" text-align: -webkit-center;"
                            ng-click="vm.onRemoveItem(listData.key, data)"
                            ng-disabled="item.disable || !vm.isEdit || data.lineDisable" ng-if="item.type === 'button'"
                            class="btn btn-danger btn-raised"> <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
                <div style="display: flex;margin-top: 5px;">
                    <button ng-disabled="item.disable || !vm.isEdit" type="button"
                        style="text-align: left;background-color: #aad2f54f;" ng-if="listData.footer.type === 'link'"
                        ng-click="vm.openLink()" class="btn btn-outline-primary">
                        <i style="font-size: 12px;color: blue;" translate> {{listData.footer.value}}</i>
                    </button>
                    <button ng-disabled="item.disable || !vm.isEdit" type="button"
                        style="text-align: left;background-color: #aad2f54f;margin-left: 10px" ng-if="listData.footer2.type === 'button'"
                        ng-click="vm.onAddItem()" class="btn btn-outline-primary">
                        <i style="font-size: 12px;color: blue;" translate> {{listData.footer2.value}}</i>
                    </button>
                    <i style="font-size: 12px;white-space: pre-line;" ng-if="listData.footer.type == 'text'"
                        translate>
                        {{listData.footer.value}}
                    </i>
                    <!-- <a href="https://sdoc.topica.vn" target="_blank" style="font-size: 12px;white-space: pre-line;color: blue" ng-if="listData.footer.type == 'link'"
                        translate>
                        {{listData.footer.value}}
                    </i> -->
                </div>
            </div>
        </div>
    </div>
</div>