<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-7">
      <div class="col-md-3">
        <div class="form-group">
          <label> <span translate>ROWS_ON_PAGE</span></label>
          <select class="form-control" ng-model="unLeave.tablePageSize" ng-options="i for i in [10,25,50]">
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <search-checkbox table-state="unLeave.tableState" refresh="unLeave.refresh()" column="status" default="status.default.status" data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:4,label:'EXPIRED'}]"
          label="STATUS">
        </search-checkbox>
      </div>
      <div class="col-md-3">
        <search-date table-state="unLeave.tableState" refresh="unLeave.refresh()" column="startAt" label="FROM_DATE" type="greater"></search-date>
      </div>
      <div class="col-md-3">
        <search-date table-state="unLeave.tableState" refresh="unLeave.refresh()" column="endAt" label="TO_DATE" type="lesser"></search-date>
      </div>
    </div>
    <div class="col-md-5">
      <button type="button" class="btn btn-info" data-toggle="modal" ng-click="unLeave.approveRejectAll('approve')" style="margin: 2%;">
        <i class="ion-checkmark-round"></i>
        <span translate>COMFIRM_ADD_NOMAL</span>
      </button>
      <button type="button" class="btn btn-danger" d ata-toggle="modal" ng-click="unLeave.approveRejectAll('reject')" style="margin: 2%;">
        <i class="ion-close-round"></i>
        <span translate>REJECT_ADD_NOMAL</span>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'UN_LEAVE' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="unLeave.init" st-table="unLeave.tableData">
              <thead>
                <tr>
                  <td colspan="14"></td>
                </tr>
                <tr class="sortable ">
                  <th>
                    <label class="custom-checkbox">
                        <input type="checkbox" ng-checked="unLeave.isSelectAll" ng-click="unLeave.selectAll(unLeave.tableData)" ng-model="checkbox">
                        <span translate style="font-weight: inherit">All</span>
                    </label>
                  </th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <th st-sort="email" translate>EMAIL</th>
                  <!-- <th></th> -->
                  <th st-sort="date" translate>DATE</th>
                  <th translate>REASON</th>
                  <th st-sort="status" translate>STATUS</th>
                  <th translate>APPROVED_TIME</th>
                  <!-- <th translate>MANAGER_NAME</th> -->
                  <!-- <th translate>MANAGER_EMAIL</th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <th translate>TOTAL_PAID_LEAVE_TOTAl_UNPUL_LEAVE</th>
                  <th translate>ACTION</th>
                  <!-- <th translate>TOTAL_UNLEAVE_DATE</th>
                  <th translate>TOTAL_PAID_UNLEAVE</th>
                  <th translate>TOTAl_UNPUL_UNLEAVE</th> -->
                </tr>
                <tr>
                  <td colspan="14"></td>
                </tr>
              </thead>
              <tbody ng-show="!unLeave.isLoading">
                <tr class="st-row__parent" ng-repeat="item in unLeave.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label ng-class=" item.statusDestroy == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                        <input type="checkbox" ng-checked="unLeave.selected.indexOf(item.id) > -1"  ng-click="unLeave.toggleSelection(item.id)" ng-if="item.statusDestroy == 0">
                      <span>{{unLeave.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <!-- <td class="table-text">{{item.name}}</td> -->
                  <td class="table-text">
                    <a class="email-link" ng-href="mailto:{{item.email}}" title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                  </td>
                  <!-- <td class="table-text table-width stt">
                    <img ng-src="{{item.imageUrl}}" width="20" height="20">
                  </td> -->
                  <td class="table-text" ng-click="unLeave.openDetails(item)">{{item.leaveTime}}</td>
                  <td class="table-text" ng-click="unLeave.openDetails(item)" title={{item.note}}>{{item.note}}</td>
                  <td class="table-text status-pending" ng-click="unLeave.openDetails(item)" ng-if="item.statusDestroy == 0 " translate>DEL_PENDING</td>
                  <td class="table-text status-approval" ng-click="unLeave.openDetails(item)" ng-if="item.statusDestroy == 1 " translate>DEL_ACTIVE</td>
                  <td class="table-text status-reject" ng-click="unLeave.openDetails(item)" ng-if="item.statusDestroy == 2 " translate>DEL_BLOCKED</td>
                  <td class="table-text status-expired" ng-click="unLeave.openDetails(item)" ng-if="item.statusDestroy == 4 " translate>EXPIRED</td>
                  <td class="table-text" >{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  
                  <!-- <td class="table-text">{{item.managerName}}</td> -->
                  <!-- <td class="table-text">{{item.managerEmail}}</td> -->
                  <!-- <td class="table-text">{{item.timeSubmit}}</td> -->
                  <td class="table-text"  ng-click="unLeave.openDetails(item)">{{item.totalPaidLeave}} / {{item.totalUnpaidLeave}}</td>
                  <td>
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="unLeave.approve(item.id)" ng-disabled="item.statusDestroy != 0">
                        <i class="ion-checkmark-round" aria-hidden="true"></i>
                        <span translate>APPROVE</span>
                      </button>
                      <button class="btn btn-danger btn-xs" ng-click="unLeave.reject(item.id)" ng-disabled="item.statusDestroy != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>REJECT</span>
                      </button>
                    </div>
                  </td>
                  <!-- <td class="table-text">{{item.totalLeaveDate}}</td>
                  <td class="table-text">{{item.totalPaidLeave}}</td>
                  <td class="table-text">{{item.totalUnpaidLeave}}</td> -->
                </tr>
              </tbody>
              <tbody ng-show="unLeave.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="unLeave.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>