<div class="st-filter clearfix" ng-init="getEventsGroup()">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="myOvertime.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <search-checkbox table-state="myOvertime.tableState" refresh="myOvertime.refresh()"
        default="status.default.status" column="status"
        data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:4,label:'EXPIRED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <search-date table-state="myOvertime.tableState" refresh="myOvertime.refresh()" column="startAt"
            label="FROM_DATE" type="greater"></search-date>
        </div>
        <div class="col-md-5">
          <search-date table-state="myOvertime.tableState" refresh="myOvertime.refresh()" column="endAt" label="TO_DATE"
            type="lesser"></search-date>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <!-- <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openPopup('app/pages/attendanceForMe/overtimeForMe/widgets/confirmApprove.html', '')">
          <i class="ion-checkmark-round"></i>
          <span translate>COMFIRM_ADD_NOMAL</span>
        </button> -->
    </div>
    <div class="col-md-1">
      <!-- <button type="button" class="btn btn-danger" d ata-toggle="modal" ng-click="openPopup('app/pages/attendanceForMe/overtimeForMe/widgets/confirmReject.html', '')">
          <i class="ion-close-round"></i>
          <span translate>CANCEL</span>
        </button> -->
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'ATTENDANCE_MY_OVERTIME' | translate }}"
          ba-panel-class="with-scroll">
          <div class="table-responsive">
            <!-- <table>
              <tr>
                <td class="table-text table-width stt" ng-repeat="item in eventsGroup track by $index">
                  <label class="custom-checkbox" style="margin-left: 15px; margin-right: 35px; margin-bottom: 20px;">
                    <input type="checkbox" ng-checked="eventsChecked.indexOf(item.id) != -1"
                      ng-click="onChangeEventsGroup(item.id)">
                    <span>{{item.description}}</span>
                  </label>
                </td>
              </tr>
            </table> -->
            <ul class="navbar-nav" ng-repeat="item in eventsGroup track by $index"
              style="list-style-type: none;padding-left: 15px;">
              <li class="nav-item">
                <label class="custom-checkbox" style=" margin-bottom: 20px;">
                  <input type="checkbox" ng-checked="eventsChecked.indexOf(item.id) != -1"
                    ng-click="onChangeEventsGroup(item.id)">
                  <span>{{item.description}}</span>
                </label>
              </li>
            </ul>
            <table class="table table-hover st-table" st-pipe="myOvertime.init" st-table="myOvertime.tableData">
              <thead>
                <tr>
                  <td colspan="15"></td>
                </tr>
                <tr class="sortable ">
                  <th translate>
                    STT
                  </th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <!-- <th st-sort="email" translate>EMAIL</th> -->
                  <!-- <th></th> -->
                  <!-- <th st-sort="date" translate>DATE</th> -->
                  <!-- <th translate>CHECKIN_TIME</th>
                        <th translate>CHECKOUT_TIME</th> -->
                  <th translate>START_END</th>
                  <th translate>NOTE</th>
                  <th st-sort="status" translate>STATUS</th>
                  <th translate>REJECT_REASON</th>
                  <th translate>APPROVED_TIME</th>
                  <!-- <th translate>PERCENTAGE_EVENT_CODE</th> -->
                  <!-- <th translate>EVENT_TYPE</th> -->
                  <th translate>SK_CODE</th>
                  <th translate>REMUNERATION</th>
                  <!-- <th translate>PAY_PER_HOUSE</th> -->
                  <!-- <th translate>PERCENTAGE</th> -->
                  <!-- <th translate>MANAGER_NAME</th> -->
                  <!-- <th translate>MANAGER_EMAIL</th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <th translate>MANAGER_EMAIL</th>
                  <th translate>ACTION</th>
                  <!-- <th translate>TIME_UPDATE</th> -->
                </tr>
                <tr>
                  <td colspan="15"></td>
                </tr>
              </thead>
              <tbody ng-show="!myOvertime.isLoading">
                <tr class="st-row__parent" ng-repeat="item in myOvertime.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label class="">
                      <!-- <input type="checkbox" ng-checked="myOvertime.selected.indexOf(item.id) > -1"  ng-click="myOvertime.toggleSelection(item.id)" ng-if="item.status == 0"> -->
                      <span>{{myOvertime.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <!-- <td class="table-text">{{item.name}}</td> -->
                  <!-- <td class="table-text">
                          <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                        </td> -->
                  <!-- <td class="table-text table-width stt">
                          <img ng-src="{{item.imageUrl}}" width="20" height="20">
                        </td> -->
                  <!-- <td class="table-text">{{item.workDate}}</td> -->
                  <td class="table-text" ng-click="myOvertime.openDetails(item)">
                    <div><span>{{item.workDate}}</span></div>
                    <div>{{item.startTime}}<span ng-if="item.endTime"> - {{item.endTime}}</span></div>
                  </td>
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.startTime}}</td>
                        <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.endTime}}</td> -->
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.startTime}}<span ng-if="item.endTime"> - {{item.endTime}}</span></td> -->
                  <td class="table-text" ng-click="myOvertime.openDetails(item)" title={{item.note}}>{{item.note}}</td>
                  <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                  <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                  <td class="table-text" ng-click="myOvertime.openDetails(item)" title={{item.rejectReason}}>{{item.rejectReason}}</td>
                  <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.eventCode}}</td>
                        <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.percentage}}</td> -->
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)" title={{item.event}}>{{item.percentage}}%</td> -->
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)" title={{item.groupEventName}}>{{item.groupEventName}}</td> -->
                  <td class="table-text" ng-click="myOvertime.openDetails(item)" title={{item.event}}>{{item.event}}</td>
                  <td class="table-text table-width stt" title={{item.payPerHour}} ng-click="myOvertime.openDetails(item)">{{item.remuneration}}</td>
                  <!-- <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.managerName}}</td> -->

                  <td class="table-text" ng-click="myOvertime.openDetails(item)">{{item.managerEmail.split('@topica.edu.vn')[0]}}</td>
                  <td ng-if="!myOvertime.employee">
                    <div class="buttons">
                      <button class="btn btn-danger btn-xs" ng-click="myOvertime.cancel(item.id)"
                        ng-disabled="item.statusDestroy != -1">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>CANCEL</span>
                      </button>
                    </div>
                  </td>
                  <td style="display: flex;justify-content: flex-start;" ng-if="myOvertime.employee">
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="myOvertime.adminApprove(item.id)"
                        ng-disabled="item.status != 0">
                        <i class="ion-checkmark-round" aria-hidden="true"></i>
                        <span translate></span>
                      </button>
                      <button class="btn btn-danger btn-xs" ng-click="myOvertime.adminReject(item.id)"
                        ng-disabled="item.status != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate></span>
                      </button>
                    </div>
                  </td>
                  <!-- <td class="table-text">{{item.timeSubmit}}</td> -->
                </tr>
              </tbody>
              <tbody ng-show="myOvertime.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="myOvertime.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>