@-webkit-keyframes pulsate {
    30% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    35% {
      opacity: 1.0;
    }
    40% {
      -webkit-transform: scale(1.2, 1.2);
      opacity: 0.0;
    }
  }
  
  .al-lang-center {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-right: 20px;
  
    li {
      list-style: none;
      float: left;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      & > a {
        color: $sidebar-text;
        text-decoration: none;
        font-size: 13px;
        position: relative;
        display: flex;
        align-items: center;
        span {
          min-width: 10px;
          padding: 2px 10px 2px 4px;
          color: $sidebar-text;
          vertical-align: baseline;
          white-space: nowrap;
          text-align: center;
          font-size: 11px;
        }
        .current-lang {
          // border: 1px solid $danger;
          width: 30px;
          animation: pulsate 8s ease-out;
          animation-iteration-count: infinite;
          opacity: 1.0;
          
          .img-lang {
            display: block;
            max-width: 100%;
          }
        }
  
        &:hover {
          color: $danger;
          &.msg {
            color: $primary;
          }
        }
        &.msg {
          span {
            background-color: $primary;
          }
          .notification-ring {
            border-color: $primary;
          }
        }
      }
      &.open {
        & > a {
          color: $danger;
          &.msg {
            color: $primary;
          }
        }
      }
    }
  }
  
  @media (max-width: $resXXS) {
    .al-lang-center {
      margin-right: 20px;
      li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  
  .msg-block-header {
    display: inline-block;
    padding: 0;
    font-size: 13px;
    margin: 0 0 0 6px;
  }
  
  .lang-dropdown-menu {
    width: 160px;
    left: auto;
    right: -47px;
    top: 26px;
    @include scrollbars(.4em, rgba(0,0,0,0.5), #fff);
    .header {
      padding: 10px 12px;
      border-bottom: 1px solid $default;
      font-size: 12px;
      strong {
        float: left;
        color: $dropdown-text;
      }
      & > a {
        float: right;
        margin-left: 12px;
        text-decoration: none;
        &:hover {
          color: $dropdown-text;
        }
      }
    }
    .lang-list {
      max-height: 296px;
      overflow: scroll;
      overflow-x: hidden;
      & > a {
        border-top: 1px solid $default;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $dropdown-text;
        font-size: 12px;

        &:first-child {
          border-top: none;
        }
        .img-area {
          img {
            width: 33px;
            &.photo-msg-item{
              border-radius: 18px;
            }
          }
          & > div {
            width: 36px;
            height: 36px;
            border-radius: 4px;
            font-size: 24px;
            text-align: center;
            &.comments {
              color: $warning;
            }
            &.orders {
              color: $warning;
            }
            i {
              width: 36px;
              line-height: 36px;
            }
          }
        }
        .text-area {
          padding-left: 12px;
          div {
            max-height: 34px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          span {
            font-style: italic;
            text-align: right;
            display: block;
            font-size: 11px;
          }
        }
        &:hover {
          background: #E2F0FF;
        }
      }
    }
    & > a {
      border-top: 1px solid $default;
      display: flex;
      text-align: center;
      padding: 10px;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: $dropdown-text;
      }
    }
  
    &.profile-dropdown {
      width: 145px;
      top: 55px;
      right: -25px;
      a {
        text-align: left;
        border: none;
        text-decoration: none;
        color: $dropdown-text;
        padding: 4px 16px 4px 20px;
        &.signout {
          border-top: 1px solid $default;
        }
        i {
          margin-right: 10px;
        }
        &:hover {
          background: #f4fcff;
        }
      }
      i.dropdown-arr {
        right: 25px;
      }
    }
  
    i.dropdown-arr {
      position: absolute;
      top: -22px;
      right: 42px;
      display: block;
      width: 0;
      height: 0;
      border: 11px solid transparent;
      border-bottom-color: rgba(0, 0, 0, .15);
      &:after {
        top: -9px;
        left: 0px;
        margin-left: -10px;
        content: " ";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $default;
      }
    }
  }
  
  @media (max-width: 415px) {
    .lang-dropdown-menu {
      right: -81px;
      i.dropdown-arr {
        right: 75px;
      }
    }
  }