.page-top {
  background-color: $sidebar;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);
  height: 66px;
  width: 100%;
  min-width: $resMin;
  padding: 0 32px 0 40px;

  &.scrolled {
    background-color: $sidebar
  }
}

a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;
  text-transform: uppercase !important;
  font-weight: 700;

  span {
    color: $primary;
  }
}

.user-profile {
  float: right;
  min-width: 100px;
  margin-top: 10px;
  .user-profile__container {
    display: flex;
    align-content: center;
    align-items: center;
    .al-user-profile, .al-lang-center {
      width: 50%;
    }
    .al-user-profile {
      position: relative;
      &::before {
        content: '';
        height: 70%;
        width: 1px;
        position: absolute;
        top: 5px;
        left: 0;
        bottom: 10px;
        background-color: #777;
      }
    }
  }
}

.al-user-profile {
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  border: 0;
  opacity: 1;
  position: relative;
  display: block;

  &::before {
    height: 100%;
    width: 1px;
    float: left;
    background-color: #777;
  }

  a {
    display: block;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .al-user-profile__show {
    display: flex;
    align-items: right;
    h6 {
      color: #fff;
      text-align: right;
      padding-right: 15px;
      margin-bottom: 0;
    }
  }
}

.user-name {
  width: 150px;
  margin-right: 30px;
  margin-top: 10px;
  color: #FFF;
  text-align: right;
}
@media screen and (max-width: 600px){
  .user-name{
    visibility: hidden;
    display: none;
  }
}

.button-report {
  margin-right: 10px;
}

a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: $sidebar-text;
  padding: 0;
  float: left;
  margin: 11px 0 0 25px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.search {
  text-shadow: none;
  color: $sidebar-text;
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s ease;
  white-space: nowrap;
  overflow: hidden;
  //width: 162px;
  float: left;
  margin: 20px 0 0 110px;
  label {
    cursor: pointer;
  }
  i {
    width: 16px;
    display: inline-block;
    cursor: pointer;
    padding-left: 1px;
    font-size: 16px;
    margin-right: 13px;
  }
  input {
    background: none;
    border: none;
    outline: none;
    width: 120px;
    padding: 0;
    margin: 0 0 0 -3px;
    height: 27px;
  }
  a.create-order {
    margin-right: 20px;
  }
  a {
    border-radius: 0;
    min-width: 190px;
  }
}

@media screen and (max-width: $resS) {
  .search {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}
