<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" ng-if="employee.status == '0'" translate>CHOOSE_ACTIVE_DATE</h4>
      <h4 class="modal-title" ng-if="employee.status == '1'" translate>CHOOSE_DEACTIVE_DATE</h4>
    </div>
    <div class="modal-body row">
      <div class="col-sm-12">
        <h4 translate>EFFECTED_DATE</h4>
        <p class="input-group">
          <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="date.date" is-open="date.datePopup" datepicker-options="date.dateOptions"
            ng-required="true" close-text="Close" ng-click="date.onOpenDate()" show-button-bar="false"
            ng-readonly="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="date.onOpenDate()"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()"
        translate>CANCEL</button>
      <button type="button" class="btn btn-primary" ng-click="confirm()"
        translate>CONFIRM</button>
    </div>
  </div>