<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>{{changeInfo.title}}</h4>
  </div>
  <div class="modal-body row">
    <div class="col-sm-6">
      <h4 translate>{{changeInfo.label}}</h4>
      <ui-select style="margin-bottom: 10px" ng-model="changeInfo.selected"
        class="btn-group bootstrap-select form-control" ng-disabled="false"
        ng-change="changeInfo.chosseScript()">
        <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
          {{changeInfo.selected}}
        </ui-select-match>
        <ui-select-choices repeat="item in changeInfo.listData">
          <span ng-bind-html="item"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-6" ng-show="changeInfo.selected != changeInfo.current">
      <h4 translate>EFFECTED_DATE</h4>
      <p class="input-group">
        <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
          ng-model="changeInfo.effectiveDate" is-open="changeInfo.datePopup" datepicker-options="changeInfo.dateOptions"
          ng-required="true" close-text="Close" ng-change="changeInfo.dateChange()" ng-click="changeInfo.onOpenDate()" show-button-bar="false"
          ng-readonly="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="changeInfo.onOpenDate()"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()"
      translate>CANCEL</button>
    <button type="button" class="btn btn-primary" ng-click="changeInfo.saveChange()"
      translate>SAVE</button>
  </div>
</div>