<div>
    <div class="widgets">
      <div>
        <div class="row">
          <div class="col-xs-12">
            <div class="screen-bar col-xs-12" style="margin-bottom: 20px;">
              <div class="col-xs-4" style="padding: 0">
                <button type="button" class="btn " ng-click="screen.chooseLeave()"
                  ng-class="screen.screenShow == 'myLeave' ? 'approve-screen-active':'approve-screen-btn'"
                  translate>MY_LEAVE</button>
              </div>
              <div class="col-xs-4" style="padding: 0">
                <button type="button" class="btn " ng-click="screen.chooseIrregular()"
                  ng-class="screen.screenShow == 'myIrregular' ? 'approve-screen-active':'approve-screen-btn'"
                  translate>MY_IRREGULAR</button>
              </div>
              <div class="col-xs-4" style="padding: 0">
                <button type="button" class="btn " ng-click="screen.chooseOvertime()"
                  ng-class="screen.screenShow == 'myOvertime' ? 'approve-screen-active':'approve-screen-btn'" 
                  translate>MY_OVERTIME</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12" ba-panel>
            <form>
              <div class="row" id="approveScreen">
  
                <!-- Leave Request -->
                <div id="leaveRequest" ng-show="screen.screenShow == 'myLeave'" ng-controller="MyLeaveCtrl">
                  <div ng-include="'app/pages/myAttendance/myLeave/myLeave.html'" ng-init="myLeave.employee = employee"></div>
                </div>
  
                <!-- Manually Record -->
                <div id="manuallyRecord" ng-show="screen.screenShow == 'myIrregular'" ng-controller="MyIrregularCtrl">
                  <div ng-include="'app/pages/myAttendance/myIrregular/myIrregular.html'" ng-init="myIrrengular.employee = employee"></div>
                </div>
  
                <!-- Over Time-->
                <div id="overTime" ng-show="screen.screenShow == 'myOvertime'" ng-controller="MyOvertimeCtrl">
                  <div ng-include="'app/pages/myAttendance/myOvertime/myOvertime.html'" ng-init="myOvertime.employee = employee"></div>
                </div>
  
                <!-- Send button-->
                <!-- <div class="col-xs-12">
                  <div style="text-align:center; margin-top: 10px;"><button type="button"
                      class="btn approve-button btn-with-icon" style="padding: 9px 18px;"
                      ng-click="send()"><i class="ion-checkmark-circled"></i><span
                        translate>SEND</span></button></div>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>