<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>CHECK_LEAVE_FUND</h4>
  </div>
  <div class="modal-body row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="5"></td>
          </tr>
          <tr class="sortable ">
            <th translate>LEAVE_TYPE_GROUP</th>
            <th translate>LEAVE_TYPE</th>
            <th translate>PAID_LEAVE</th>
            <th translate>BUFFER</th>
            <th translate>EXPIRATION_DATE</th>
          </tr>
          <tr>
            <td colspan="5"></td>
          </tr>
        </thead>
        <tbody ng-show="!lowerGrade.isLoading">
          <tr class="st-row__parent" ng-repeat="item in leaveShow">
            <td class="table-text">{{item.name}}</td>
            <td class="table-text">{{item.subName}}</td>
            <td class="table-text">{{item.hasPaidLeave}}</td>
            <td class="table-text">{{item.buffer}}</td>
            <td class="table-text">{{item.expirationDate}}</td>
            <!-- <td>
              <div class="buttons">
                <button class="btn btn-info btn-xs" ng-click="lowerGrade.openDetails(item)">
                  <i class=" fa fa-eye" aria-hidden="true"></i>
                  <span translate>VIEW</span>
                </button>
              </div>
            </td> -->
          </tr>
        </tbody>
        <tbody ng-show="lowerGrade.isLoading">
          <tr class="st-row__parent action">
            <td colspan="8" class="text-center" translate>LOADING</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
    <button type="button" class="btn btn-primary" ng-click="$dismiss()" translate>SAVE</button>
  </div>
</div>