<div ba-panel ba-panel-class="" ng-init="user.init()">
  <form name="userForm" id="userControl" novalidate>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-default btn-with-icon" permission="Users.GetAll" ng-click="user.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <span translate>BACK</span>
        </button>
      </div>
      <div class="col-xs-6 text-right">
        <button type="button" class="btn btn-info btn-with-icon" permission="Users.Update" ng-click="user.showEdit()"
          ng-if="user.isEdit">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <span translate>EDIT</span>
        </button>
        <button type="button" class="btn btn-default btn-with-icon" ng-click="user.reload()"
          ng-if="!user.isCreateMode&&user.isSave">
          <i class="fa fa-undo" aria-hidden="true"></i>
          <span translate>CANCEL</span>
        </button>
        <button type="submit" class="btn btn-primary btn-with-icon" ng-click="user.save()" ng-disabled="!user.isSave">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          <span translate>SAVE</span>
        </button>
      </div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div ng-if="!user.isSave" class="userpic" style="margin-bottom: 10px;">
          <div class="userpic-wrapper">
            <img ng-src="{{ user.form.imageUrl }}">
          </div>
        </div>
        <div class="form-group">
          <table class="table" st-table="displayedGroups" st-safe-src="user.groups">
            <thead>
              <tr class="sortable">
                <th class="table-id" st-sort="name" st-sort-default="true" translate>USER_GROUPS</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in displayedGroups track by $index">
                <td class="table-id">
                  <div class="checkbox">
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="user.selectionGroup.indexOf(item.id) > -1"
                        ng-click="user.toggleSelectionGroup(item.id)" ng-disabled="!user.isSave">
                      <span>{{item.name}}</span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.employeeCode.$invalid 
                          && (userForm.employeeCode.$dirty || userForm.employeeCode.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="employeeCode" translate>EMPLOYEE_CODE</label>
                <span ng-if="user.isSave && user.isCreateMode" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input type="number" class="form-control disable-text" name="employeeCode" id="employeeCode"
                  ng-disabled="!user.isCreateMode" ng-model="user.form.employeeCode"
                  placeholder="{{'EMPLOYEE_CODE' | translate}}" required>
                <span class="help-block error-block basic-block" ng-show="userForm.employeeCode.$error.required"
                  translate>REQUIRED</span>
                <span class="help-block error-block basic-block" ng-show="userForm.employeeCode.$error.number"
                  translate>WRONG_TYPE</span>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.email.$invalid 
                      && (userForm.email.$dirty || userForm.email.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="email" translate>EMAIL</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input ng-disabled="!user.isSave" type="email" class="form-control disable-text" name="email" id="email"
                  ng-model="user.form.email" placeholder="{{'EMAIL' | translate}}" required>
                <span class="help-block error-block basic-block" ng-show="userForm.email.$error.required"
                  translate>REQUIRED</span>
                <span class="help-block error-block basic-block" ng-show="userForm.email.$error.email"
                  translate>INVALID_EMAIL</span>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.fullName.$invalid 
                      && (userForm.fullName.$dirty || userForm.fullName.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="fullName" translate>FULL_NAME</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input type="text" class="form-control disable-text" name="fullName" id="fullName"
                  ng-disabled="!user.isSave" ng-model="user.form.fullName" placeholder="{{'FULL_NAME' | translate}}"
                  required>
                <span class="help-block error-block basic-block" ng-show="userForm.fullName.$error.required"
                  translate>REQUIRED</span>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.department.$invalid 
                      && (userForm.department.$dirty || userForm.department.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="department" translate>DEPARTMENT</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input type="text" class="form-control disable-text" ng-show="!user.isCreateMode && !user.isSave"
                  disabled ng-model="user.estimateOwnersSelected.completeCode"
                  placeholder="{{'DEPARTMENT' | translate}}" required>
                <ui-select ng-model="user.estimateOwnersSelected"
                  class="btn-group bootstrap-select form-control disable-text" search-enabled="true"
                  ng-show="user.isSave">
                  <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                    {{user.estimateOwnersSelected.completeCode}}
                  </ui-select-match>
                  <ui-select-choices repeat="item in user.estimateOwners"
                    refresh="user.refreshEstimateOwners($select.search)">
                    <span ng-bind-html="item.completeCode | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.corporation.$invalid 
                      && (userForm.corporation.$dirty || userForm.corporation.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="corporation" translate>CORPORATION</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input type="text" class="form-control disable-text" ng-show="!user.isCreateMode && !user.isSave"
                  disabled ng-model="user.corporationSelected.shortCode" placeholder="{{'CORPORATION' | translate}}"
                  required>
                <ui-select ng-model="user.corporationSelected"
                  class="btn-group bootstrap-select form-control disable-text" search-enabled="true"
                  ng-show="user.isSave">
                  <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                    {{user.corporationSelected.shortCode}}
                  </ui-select-match>
                  <ui-select-choices repeat="item in user.corporations"
                    refresh="user.refreshCorporations($select.search)">
                    <span ng-bind-html="item.shortCode | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.calendarType.$invalid 
                      && (userForm.calendarType.$dirty || userForm.calendarType.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="calendarType" translate>CALENDAR_TYPE</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <p class="input-group" style="margin-bottom: 0;">
                  <input type="text" class="form-control disable-text" disabled ng-show="!user.isCreateMode"
                    ng-model="user.calendarSelected.name">
                  <ui-select ng-model="user.calendarSelected" class="btn-group bootstrap-select form-control disable-text"
                    ng-show="user.isCreateMode">
                    <ui-select-match class="disable-text" placeholder="{{ 'CALENDAR_TYPE' | translate }}">
                      {{user.calendarSelected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in user.listCalendarType">
                      <span ng-bind-html="item.name"></span>
                    </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn" ng-show="!user.isCreateMode && user.isSave">
                    <button class="btn btn-default " ng-click="user.changeLeaveCalenderType()">
                      <i class="ion ion-edit" aria-hidden="true"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;" ng-if="user.status == '1' || user.isCreateMode">
            <div class="form-group" ng-class="{'has-error': userForm.scriptId.$invalid 
                          && (userForm.scriptId.$dirty || userForm.scriptId.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="scriptId" translate>SCRIPT_ID</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <p class="input-group" style="margin-bottom: 0;">
                  <input type="text" class="form-control disable-text" disabled ng-show="!user.isCreateMode"
                    ng-model="user.scriptSelected.subScript">
                  <ui-select ng-model="user.scriptSelected" class="btn-group bootstrap-select form-control disable-text"
                    ng-show="user.isCreateMode">
                    <ui-select-match class="disable-text" placeholder="{{ 'SCRIPT_ID' | translate }}">
                      {{user.scriptSelected.subScript}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in user.scripts">
                      <span ng-bind-html="item.subScript"></span>
                    </ui-select-choices>
                  </ui-select>
                  <span class="input-group-btn" ng-show="!user.isCreateMode && user.isSave">
                    <button class="btn btn-default " ng-click="user.changeScript()">
                      <i class="ion ion-edit" aria-hidden="true"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.managerId.$invalid 
                            && (userForm.managerId.$dirty || userForm.managerId.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="managerId" translate>MANAGER_ID</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <div class="row" ng-show="!user.isCreateMode && !user.isSave">
                  <div class=col-xs-4>
                    <input type="text" class="form-control disable-text" disabled ng-model="user.managerSelected.id">
                  </div>
                  <div class=col-xs-8>
                    <input type="text" class="form-control disable-text" disabled ng-model="user.managerSelected.email">
                  </div>
                </div>
                <ui-select ng-model="user.managerSelected" class="btn-group bootstrap-select form-control disable-text"
                  search-enabled="true" name="managerId" id="managerId" ng-show="user.isSave">
                  <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                    {{user.managerSelected.id}}
                  </ui-select-match>
                  <ui-select-choices repeat="item in user.managers" refresh="user.refreshManager($select.search)">
                    <span ng-bind-html="item.id | highlight: $select.search"></span>
                    <span ng-bind-html="item.email | highlight: $select.search" style="float: right;"></span>
                    <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.headOfOrgUnitId.$invalid 
                            && (userForm.headOfOrgUnitId.$dirty || userForm.headOfOrgUnitId.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="headOfOrgUnitId" translate>HEAD_ORG_UNIT</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <div class="row" ng-show="!user.isCreateMode && !user.isSave" >
                  <div class=col-xs-4>
                    <input type="text" class="form-control disable-text" disabled ng-model="user.headUnitSelected.id">
                  </div>
                  <div class=col-xs-8>
                    <input type="text" class="form-control disable-text" disabled ng-model="user.headUnitSelected.email">
                  </div>
                </div>
                <ui-select ng-model="user.headUnitSelected" class="btn-group bootstrap-select form-control disable-text"
                  search-enabled="true" name="headOfOrgUnitId" id="headOfOrgUnitId" ng-show="user.isSave">
                  <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                    {{user.headUnitSelected.id}}
                  </ui-select-match>
                  <ui-select-choices repeat="item in user.headUnits" refresh="user.refreshHeadUnit($select.search)">
                    <span ng-bind-html="item.id | highlight: $select.search"></span>
                    <span ng-bind-html="item.email | highlight: $select.search" style="float: right;"></span>
                    <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;">
            <div class="form-group" ng-class="{'has-error': userForm.nationality.$invalid 
                      && (userForm.nationality.$dirty || userForm.nationality.$touched || userForm.$submitted)}">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label for="nationality" translate>NATIONALITY</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <input type="text" class="form-control disable-text" name="nationality" id="nationality"
                  ng-show="!user.isCreateMode && !user.isSave" ng-model="user.form.nationality"
                  placeholder="{{'NATIONALITY' | translate}}" disabled>
                <ui-select ng-model="user.nationalitySelected"
                  class="btn-group bootstrap-select form-control disable-text" ng-show="user.isSave">
                  <ui-select-match class="disable-text" placeholder="{{ 'NATIONALITY' | translate }}">
                    <span translate>
                      {{user.nationalitySelected.key}}
                    </span>
                  </ui-select-match>
                  <ui-select-choices repeat="item in user.nationalities">
                    <span ng-bind-html="item.key | translate"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;" ng-if="user.isCreateMode">
            <div class="form-group">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label translate>ACTIVE_DATE</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <p class="input-group">
                  <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
                    ng-model="user.form.activeDate" is-open="user.activeDatePopup" datepicker-options="user.dateOptions"
                    ng-required="true" close-text="Close" ng-click="user.onActiveOpenDate()" show-button-bar="false"
                    ng-readonly="true" ng-disabled="!user.isSave" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="user.onActiveOpenDate()"
                      ng-disabled="!user.isSave"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;" ng-show="!user.isCreateMode">
            <div class="form-group">
              <div class="col-xs-3" style="margin-top: 10px;">
                <label translate>STATUS</label>
                <span ng-if="user.isSave" class="red-text">*</span>
              </div>
              <div class="col-xs-9">
                <div class="row">
                  <div class="col-xs-5">
                    <button type="button" class="btn btn-with-icon" disabled
                      ng-class="user.statusHrb != '1'? 'btn-danger' : 'btn-info'">
                      <i ng-if="user.statusHrb == 0" class="fa ion-alert-circled" aria-hidden="true"></i>
                      <span ng-if="user.statusHrb  == 0" translate>UNPAID_LEAVE</span>

                      <i ng-if="user.statusHrb == '1'" class="fa ion-checkmark-round" aria-hidden="true"></i>
                      <span ng-if="user.statusHrb == '1'" translate>USER_ACTIVE</span>

                      <i ng-if="user.statusHrb == null" class="fa ion-alert-circled" aria-hidden="true"></i>
                      <span ng-if="user.statusHrb == null" translate>USER_LEAVED</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-11" style="margin-bottom: 15px;" ng-show="!user.isCreateMode">
              <div class="form-group">
                <div class="col-xs-3" style="margin-top: 10px;">
                  <label translate>WORK_PROGRESS</label>
                </div>
                <div class="col-xs-9">
                  <div class="row">
                    <div class="table-responsive">
                      <div class="col-xs-5">
                        <table class="table table-hover st-table" st-pipe="myOvertime.init" st-table="myOvertime.tableData">
                            <thead>
                              <tr class="sortable ">
                                <th translate>STT</th>
                                <th translate>EFFECTED_DATE</th>
                                <th translate>EXPIRATION_DATE</th>
                                <th translate>SCRIPT_NAME</th>
                                <th translate>STATUS</th>
                                <th translate>CALENDAR_TYPE</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="st-row__parent" ng-repeat="item in user.workProgressList track by $index">
                                <td class="table-text table-width stt">{{myOvertime.tableState.pagination.start + $index+1}}</td>
                                <td class="table-text">{{item.effectiveDate}}</td>
                                <td class="table-text">{{item.expirationDate}}</td>
                                <td class="table-text">{{item.script}}</td>
                                <td class="table-text">
                                  <span ng-if="item.status == 1" translate>USER_ACTIVE</span>
                                  <span ng-if="item.status == 0" translate>UNPAID_LEAVE</span>
                                </td>
                                <td >
                                  <span ng-repeat="type in user.listCalendarType">
                                    <span ng-if="type.code == item.calendarType">{{type.name}}</span>
                                  </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
      </div>
      <div class="col-md-2">
        <div class="btn-group" uib-dropdown dropdown-append-to-body ng-if="user.isEdit">
          <button type="button" class="btn btn-default" uib-dropdown-toggle>
            <span translate>FUNCTIONS</span><span class="caret"></span>
          </button>
          <ul class="pull-right" uib-dropdown-menu>
            <li><a href ng-click="user.openTimeSheet(user.form)">
                <i class="fa fa-eye" style="width: 16px" aria-hidden="true"></i>
                <span translate>CHECK_TIME_SHEET</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.getLeaveOfEmployee(user.form)">
                <i style="width: 16px" class="fa ion-flag" aria-hidden="true"></i>
                <span translate>CHECK_LEAVE_FUND</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.getApprovalOfEmployee(user.form)">
                <i style="width: 16px" class="fa ion-clipboard" aria-hidden="true"></i>
                <span translate>EMPLOYEE_ATTENDANCE</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.getPendingNeedApprove(user.form)">
                <i style="width: 16px" class="fa ion-clipboard" aria-hidden="true"></i>
                <span translate>CHECK_APPROVAL</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.createApproval(user.form)">
                <i style="width: 16px" class="fa ion-edit" aria-hidden="true"></i>
                <span translate>CREATE_APPROVAL</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.getLowerGradeOfEmployee(user.form)">
                <i style="width: 16px" class="fa ion-arrow-down-c" aria-hidden="true"></i>
                <span translate>MY_EMPLOYEE</span>
              </a></li>
            <li role="separator" class="divider"></li>
            <li><a href ng-click="user.activeEmployee(user.form)">
                <i ng-if="user.status == '0'" style="width: 16px" class="fa ion-checkmark-round" aria-hidden="true"></i>
                <span ng-if="user.status == '0'" translate>ACTIVE_USER</span>
                <i ng-if="user.status == '1'" style="width: 16px" class="fa ion-close-round" aria-hidden="true"></i>
                <span ng-if="user.status == '1'" translate>DEACTIVE_USER</span>
              </a></li>
          </ul>
         
        </div>
      </div>
    </div>
  </form>
</div>