<div class="st-filter clearfix" ng-init="getEventsGroup()">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="unOvertime.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>

      </div>
    </div>
    <div class="col-md-2">
      <search-checkbox table-state="unOvertime.tableState" refresh="unOvertime.refresh()"
        default="status.default.status" column="status"
        data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:4,label:'EXPIRED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <search-date table-state="unOvertime.tableState" refresh="unOvertime.refresh()" column="startAt"
            label="FROM_DATE" type="greater"></search-date>
        </div>
        <div class="col-md-5">
          <search-date table-state="unOvertime.tableState" refresh="unOvertime.refresh()" column="endAt"
            label="TO_DATE" type="lesser"></search-date>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <!-- <button type="button" class="btn btn-info" data-toggle="modal"
        ng-click="openPopup('app/pages/attendance/unovertime/widgets/confirmApprove.html', '')" style="float: right;">
        <i class="ion-checkmark-round"></i>
        <span translate>COMFIRM_ADD_NOMAL</span>
      </button> -->
    </div>
    <div class="col-md-1">
      <!-- <button type="button" class="btn btn-danger" d ata-toggle="modal"
        ng-click="openPopup('app/pages/attendance/unovertime/widgets/confirmReject.html', '')">
        <i class="ion-close-round"></i>
        <span translate>CANCEL</span>
      </button> -->
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'UN_OVERTIME' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <!-- <table>
              <tr>
                <td class="table-text table-width stt" ng-repeat="item in eventsGroup track by $index">
                  <label class="custom-checkbox" style="margin-left: 15px; margin-right: 35px; margin-bottom: 20px;">
                    <input type="checkbox" ng-checked="eventsChecked.indexOf(item.id) != -1"
                      ng-click="onChangeEventsGroup(item.id)">
                    <span>{{item.description}}</span>
                  </label>
                </td>
              </tr>
            </table> -->
            <ul class="navbar-nav" ng-repeat="item in eventsGroup track by $index" style="list-style-type: none;padding-left: 15px;">
              <li class="nav-item">
                <label class="custom-checkbox" style=" margin-bottom: 20px;">
                  <input type="checkbox" ng-checked="eventsChecked.indexOf(item.id) != -1"
                    ng-click="onChangeEventsGroup(item.id)">
                  <span>{{item.description}}</span>
                </label>
              </li>
              </ul>
            <table class="table table-hover st-table" st-pipe="unOvertime.init" st-table="unOvertime.tableData">
              <thead>
                <tr>
                  <td colspan="15"></td>
                </tr>
                <tr class="sortable ">
                  <th>
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="unOvertime.isSelectAll"
                        ng-click="unOvertime.selectAll(unOvertime.tableData)" ng-model="checkbox">
                      <span translate style="font-weight: inherit">All</span>
                    </label>
                  </th>
                  <!-- <th st-sort="name" translate>NAME</th> -->
                  <th st-sort="email" translate>EMAIL</th>
                  <!-- <th></th> -->
                  <!-- <th st-sort="date" translate>DATE</th> -->
                  <!-- <th translate>CHECKIN_TIME</th>
                      <th translate>CHECKOUT_TIME</th> -->
                  <th translate>CHECKIN_CHECKOUT</th>
                  <th translate>REASON</th>
                  <th st-sort="status" translate>STATUS</th>
                  <th translate>APPROVED_TIME</th>
                  <!-- <th translate>PERCENTAGE_EVENT_CODE</th> -->
                  <th translate>EVENT_TYPE</th>
                  <th translate>SK_CODE</th>
                  <th translate>REMUNERATION</th>
                  <!-- <th translate>PAY_PER_HOUSE</th> -->
                  <!-- <th translate>PERCENTAGE</th> -->
                  <!-- <th translate>MANAGER_NAME</th> -->
                  <!-- <th translate>MANAGER_EMAIL</th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <!-- <th translate>TIME_UPDATE</th> -->
                  <!-- <th translate>ACTION</th> -->
                </tr>
                <tr>
                  <td colspan="15"></td>
                </tr>
              </thead>
              <tbody ng-show="!unOvertime.isLoading">
                <tr class="st-row__parent" ng-repeat="item in unOvertime.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label ng-class=" item.statusDestroy == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                      <input type="checkbox" ng-checked="unOvertime.selected.indexOf(item.id) > -1"
                        ng-click="unOvertime.toggleSelection(item.id)" ng-if="item.statusDestroy == 0">
                      <span>{{unOvertime.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <!-- <td class="table-text">{{item.name}}</td> -->
                  <td class="table-text">
                    <a class="email-link" ng-href="mailto:{{item.email}}" title={{item.email}}>{{item.managerEmail.split('@topica.edu.vn')[0]}}</a>
                  </td>
                  <!-- <td class="table-text table-width stt">
                        <img ng-src="{{item.imageUrl}}" width="20" height="20">
                      </td> -->
                  <!-- <td class="table-text">{{item.workDate}}</td> -->
                  <!-- <td class="table-text">{{item.startTime}}</td>
                      <td class="table-text">{{item.endTime}}</td> -->
                  <td class="table-text" ng-click="unOvertime.openDetails(item)">
                    <div><span>{{item.workDate}}</span></div>
                    <div>{{item.startTime}}<span ng-if="item.endTime"> - {{item.endTime}}</span></div>
                  </td>

                  <!-- <td class="table-text" ng-click="unOvertime.openDetails(item)">{{item.startTime}}<span ng-if="item.endTime"> - {{item.endTime}}</span></td> -->
                  <td class="table-text" ng-click="unOvertime.openDetails(item)">{{item.note}}</td>
                  <td class="table-text status-pending" ng-click="unOvertime.openDetails(item)"
                    ng-if="item.statusDestroy == 0 " translate>DEL_PENDING</td>
                  <td class="table-text status-approval" ng-click="unOvertime.openDetails(item)"
                    ng-if="item.statusDestroy == 1 " translate>DEL_ACTIVE</td>
                  <td class="table-text status-reject" ng-click="unOvertime.openDetails(item)"
                    ng-if="item.statusDestroy == 2 " translate>DEL_BLOCKED</td>
                  <td class="table-text status-expired" ng-click="unOvertime.openDetails(item)"
                    ng-if="item.statusDestroy == 4 " translate>EXPIRED</td>
                    <td class="table-text" >{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  <td class="table-text" ng-click="unOvertime.openDetails(item)">
                    <!-- <div><span>{{item.percentage}}%</span></div> -->
                    <div><span>{{item.groupEventName}}</span></div>
                  </td>
                  <td class="table-text" title={{item.event}} ng-click="unOvertime.openDetails(item)">{{item.event}}</td>
                  <td class="table-text" title={{item.event}} ng-click="overtime.openDetails(item)">{{item.remuneration}}</td>
                  <!-- <td class="table-text table-width stt" title={{item.payPerHour}} ng-click="unOvertime.openDetails(item)">{{item.payPerHour}}</td> -->
                  <!-- <td class="table-text">{{item.eventCode}}</td>
                      <td class="table-text">{{item.percentage}}</td> -->
                  <!-- <td class="table-text" ng-click="unOvertime.openDetails(item)" title={{item.event}}>
                    {{item.percentage}}%</td> -->
                  <!-- <td class="table-text">{{item.managerName}}</td> -->
                  <!-- <td class="table-text">{{item.managerEmail}}</td> -->
                  <!-- <td class="table-text">{{item.timeSubmit}}</td> -->
                  <!-- <td>
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="unOvertime.approve(item.id)"
                        ng-disabled="item.statusDestroy != 0">
                        <i class="ion-checkmark-round" aria-hidden="true"></i>
                        <span translate>APPROVE</span>
                      </button>
                      <button class="btn btn-danger btn-xs" ng-click="unOvertime.reject(item.id)"
                        ng-disabled="item.statusDestroy != 0">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>REJECT</span>
                      </button>
                    </div>
                  </td> -->

                </tr>
              </tbody>
              <tbody ng-show="unOvertime.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="unOvertime.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>