<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>DETAIL_EVENT_WORK</h4>
  </div>
  <div class="modal-body row" style="padding-left: 30px">
    <div class="col-xs-12">
      <h4 style="color: #0795db" translate>
        EVENT_WORKS_APPROVED
      </h4>
      <table class="col-xs-12 table" style="margin-bottom: 20px;">
        <tbody>
          <tr>
            <td class="dayWithDrawnText nowrap" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>EVENT_TYPE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>EVENT_CODE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>DATE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>TOTAL_WORKING_HOURS</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>REMUNERATION</div>
            </td>
          </tr>
          <tbody ng-repeat="group in eventWorksApproval">
            <tr ng-repeat="item in group">
              <td class="dayWithDrawnText nowrap">
                <div style="margin-bottom: 10px; color: #0795db">{{item.groupEvent}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #0795db">{{item.eventCode}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #0795db">{{item.workDate}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #0795db">{{item.hours}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.payByHour">
                <div style="margin-bottom: 10px; color: #0795db">{{item.payByHour}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.payByBlock">
                <div style="margin-bottom: 10px; color: #0795db">{{item.payByBlock}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.percentage">
                <div style="margin-bottom: 10px; color: #0795db">{{item.percentage}}</div>
              </td>
            </tr>
          </tbody>
        </tbody>
      </table>
      <h4 style="color: #eea700" translate>
        EVENT_WORKS_PENDING
      </h4>
      <table class="col-xs-12 table">
        <tbody>
          <tr>
            <td class="dayWithDrawnText nowrap" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>EVENT_TYPE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>EVENT_CODE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>DATE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>TOTAL_WORKING_HOURS</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>REMUNERATION</div>
            </td>
          </tr>
          <tbody ng-repeat="group in eventWorksPending">
            <tr ng-repeat="item in group">
              <td class="dayWithDrawnText nowrap">
                <div style="margin-bottom: 10px; color: #eea700">{{item.groupEvent}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #eea700">{{item.eventCode}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #eea700">{{item.workDate}}</div>
              </td>
              <td class="dayWithDrawnText">
                <div style="margin-bottom: 10px; color: #eea700">{{item.hours}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.payByHour">
                <div style="margin-bottom: 10px; color: #eea700">{{item.payByHour}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.payByBlock">
                <div style="margin-bottom: 10px; color: #eea700">{{item.payByBlock}}</div>
              </td>
              <td class="dayWithDrawnText" ng-if="item.percentage">
                <div style="margin-bottom: 10px; color: #eea700">{{item.percentage}}</div>
              </td>
            </tr>
          </tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>