<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>DETAIL_TIMEKEEPING_DAY</h4>
  </div>
  <div class="modal-body row" style="padding-left: 30px">
    <div class="col-xs-6">
      <div style="margin-bottom: 10px"><span translate>TIMEKEEPING_DAY</span></div>
      <div style="margin-bottom: 10px"><span translate>TOTAL_HOURS_PER_DAY</span></div>
      <div style="margin-bottom: 10px"><span translate>OVERTIME</span></div>
      <div style="margin-bottom: 10px"><span translate>NUMBER_OF_WORKING_UNITS_PER_DAY</span></div>
    </div>
    <div class="col-xs-6">
      <div style="margin-bottom: 10px">{{noteData.attendedDay}}</div>
      <div style="margin-bottom: 10px">{{noteData.hours}}</div>
      <div style="margin-bottom: 10px">{{noteData.overtimes}}</div>
      <div style="margin-bottom: 10px">{{noteData.units}}</div>
    </div>
    <div class="col-xs-12" ng-show="noteData.details.timeKeeping.length > 0">
      <h4><span translate>TIME_KEEPING_REQUEST</span></h4>
      <table class="col-xs-12 table">
        <tbody>
          <tr>
            <td class="dayWithDrawnText nowrap" style="width: 60px;">
              <div style="margin-bottom: 10px" translate>SHIFT</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>CHECKIN_TIME</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>CHECKOUT_TIME</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px" translate>Note</div>
            </td>
          </tr>
          <tr ng-repeat="item in noteData.details.timeKeeping track by $index">
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{$index + 1}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.checkInTime}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.checkOutTime}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.note}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12" ng-show="overTimesDetails.length > 0">
      <h4><span translate>OVERTIME</span></h4>
      <table class="col-xs-12 table">
        <tbody>
          <tr>
            <td class="dayWithDrawnText nowrap" style="width: 60px;">
              <div style="margin-bottom: 10px" translate>STT</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>FROM_TIME</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>TO_TIME</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px" translate>STATUS</div>
            </td>
          </tr>
          <tr ng-repeat="item in overTimesDetails track by $index">
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{$index + 1}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.startTime}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.endTime}}</div>
            </td>
            <td class="table-text dayWithDrawnText status-pending" ng-if="item.status == 0 " translate>PENDING</td>
            <td class="table-text dayWithDrawnText status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
            <td class="table-text dayWithDrawnText status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
            <td class="table-text dayWithDrawnText status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
            <td class="table-text dayWithDrawnText status-pending" ng-if="item.status == 5 " translate>ADMIN_PENDIN</td>
            <!-- <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.status}}</div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12" ng-show="noteData.details.leaveRequest.length > 0">
      <h4><span translate>LEAVE_REQUEST_2</span></h4>
      <table class="col-xs-12 table">
        <tbody>
          <tr>
            <td class="dayWithDrawnText nowrap" style="width: 60px;">
              <div style="margin-bottom: 10px" translate>STT</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>LEAVE_TYPE</div>
            </td>
            <td class="dayWithDrawnText" style="width: 160px;">
              <div style="margin-bottom: 10px" translate>REASON</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px" translate>PAID_UNPAID_TOTAL</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px" translate>STATUS</div>
            </td>
          </tr>
          <tr ng-repeat="item in noteData.details.leaveRequest track by $index">
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{$index + 1}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.reason}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">{{item.note}}</div>
            </td>
            <td class="dayWithDrawnText">
              <div style="margin-bottom: 10px">
                {{item.totalPaidLeave}}/{{item.totalUnPaidLeave}}/{{item.totalPaidLeave+item.totalUnPaidLeave}}</div>
            </td>
            <td class="table-text dayWithDrawnText status-pending" ng-if="item.status == 0 " translate>PENDING</td>
            <td class="table-text dayWithDrawnText status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
            <td class="table-text dayWithDrawnText status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
            <td class="table-text dayWithDrawnText status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
            <td class="table-text dayWithDrawnText status-pending" ng-if="item.status == 5 " translate>ADMIN_PENDING</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>