<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="myLeave.tablePageSize" ng-options="i for i in [10,25,50]">
        </select>

      </div>
    </div>
    <div class="col-md-2">
      <search-checkbox table-state="myLeave.tableState" refresh="myLeave.refresh()" default="status.default.status"
        column="status" data="[{value:'',label:'ALL'},{value:0,label:'PENDING'},{value:1,label:'ACTIVE'},{value:2,label:'BLOCKED'},{value:4,label:'EXPIRED'}]"
        label="STATUS">
      </search-checkbox>
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-5">
          <search-date table-state="myLeave.tableState" refresh="myLeave.refresh()" column="startAt" label="FROM_DATE"
            type="greater"></search-date>
        </div>
        <div class="col-md-5">
          <search-date table-state="myLeave.tableState" refresh="myLeave.refresh()" column="endAt" label="TO_DATE"
            type="lesser"></search-date>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <!-- <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openPopup('app/pages/attendance/irregular/widgets/confirmApprove.html', '')">
        <i class="ion-checkmark-round"></i>
        <span translate>COMFIRM_ADD_NOMAL</span>
      </button> -->
    </div>
    <div class="col-md-1">
      <!-- <button type="button" class="btn btn-danger" d ata-toggle="modal" ng-click="openPopup('app/pages/attendance/irregular/widgets/confirmReject.html', '')">
        <i class="ion-close-round"></i>
        <span translate>CANCEL</span>
      </button> -->
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'ATTENDANCE_MY_LEAVE' | translate }}" ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="myLeave.init" st-table="myLeave.tableData">
              <thead>
                <tr>
                  <td colspan="14"></td>
                </tr>
                <tr>
                  <th translate>
                    STT
                  </th>
                  <th st-sort="date" translate>DATE</th>
                  <th translate>LEAVE_TYPE</th>
                  <th translate>REASON</th>
                  <th st-sort="status" translate>STATUS</th>
                  <th translate>REJECT_REASON</th>
                  <th translate>APPROVED_TIME</th>
                  <th translate>MANAGER_EMAIL</th>
                  <th translate>PAID_UNPAID_TOTAL</th>
                  <th translate>ACTION</th>
                </tr>
                <tr>
                  <td colspan="14"></td>
                </tr>
              </thead>
              <tbody ng-show="!myLeave.isLoading">
                <tr class="st-row__parent" ng-repeat="item in myLeave.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label class="">
                      <span>{{myLeave.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)">{{item.leaveTime}}</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)">{{item.reasonType}}</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)" title={{item.note}}>{{item.note}}</td>
                  <td class="table-text status-pending" ng-if="item.status == 0 " translate>PENDING</td>
                  <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                  <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                  <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                  <td class="table-text status-pending" ng-if="item.status == 5 " translate>ADMIN_PENDING</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)" title={{item.rejectReason}}>{{item.rejectReason}}</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)" >{{item.status !== 0 ? item.updatedAt : ''}}</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)">{{item.managerEmail.split('@topica.edu.vn')[0]}}</td>
                  <td class="table-text" ng-click="myLeave.openDetails(item)" style="text-align: center">{{item.totalPaidLeave}} / {{item.totalUnpaidLeave}} / {{item.totalLeaveDate}}</td>
                  <td>
                    <div class="buttons"  ng-if="!myLeave.employee">
                      <button class="btn btn-danger btn-xs" ng-click="myLeave.cancel(item.id)" ng-disabled="item.statusDestroy != -1">
                        <i class="ion-close-round" aria-hidden="true"></i>
                        <span translate>CANCEL</span>
                      </button>
                    </div>
                    <div class="buttons" ng-if="myLeave.employee">
                        <button class="btn btn-info btn-xs" ng-click="myLeave.adminApprove(item.id)"
                          ng-disabled="item.status != 0">
                          <i class="ion-checkmark-round" aria-hidden="true"></i>
                          <span translate></span>
                        </button>
                        <button class="btn btn-danger btn-xs"
                          ng-click="myLeave.adminReject(item.id)" ng-disabled="item.status != 0">
                          <i class="ion-close-round" aria-hidden="true"></i>
                          <span translate></span>
                        </button>
                      </div>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="myLeave.isLoading">
                <tr class="st-row__parent action">
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-position">
                    <div class="row">
                      <div st-pagination="" st-items-by-page="myLeave.tablePageSize" st-displayed-pages="5"></div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>