<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="{{ 'JOB_INFORMATION' | translate }}">
        <div ng-include="'app/pages/profileWork/information/jobInformation.html'"></div>
    </uib-tab>
    <uib-tab heading="{{ 'PERSONAL_INFORMATION' | translate }}">
        <div ng-include="'app/pages/profileWork/information/personalInformation.html'"></div>
    </uib-tab>
    <!-- <uib-tab heading="Quá trình làm việc">
        <div ng-include="'app/pages/profileWork/information/workProgress.html'"></div>
    </uib-tab> -->
</uib-tabset>