<div ba-panel ba-panel-class="with-scroll">
    <div class="horizontal-scroll">
      <div class="row">
        <div class="col-xs-2">
          <div class="form-group">
            <span translate>ROWS_ON_PAGE</span>
            <label>
              <select class="form-control" ng-model="listContracts.tablePageSize" 
                ng-options="i for i in [1,10,25,50]">
              </select>
            </label>
          </div>
        </div>
        <div class="col-xs-2">
          <search-common table-state="listContracts.tableState" refresh="listContracts.refresh()" 
            columns="['id','name']"></search-common>
        </div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-2 text-right">
          <!-- <button type="button" class="btn btn-default btn-with-icon" permission="Groups.GetAll" -->
          <button type="button" class="btn btn-default btn-with-icon" 
          ng-click="listContracts.refresh()" ladda="listContracts.isLoading" data-spinner-color="#000" data-size="xs">
            <i class="ion-loop"></i><span translate>REFRESH</span>
          </button>
          <button type="button" ui-sref="system.userGroupDetail()"
            class="btn btn-primary btn-with-icon">
             <!-- permission="Groups.Create"> -->
            <i class="fa fa-user-plus"></i>
            <span translate>CREATE</span>
          </button>
        </div>
      </div>
      <table class="table table-hover" st-pipe="listContracts.init" st-table="listContracts.tableData">
        <thead>
          <tr class="sortable ">
            <th>#</th>
            <th st-sort="id" translate>ID</th>
            <th st-sort="name" translate>NAME</th>
            <th translate>CREATED_AT</th>
            <th translate>UPDATED_AT</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <input st-search="id" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'SEARCH_NAME' }"/>
            </th>
            <th>
              <input st-search="name" class="input-sm form-control search-input" type="search"
               translate-attr="{ placeholder: 'SEARCH_NAME' }"/>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-show="!listContracts.isLoading">
          <tr ng-repeat="item in listContracts.tableData track by $index">
            <td>{{listContracts.tableState.pagination.start + $index+1}}</td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <!-- <td>{{item.createdAt | appDatetime}}</td> -->
            <!-- <td>{{item.updatedAt | appDatetime}}</td> -->
            <td></td>
            <td></td>
            <td>
              <div class="buttons">
                <!-- <button class="btn btn-info btn-xs" 
                permission="Groups.GetById"
                  ui-sref="system.userGroupDetail({userGroupId: item.id})">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <span translate>VIEW</span>
                </button> -->
                <button class="btn btn-info btn-xs" 
                
                  ui-sref="system.userGroupDetail({userGroupId: item.id})">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  <span translate>VIEW</span>
                </button>
                <!-- <button class="btn btn-danger btn-xs" ng-click="listContracts.delete(item.id)"
                  permission="Groups.Delete">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span translate>DELETE</span>
                </button> -->
                <button class="btn btn-danger btn-xs" ng-click="listContracts.delete(item.id)"
                  >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <span translate>DELETE</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody ng-show="listContracts.isLoading">
          <tr>
            <td colspan="6" class="text-center" translate>LOADING</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-center">
              <div st-pagination="" st-items-by-page="listContracts.tablePageSize" st-displayed-pages="5"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>