<div ba-panel ba-panel-class="with-scroll">
  <div class="col-md-12 cold-sm-12 check-body">
    <div class="col-md-12 script-box">
      <p class="script-text" ng-style="internetStatusStyle">{{script}}</p>
    </div>
  </div>
  <div class="col-md-12 cold-sm-12" style="text-align: center;"
    ng-if="currentLocaltion.longitude == 0 && currentLocaltion.latitude == 0 && !verifyClient">
    <img style="
      height: 350px;
      " src="/assets/img/location.png">
    <p style="color: red;font-size: 18px;" translate>ALLOW_LOCATION</p>
    <a href="http://topi.ca/topica_osscar_checkin_allow_location " target="_blank" style="color: blue"
      translate>VIEW_GUIDE</a>
  </div>
  <div ng-if="verifyClient || currentLocaltion.longitude != 0 || currentLocaltion.latitude != 0">
    <div class="col-md-12 cold-sm-12 check-body" ng-show="showCheckIn">
      <div class="name-time">
        <p class="internet-status" ng-style="internetStatusStyle"><i class="fa fa fa-wifi"></i> {{internetStatus}}</p>
        <h2 class="check-time" ng-style="internetStatusStyle">{{countTime | date: 'HH:mm:ss'}}</h2>
      </div>
      <div class="checkin-button ok zoom" ng-click="onCheck()">
        <p class="check-text" ng-style="checkinStyle">{{checkText}}</p>
      </div>
    </div>
    <div class="col-md-12 cold-sm-12 check-body" ng-hide="showCheckIn">
      <div class="name-time">
        <p class="internet-status" ng-style="internetStatusStyle" translate>CONGRATULATIONS</p>
        <h2 class="check-time" ng-if="scriptName!='A'">{{checkResult | date: 'HH:mm:ss'}}</h2>
      </div>
    </div>
    <div class="col-md-12 cold-sm-12 check-body" style="padding-top: 30px;" ng-show="showCheckIn">
      <div class=" col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4 name-time" ng-show="checkText == 'CHECK OUT'">
        <i class="fa fa fa-plus icon-add-note" style="font-size: 30px; padding-bottom: 10px;"
          ng-click="showNoteModal()">
          <p class="note-text" translate>ADD_NOTE</p>
        </i>
      </div>
    </div>
  </div>
</div>