<div class="modal-content">
    <form>
      <div class="modal-header">
        <!-- <button type="button" class="close" ng-click="$dismiss()" aria-label="Close"> -->
          <!-- <em class="ion-ios-close-empty sn-link-close"></em> -->
        </button>
        <h4 class="modal-title" id="myModalLabel" translate>ADD_FACEBOOK</h4>
      </div>
      <div class="modal-body">
        <input type="text" style="margin-bottom: 14px;" class="form-control" id="input01" placeholder="Facebook link"
        ng-model="faceBookLink">
      </div>
      <div class="modal-footer">
         
          <span style="float: left;"  ng-click="Cancel()">
              <u style="color: blue;" translate>NOT_JOIN_FACEBOOK</u>
          </span>
          <span>  <button type="submit" class="btn btn-info" ng-click="Save()" ng-disabled="!faceBookLink" translate>SAVE</button></span>
       
      </div>
      
     
    </form>
  </div>