<div class="modal-content">
  <form>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="myModalLabel" translate>ADD_NOTE</h4>
    </div>
    <div class="modal-body">
      <input type="text" style="margin-bottom: 14px;" class="form-control" id="input01" placeholder="Note"
      ng-model="noteData.note">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="isSavingNote" translate>CANCEL</button>
      <button type="submit" class="btn btn-primary" ng-click="saveNote()" ng-disabled="isSavingNote" translate>SAVE</button>
    </div>
  </form>
</div>
