<div class="modal-content">
  <div style="padding: 30px 30px;">
    <div style="display: flex;justify-content: center;">
      <img ng-if="isWarning" src="assets/img/warning.png" width="40" height="40" style="margin-right: 20px;">
      <img ng-if="!isWarning" src="assets/img/icon_warning_red.png" width="40" height="40" style="margin-right: 20px;">
      <!-- <span class="allocation-title" translate>PERSONNEL</span> -->
      <span class="allocation-title">&nbsp;{{capitalizeFirstLetter(email)}}&nbsp;</span>
      <span class="allocation-title" translate>NOT_YET_ALLOCATION</span>
    </div>
    <div style="clear: both;"></div>
    <div style="text-align: center;">
      <div class="progress-wrapper">
        <img ng-if="!isWarning" src="assets/img/close.png" width="200" height="200">
        <div ng-if="isWarning" round-progress max="15" current="15" color="#0079BF" bg-color="#eaeaea" radius="100" stroke="15"
          semi="false" rounded="true" clockwise="true" responsive="false" duration={{timeS}} animation="linearEase"
          animation-delay="0" offset="0"></div>
        <div ng-if="isWarning" class="text">{{time}}</div>
      </div>
      <!-- <div>
        <svg width="200" height="200">
          <circle cx="100" cy="100" r="90" stroke="#0079BF" stroke-width="10" ng-attr-stroke-dasharray={{circleDasharray}} fill="transparent" />]
        </svg>
        <svg width="200" height="200">
          <circle cx="100" cy="100" r="90" stroke="#cdcdcd" stroke-width="10" ng-attr-stroke-dasharray={{circleDasharray}} fill="transparent" />
          <path fill="yellow" ng-attr-d={{pathFill}} ng-attr-transform={{transform}}></path>
          <text x="50%" y="50%" fill="#0079BF" text-anchor="middle" stroke-width="3px" dy=".3em" font-size="4em">{{time}}</text>
        </svg>
      </div> -->
    </div>
    <div style="text-align: center;margin-top: 30px;">
      <!-- <p class="allocation-footer">Vui lòng chờ {{time}}s để được checkin!</p> -->
      <span class="allocation-footer" translate>PLEASE_DECLARE</span>
      <span class="allocation-footer"><a href="https://allocation.topica.asia" target="_blank" style="color: #0079bf;" translate>HERE</a></span>
    </div>
    <div class="row allocation-line"></div>
    <div>
      <p class="allocation-text">Website: {{contact.website}}</p>
    </div>
    <div>
      <p class="allocation-text">Email: {{contact.email}}</p>
    </div>
    <div>
      <p class="allocation-text">Phone: {{contact.mobile}}</p>
    </div>
  </div>
</div>