<div class="modal-content">
        img src="/assets/img/guide_location.png">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel" translate>VIEW_GUIDE</h4>
        </div>
        <div class="modal-body row"
        <img src="/assets/img/guide_location.png">
        <p>aaaa</p>
        </div>
    </div>