<div class="modal-content" ng-init="refresh()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>ALERT</h4>
  </div>
  <div class="modal-body">
    <div ng-repeat="notify in showNotify">
      <div style="margin-bottom: 10px;"><span style="color: #505050; font-size:16px">{{notify}}</span></div>
    </div>
    <div class="row">
      <div class="col-xs-12" ng-show="showNotify.length > 0">
        <div style="margin-bottom: 10px; padding-top: 10px" class="col-xs-3"><span
            style="color: #505050; font-size:16px" translate>REASON</span><span>:</span></div>
        <div class="col-xs-9">
          <textarea type="text" rows="5" class="form-control" ng-model="noti.reason"
            translate-attr="{ placeholder: 'REASON' }" style="height: 60px; margin-bottom: 14px;"
            maxlength="255"></textarea>
        </div>
      </div>
      <div class="col-xs-12" ng-show="hasOverTime">
        <div style="margin-bottom: 10px; padding-top: 10px" class="col-xs-3"><span
            style="color: #505050; font-size:16px" translate>EVENT_TYPE</span><span>:</span></div>
        <div class="col-xs-9">

          <ui-select style="margin-bottom: 10px" ng-model="noti.groupEventSelected"
            class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true"
            ng-change="onChangeEventsGroup()">
            <ui-select-match>
              {{noti.groupEventSelected.name}}
            </ui-select-match>
            <!-- <ui-select-choices repeat="item in event | filter: $select.search" -->
            <ui-select-choices repeat="item in groupEvent track by $index">
              <span ng-bind-html="item.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div ng-show="noti.groupEventSelected.inputEventCode" class="col-xs-12">
        <div style="margin-bottom: 10px; padding-top: 10px" class="col-xs-3"><span
            style="color: #505050; font-size:16px" translate>EVENT_CODE</span><span>:</span></div>
        <div class="col-xs-9">

          <ui-select style="margin-bottom: 10px" ng-model="noti.selectedEvent"
            class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true">
            <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
              {{noti.selectedEvent.eventCode}}
            </ui-select-match>
            <!-- <ui-select-choices repeat="item in event | filter: $select.search" -->
            <ui-select-choices repeat="item in event" refresh="refreshEvent($select.search)">
              <span ng-bind-html="item.eventCode | highlight: $select.search"></span>
              <span ng-bind-html="item.payPerHour + ' VND' | highlight: $select.search" ng-show="item.payPerHour"
                style="float: right;"></span>
              <span ng-bind-html="item.payPerBlock + ' Block' | highlight: $select.search" ng-show="item.payPerBlock"
                style="float: right;"></span>
              <span ng-bind-html="item.percentage + '%' | highlight: $select.search" ng-show="item.percentage"
                style="float: right;"></span>
              <br ng-show="item.description">
              <i ng-bind-html="item.description | highlight: $select.search" ng-show="item.description"
                style="font-size: 12px;"></i>
            </ui-select-choices>
          </ui-select>
          <div ng-click="overtime.openEventList()" class="event-instruction">
            <span style="color: #505050; font-size:12px" translate>EVENT_INSTRUCTIONS</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px;"><span style="color: #505050; font-size:16px" translate>CONFIRM_CHECK_OUT_TEXT</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="isSavingNote"
      translate>CANCEL</button>
    <button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="isSavingNote"
      translate>CONFIRM</button>
  </div>
</div>