<div class="modal-content">
  <form>

    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="myModalLabel" translate>ADD_NOTE</h4>
    </div>
    <div class="modal-body">
      <div ng-repeat="notify in body">
        <h5>
          {{notify}}
        </h5>
      </div>
      <!-- <input type="text" style="margin-bottom: 14px;" class="form-control" id="input01" placeholder="Note"
        ng-model="note"> -->
      <textarea type="text" rows="5" class="form-control" ng-model="note" translate-attr="{ placeholder: 'REASON' }"
        style="height: 60px; margin-bottom: 14px;" maxlength="255"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="isSavingNote"
        translate>CANCEL</button>
      <button type="submit" class="btn btn-info" ng-click="checkin()" ng-disabled="isSavingNote" translate>CHECK
        IN</button>
    </div>
  </form>
</div>