<div>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'MY_IRREGULAR' | translate }}" ba-panel-class="with-scroll">
          <div ng-show="approveIrregular.tableData.length>0">
            <div class="row" style=" display: flex; justify-content: flex-end;">
              <button type="button" class="btn btn-info" data-toggle="modal" style="margin-right: 1%;"
                ng-click="approveIrregular.approveRejectAll('approve')">
                <i class="ion-checkmark-round"></i>
                <span translate>COMFIRM_ADD_NOMAL</span>
              </button>
              <button type="button" class="btn btn-danger" data-toggle="modal" style="margin-right: 1%;"
                ng-click="approveIrregular.approveRejectAll('reject')">
                <i class="ion-close-round"></i>
                <span translate>REJECT_ADD_NOMAL</span>
              </button>
            </div>
            <div class="table-responsive" style=" min-height: 100px;">
              <table class="table table-hover st-table" st-pipe="approveIrregular.init"
                st-table="approveIrregular.tableData">
                <thead>
                  <tr>
                    <td colspan="13"></td>
                  </tr>
                  <tr class="sortable ">
                    <th>
                      <label class="custom-checkbox">
                        <input type="checkbox" ng-checked="approveIrregular.isSelectAll"
                          ng-click="approveIrregular.selectAll(approveIrregular.tableData)" ng-model="checkbox">
                        <span translate style="font-weight: inherit">All</span>
                      </label>
                    </th>
                    <th translate>EMAIL</th>
                    <th translate>DATE</th>
                    <th translate>CHECKIN_CHECKOUT</th>
                    <th translate>REASON</th>
                    <th translate>SYSTEM</th>
                    <th translate>STATUS</th>
                    <th translate>ACTION</th>
                  </tr>
                  <tr>
                    <td colspan="13"></td>
                  </tr>
                </thead>
                <tbody ng-show="!approveIrregular.isLoading">
                  <tr class="st-row__parent" ng-repeat="item in approveIrregular.tableData track by $index">
                    <td class="table-text table-width stt">
                      <label ng-class=" item.status == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                        <input type="checkbox" ng-checked="approveIrregular.selected.indexOf(item.id) > -1"
                          ng-click="approveIrregular.toggleSelection(item.id)" ng-if="item.status == 0">
                        <span>{{approveIrregular.tableState.pagination.start + $index+1}}</span>
                      </label>
                    </td>
                    <td class="table-text">
                      <a class="email-link" ng-href="mailto:{{item.email}}"
                        title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                    </td>
                    <td class="table-text-small">{{item.workDate}}</td>
                    <td class="table-text">{{item.checkInTime}}<span ng-if="item.checkOutTime"> - {{item.checkOutTime}}</span></td>
                    <td class="table-text" title={{item.note}}>{{item.note}}</td>
                    <td class="table-text" title={{item.systemNote}}>{{item.systemNote}}</td>
                    <td class="table-text status-pending" ng-if="item.status == 0 " translate>PENDING</td>
                    <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                    <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                    <td class="table-text" ng-if="item.status == 3" translate>WAITING_BLOCK</td>
                    <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                    <td style="display: flex;justify-content: flex-start;">
                      <div class="buttons">
                        <button class="btn btn-info btn-xs" ng-click="approveIrregular.approveReject('approve',item.id)" ng-disabled="item.status != 0">
                          <i class="ion-checkmark-round" aria-hidden="true"></i>
                          <span translate>APPROVE</span>
                        </button>
                        <button class="btn btn-danger btn-xs" ng-click="approveIrregular.approveReject('reject',item.id)" ng-disabled="item.status != 0">
                          <i class="ion-close-round" aria-hidden="true"></i>
                          <span translate>REJECT</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- For approveOvertime -->
  <div>
    <div class="widgets">
      <div class="wid-content">
        <div class="row">
          <div class="col-md-12" ba-panel ba-panel-title="{{ 'MY_OVERTIME' | translate }}" ba-panel-class="with-scroll">
            <div ng-show="approveOvertime.tableData.length>0">
              <div class="row" style=" display: flex; justify-content: flex-end; margin-right: 0px;">
                <button type="button" class="btn btn-info" data-toggle="modal" style="margin-right: 1%;"
                  ng-click="approveOvertime.approveRejectAll('approve')">
                  <i class="ion-checkmark-round"></i>
                  <span translate>COMFIRM_ADD_NOMAL</span>
                </button>
                <button type="button" class="btn btn-danger" d ata-toggle="modal" style="margin-right: 1%;"
                  ng-click="approveOvertime.approveRejectAll('reject')">
                  <i class="ion-close-round"></i>
                  <span translate>REJECT_ADD_NOMAL</span>
                </button>
              </div>
              <div class="table-responsive" style=" min-height: 100px;">
                <table class="table table-hover st-table" st-pipe="approveOvertime.init"
                  st-table="approveOvertime.tableData">
                  <thead>
                    <tr>
                      <td colspan="15"></td>
                    </tr>
                    <tr class="sortable ">
                      <th>
                        <label class="custom-checkbox">
                          <input type="checkbox" ng-checked="approveOvertime.isSelectAll"
                            ng-click="approveOvertime.selectAll(approveOvertime.tableData)" ng-model="checkbox">
                          <span translate style="font-weight: inherit">All</span>
                        </label>
                      </th>
                      <th translate>EMAIL</th>
                      <th translate>CHECKIN_CHECKOUT</th>
                      <th translate>REASON</th>
                      <th translate>STATUS</th>
                      <th translate>EVENT_TYPE</th>
                      <th translate>SK_CODE</th>
                      <th translate>REMUNERATION</th>
                      <th translate>ACTION</th>
                    </tr>
                    <tr>
                      <td colspan="15"></td>
                    </tr>
                  </thead>
                  <tbody ng-show="!approveOvertime.isLoading">
                    <tr class="st-row__parent" ng-repeat="item in approveOvertime.tableData track by $index">
                      <td class="table-text table-width stt">
                        <label ng-class=" item.status == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                          <input type="checkbox" ng-checked="approveOvertime.selected.indexOf(item.id) > -1"
                            ng-click="approveOvertime.toggleSelection(item.id)" ng-if="item.status == 0">
                          <span>{{approveOvertime.tableState.pagination.start + $index+1}}</span>
                        </label>
                      </td>
                      <td class="table-text">
                        <a class="email-link" ng-href="mailto:{{item.email}}"
                          title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                      </td>
                      <td class="table-text" ng-click="approveOvertime.openDetails(item)">
                        <div><span>{{item.workDate}}</span></div>
                        <div>{{item.startTime}}<span ng-if="item.endTime"> - {{item.endTime}}</span></div>
                      </td>
                      <td class="table-text" title={{item.note}}>{{item.note}}</td>
                      <td class="table-text status-pending" ng-if="item.status == 0 " translate>PENDING</td>
                      <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                      <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                      <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                      <td class="table-text">
                        <div><span>{{item.groupEventName}}</span></div>
                      </td>
                      <td class="table-text" title={{item.event}}>{{item.event}}</td>
                      <td class="table-text table-width stt" title={{item.payPerHour}}>{{item.remuneration}}</td>
                      <td style="display: flex;justify-content: flex-start;">
                        <div class="buttons">
                          <button class="btn btn-info btn-xs"
                            ng-click="approveOvertime.approveReject('approve',item.id)" ng-disabled="item.status != 0">
                            <i class="ion-checkmark-round" aria-hidden="true"></i>
                            <span translate>APPROVE</span>
                          </button>
                          <button class="btn btn-danger btn-xs"
                            ng-click="approveOvertime.approveReject('reject',item.id)" ng-disabled="item.status != 0">
                            <i class="ion-close-round" aria-hidden="true"></i>
                            <span translate>REJECT</span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- For approveLeave -->
    <div>
      <div class="widgets">
        <div class="wid-content">
          <div class="row">
            <div class="col-md-12" ba-panel ba-panel-title="{{ 'MY_LEAVE' | translate }}" ba-panel-class="with-scroll">
              <div ng-show="approveLeave.tableData.length>0">
                <div class="row" style=" display: flex; justify-content: flex-end; margin-right: 0px;">
                  <button type="button" class="btn btn-info" data-toggle="modal" style="margin-right: 1%;"
                    ng-click="approveLeave.approveRejectAll('approve')">
                    <i class="ion-checkmark-round"></i>
                    <span translate>COMFIRM_ADD_NOMAL</span>
                  </button>
                  <button type="button" class="btn btn-danger" data-toggle="modal" style="margin-right: 1%;"
                    ng-click="approveLeave.approveRejectAll('reject')">
                    <i class="ion-close-round"></i>
                    <span translate>REJECT_ADD_NOMAL</span>
                  </button>
                </div>
                <div class="table-responsive" style=" min-height: 100px;">
                  <table class="table table-hover st-table" st-pipe="approveLeave.init"
                    st-table="approveLeave.tableData">
                    <thead>
                      <tr>
                        <td colspan="14"></td>
                      </tr>
                      <tr class="sortable ">
                        <th>
                          <label class="custom-checkbox">
                            <input type="checkbox" ng-checked="approveLeave.isSelectAll"
                              ng-click="approveLeave.selectAll(approveLeave.tableData)" ng-model="checkbox">
                            <span translate style="font-weight: inherit">All</span>
                          </label>
                        </th>
                        <th translate>EMAIL</th>
                        <th translate>DATE</th>
                        <th translate>LEAVE_TYPE</th>
                        <th translate>REASON</th>
                        <th translate>STATUS</th>
                        <th translate>TOTAL_PAID_LEAVE_TOTAl_UNPUL_LEAVE</th>
                        <th translate>ACTION</th>
                      </tr>
                      <tr>
                        <td colspan="14"></td>
                      </tr>
                    </thead>
                    <tbody ng-show="!approveLeave.isLoading">
                      <tr class="st-row__parent" ng-repeat="item in approveLeave.tableData track by $index">
                        <td class="table-width stt">
                          <label ng-class=" item.status == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                            <input type="checkbox" ng-checked="approveLeave.selected.indexOf(item.id) > -1"
                              ng-click="approveLeave.toggleSelection(item.id)" ng-if="item.status == 0">
                            <span>{{approveLeave.tableState.pagination.start + $index+1}}</span>
                          </label>
                        </td>
                        <td class="table-text">
                          <a class="email-link" ng-href="mailto:{{item.email}}"
                            title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                        </td>
                        <td class="table-text">{{item.leaveTime}}</td>
                        <td class="table-text">{{item.reasonType}}</td>
                        <td class="table-text" title={{item.note}}>{{item.note}}</td>
                        <td class="table-text status-pending" ng-if="item.status == 0 " translate>PENDING</td>
                        <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                        <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                        <td class="table-text status-expired" ng-if="item.status == 4 " translate>EXPIRED</td>
                        <td class="table-text status-pending" ng-if="item.status == 4 " translate>ADMIN_PENDING</td>
                        <td class="table-text">{{item.totalPaidLeave}} / {{item.totalUnpaidLeave}}</td>
                        <td style="display: flex;justify-content: flex-start;">
                          <div class="buttons">
                            <button class="btn btn-info btn-xs" ng-click="approveLeave.approveReject('approve',item.id)"
                              ng-disabled="item.status != 0">
                              <i class="ion-checkmark-round" aria-hidden="true"></i>
                              <span translate>APPROVE</span>
                            </button>
                            <button class="btn btn-danger btn-xs"
                              ng-click="approveLeave.approveReject('reject',item.id)" ng-disabled="item.status != 0">
                              <i class="ion-close-round" aria-hidden="true"></i>
                              <span translate>REJECT</span>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- For approveUnLeave -->
      <div>
        <div class="widgets">
          <div class="wid-content">
            <div class="row">
              <div class="col-md-12" ba-panel ba-panel-title="{{ 'UN_LEAVE' | translate }}"
                ba-panel-class="with-scroll">
                <div ng-show="approveUnLeave.tableData.length>0">
                  <div class="row" style=" display: flex; justify-content: flex-end; margin-right: 0px;">
                    <button type="button" class="btn btn-info" data-toggle="modal" style="margin-right: 1%;"
                      ng-click="approveUnLeave.approveRejectAll('approve')">
                      <i class="ion-checkmark-round"></i>
                      <span translate>COMFIRM_ADD_NOMAL</span>
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" style="margin-right: 1%;"
                      ng-click="approveUnLeave.approveRejectAll('reject')">
                      <i class="ion-close-round"></i>
                      <span translate>REJECT_ADD_NOMAL</span>
                    </button>
                  </div>
                  <div class="table-responsive" style=" min-height: 100px;">
                    <table class="table table-hover st-table" st-pipe="approveUnLeave.init"
                      st-table="approveUnLeave.tableData">
                      <thead>
                        <tr>
                          <td colspan="14"></td>
                        </tr>
                        <tr class="sortable ">
                          <th>
                            <label class="custom-checkbox">
                              <input type="checkbox" ng-checked="approveUnLeave.isSelectAll"
                                ng-click="approveUnLeave.selectAll(approveUnLeave.tableData)" ng-model="checkbox">
                              <span translate style="font-weight: inherit">All</span>
                            </label>
                          </th>
                          <th translate>EMAIL</th>
                          <th translate>DATE</th>
                          <th translate>REASON</th>
                          <th translate>STATUS</th>
                          <th translate>TOTAL_PAID_LEAVE_TOTAl_UNPUL_LEAVE</th>
                          <th translate>ACTION</th>
                        </tr>
                        <tr>
                          <td colspan="14"></td>
                        </tr>
                      </thead>
                      <tbody ng-show="!approveUnLeave.isLoading">
                        <tr class="st-row__parent" ng-repeat="item in approveUnLeave.tableData track by $index">
                          <td class="table-text table-width stt">
                            <label ng-class=" item.statusDestroy == 0 ? 'custom-checkbox' : 'custom-checkbox-disable' ">
                              <input type="checkbox" ng-checked="approveUnLeave.selected.indexOf(item.id) > -1"
                                ng-click="approveUnLeave.toggleSelection(item.id)" ng-if="item.statusDestroy == 0">
                              <span>{{approveUnLeave.tableState.pagination.start + $index+1}}</span>
                            </label>
                          </td>
                          <td class="table-text">
                            <a class="email-link" ng-href="mailto:{{item.email}}" title={{item.email}}>{{item.email.split('@topica.edu.vn')[0]}}</a>
                          </td>
                          <td class="table-text">{{item.leaveTime}}</td>
                          <td class="table-text" title={{item.note}}>{{item.note}}</td>
                          <td class="table-text status-pending" ng-if="item.statusDestroy == 0 " translate>DEL_PENDING</td>
                          <td class="table-text status-approval" ng-if="item.statusDestroy == 1 " translate>DEL_ACTIVE</td>
                          <td class="table-text status-reject" ng-if="item.statusDestroy == 2 " translate>DEL_BLOCKED</td>
                          <td class="table-text status-expired" ng-if="item.statusDestroy == 4 " translate>EXPIRED</td>
                          <td class="table-text">{{item.totalPaidLeave}} / {{item.totalUnpaidLeave}}</td>
                          <td style="display: flex;justify-content: flex-start;">
                            <div class="buttons">
                              <button class="btn btn-info btn-xs"
                                ng-click="approveUnLeave.approveReject('approve',item.id)"
                                ng-disabled="item.statusDestroy != 0">
                                <i class="ion-checkmark-round" aria-hidden="true"></i>
                                <span translate>APPROVE</span>
                              </button>
                              <button class="btn btn-danger btn-xs"
                                ng-click="approveUnLeave.approveReject('reject',item.id)"
                                ng-disabled="item.statusDestroy != 0">
                                <i class="ion-close-round" aria-hidden="true"></i>
                                <span translate>REJECT</span>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widgets">
          <div class="wid-content">
            <div class="row">
              <div class="col-md-12" ba-panel ba-panel-title="{{ 'CHANGE_MANAGER_APPROVE' | translate }}"
                ba-panel-class="with-scroll">
                <div class="table-responsive" style=" min-height: 100px;"
                  ng-show="ChangeManagerInfoToApprove.tableData.length>0">
                  <table class="table table-hover st-table" st-pipe="ChangeManagerInfoToApprove.init"
                    st-table="ChangeManagerInfoToApprove.tableData">
                    <thead>
                      <tr>
                        <td colspan="15"></td>
                      </tr>
                      <tr class="sortable ">
                        <th><label class="">STT</label></th>
                        <th translate>EMPLOYEE_NAME</th>
                        <th translate>HEAD_ORG_UNIT</th>
                        <th translate>HEAD_ORG_UNIT_STATUS</th>
                        <th translate>NEW_MANAGER</th>
                        <th translate>NEW_MANAGER_STATUS</th>
                        <th translate>STATUS</th>
                        <th ng-if="!isForAdmin" translate>ACTION</th>
                      </tr>
                      <tr>
                        <td colspan="15"></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="st-row__parent"
                        ng-repeat="item in ChangeManagerInfoToApprove.tableData track by $index">
                        <td class="table-text table-width stt">
                          <label class="">
                            <span>{{ChangeManagerInfoToApprove.tableState.pagination.start + $index+1}}</span>
                          </label>
                        </td>
                        <td class="table-text">{{item.userEmail}}</td>
                        <td class="table-text">{{item.oldManagerEmail}}</td>
                        <td class="table-text status-pending" ng-if="item.oldManagerStatus == 0 " translate=>PENDING
                        </td>
                        <td class="table-text status-approval" ng-if="item.oldManagerStatus == 1 " translate>ACTIVE</td>
                        <td class="table-text status-reject" ng-if="item.oldManagerStatus == 2 " translate>BLOCKED</td>
                        <td class="table-text">{{item.newManagerEmail}}</td>
                        <td class="table-text status-pending" ng-if="item.newManagerStatus == 0 " translate=>PENDING
                        </td>
                        <td class="table-text status-approval" ng-if="item.newManagerStatus == 1 " translate>ACTIVE</td>
                        <td class="table-text status-reject" ng-if="item.newManagerStatus == 2 " translate>BLOCKED</td>
                        <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                        <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                        <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                        <td class="table-text status-destroy" ng-if="item.status == 3 " translate>DESTROYED</td>
                        <td style="display: flex;justify-content: flex-start;">
                          <div class="buttons">
                            <button class="btn btn-info btn-xs"
                              ng-click="ChangeManagerInfoToApprove.approveReject(item,'approve')"
                              ng-disabled="(isForAdmin && item.status != 0) || (!isForAdmin && item.myStatus != 0)">
                              <i class="ion-checkmark-round" aria-hidden="true"></i>
                              <span translate>APPROVE</span>
                            </button>
                            <button class="btn btn-danger btn-xs"
                              ng-click="ChangeManagerInfoToApprove.approveReject(item,'reject')"
                              ng-disabled="(isForAdmin && item.status != 0) || (!isForAdmin && item.myStatus != 0)">
                              <i class="ion-close-round" aria-hidden="true"></i>
                              <span translate>REJECT</span>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody ng-show="ChangeManagerInfoToApprove.isLoading">
                      <tr class="st-row__parent action">
                        <td colspan="8" class="text-center" translate>LOADING</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="td-position">
                          <div class="row">
                            <div st-pagination="" st-items-by-page="ChangeManagerInfoToApprove.tablePageSize"
                              st-displayed-pages="5">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>