<div class="st-filter clearfix" ng-controller="PopupManagerDetailCtrl as vm">
  <div class="row">
    <div class="col-xs-6">
      <button type="button" class="btn btn-default btn-with-icon" ng-click="vm.back()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span translate>BACK</span>
      </button>
    </div>
    <div class="col-xs-6 text-right">
      <button type="button" class="btn btn-info btn-with-icon" ng-click="vm.showEdit()" ng-if="vm.isEdit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <span translate>EDIT</span>
      </button>
      <button type="button" class="btn btn-default btn-with-icon" ng-click="vm.reload()"
        ng-if="!vm.isCreateMode&&vm.isSave">
        <i class="fa fa-undo" aria-hidden="true"></i>
        <span translate>CANCEL</span>
      </button>
      <button type="submit" class="btn btn-primary btn-with-icon" ng-click="vm.save()" ng-disabled="!vm.isSave">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        <span translate>SAVE</span>
      </button>
    </div>
  </div>
  </br>
  <div>
    <div class="widgets">
      <div class="wid-content">
        <div class="row" style="background: #dba147;line-height: 35px;margin-bottom: 15px;">
          <div class="col-md-3" style="height: 35px;">
            <p style="font-weight: bold;" translate>TIME_PERSON</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p translate style="font-weight: 500;">FROM_DATE</p>
            <p class="input-group">
              <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
                ng-model="vm.dataExport.startDate" is-open="vm.datePopup.startDateOpend"
                datepicker-options="vm.dateOptions" ng-disabled="!vm.isSave" ng-required="true" close-text="Close"
                show-button-bar="false" ng-readonly="true" ng-click="vm.onDateClick(1)" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.onDateClick(1)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="col-md-3">
            <p translate style="font-weight: 500;">TO_DATE</p>
            <p class="input-group">
              <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
                ng-model="vm.dataExport.endDate" is-open="vm.datePopup.endDateOpend" datepicker-options="vm.dateOptions"
                ng-disabled="!vm.isSave" ng-required="true" close-text="Close" show-button-bar="false"
                ng-readonly="true" ng-click="vm.onDateClick(2)" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.onDateClick(2)"><i
                    class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;margin-bottom: 20px;">
          <div class="col-md-12" ng-repeat="item in vm.list track by $index" style="margin-bottom: 10px;">
            <div>
              <span class="reportTitle" translate>
                {{item.title}}</span>
            </div>
            <ui-select multiple ng-model="vm[item.value]" ng-disabled="!vm.isSave || item.isDisable" search-enabled="true"
              append-to-body="true" class="form-control ">
              <ui-select-match placeholder="Multiple Select">
                {{$item.value}}
              </ui-select-match>
              <ui-select-choices repeat="itemSelect in vm[item.data] | filter: {value: $select.search}">
                <span ng-bind-html="itemSelect.value.replace(' ||| ', ' - ') | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="row" style="background: #dba147;line-height: 35px;margin-bottom: 15px;">
          <div class="col-md-3" style="height: 35px;">
            <p style="font-weight: bold;" translate>CONTENT_ACTION</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p style="font-weight: 500;" translate>DO</p>
            <div ng-repeat="data in vm.popupActions track by $index">
              <label class="checkbox-inline custom-checkbox nowrap">
                <input ng-disabled="!vm.isSave" type="checkbox" ng-model="data.isShow">
                <span translate>{{data.key}}</span>
              </label>
              </br></br>
            </div>
          </div>
        </div>
        </br>
        <div class="row">
          <div class="col-md-12">
            <p style="font-weight: 500;" translate>NOTIFICATION_CONTENT</p>
            <textarea ng-disabled="!vm.isSave" type="text" rows="5" class="form-control" ng-model="vm.content"
              translate-attr="{ placeholder: 'NOTIFICATION_CONTENT' }" style="height: 80px; margin-bottom: 14px;"
              maxlength="255">
                </textarea>
          </div>
        </div>
        <div class="row">
          <div ng-if="vm.isSave" class="col-md-12">
            <p style="font-weight: 500;" translate>STATUS</p>
            <ba-switcher switcher-style="primary" switcher-value="vm.status"></ba-switcher>
          </div>
        </div>
        <div class="row">
          <div ng-if="!vm.isSave" class="col-md-12">
            <p style="font-weight: 500;" translate>STATUS</p>
            <button ng-if="vm.status" disabled="disabled" type="button" class="btn btn-success btn-with-icon"
              translate><i class="ion-android-checkmark-circle"></i>ACTIVE</button>
            <button ng-if="!vm.status" disabled="disabled" type="button" class="btn btn-danger btn-with-icon"
              translate><i class="ion-nuclear"></i>BLOCKED</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>