<div class="st-filter clearfix">
    <div>
        <div class="widgets">
            <div class="wid-content">
                <!-- Title -->
                <div style="background-color: #8EC282;padding: 10px;">
                    <p style="font-size: 16px;margin-bottom: 0px;color: #ffffff;font-weight: 300;">
                            Department
                    </p>
                </div>
                <!-- group 1 -->
                <!-- End Group 1-->
            </div>
        </div>