<div class="widgets">

    <div class="row show-modal">
        <div class="col-md-12" ba-panel ba-panel-title="Xác nhận">
            <form class="form-horizontal st-form">
                <div class="form-group">
                    <label class="col-md-12 control-label">Bạn có chắc chắn muốn từ chối 69 đơn từ</label>
                </div>
                <div class="form-group">
                    <div class="col-md-7 text-right">
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" class="btn btn-danger" ng-click="no()">
                            <i class="ion-close-round"></i>
                            <span class="color-white">Hủy bỏ</span>
                        </button>
                    </div>
                    <div class="col-md-2 text-right">
                        <button type="button" class="btn btn-info" ng-click="yes('reject')">
                            <i class="ion-plus-round"></i>
                            <span class="color-white">Tiếp tục</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>