<div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="myModalLabel" translate>IRREGULAR_DETAIL</h4>
        </div>
        <div class="modal-body row" style="padding-left: 30px">
            <div class="col-xs-6">
                <div style="margin-bottom: 10px"><span translate>FULL_NAME</span></div>
                <div style="margin-bottom: 10px"><span translate>EMAIL</span></div>
                <div style="margin-bottom: 10px"><span translate>DATE</span></div>
                <div style="margin-bottom: 10px" ><span translate>START_END</span></div>
                <div style="margin-bottom: 10px" ><span translate>STATUS</span></div>
                <div style="margin-bottom: 10px" ><span translate>MANAGER_NAME</span></div>
                <div style="margin-bottom: 10px" ><span translate>MANAGER_EMAIL</span></div>
                <div style="margin-bottom: 10px"><span translate>REASON</span></div>
                <div style="margin-bottom: 10px" ng-if="details.rejectReason"><span translate>REJECT_REASON</span></div>
            </div>
            <div class="col-xs-6">
                <div style="margin-bottom: 10px">{{details.name}}</div>
                <div style="margin-bottom: 10px">{{details.email}}</div>
                <div style="margin-bottom: 10px">{{details.workDate}}</div>
                <div style="margin-bottom: 10px">{{details.checkInTime}}<span ng-if="details.checkOutTime"> - {{details.checkOutTime}}</span></div>
                <div ng-if="details.status == 0 " style="margin-bottom: 10px; color: #7d75b9" translate>PENDING</div>
                <div ng-if="details.status == 1 " style="margin-bottom: 10px; color: #57d662" translate>ACTIVE</div>
                <div ng-if="details.status == 2 " style="margin-bottom: 10px; color: #ef3333" translate>BLOCKED</div>
                <div ng-if="details.status == 3 " style="margin-bottom: 10px" translate>WAITING_BLOCK</div>
                <div ng-if="details.status == 4 " style="margin-bottom: 10px" translate>EXPIRED</div>
                <div style="margin-bottom: 10px">{{details.managerName}}</div>
                <div style="margin-bottom: 10px">{{details.managerEmail}}</div>
                <div style="margin-bottom: 10px">{{details.note}}</div>
                <div style="margin-bottom: 10px" ng-if="details.rejectReason">{{details.rejectReason}}</div>
            </div>
            
            
        </div>
    </div>