<!DOCTYPE html>
<html lang="en" ng-app="AuthApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Topica Osscar Checkin</title>

  <link
    href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
    rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/osscar-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/osscar-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/osscar-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/auth.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.0/oidc-client.min.js"></script>
  <script src="https://account.topica.vn:9000/libs/sso-client-wrapper.js"></script>
</head>

<body>
  <main id="mainContent" class="auth-main" ng-controller="AuthCtrl">
    <!-- <div class="auth-block" style="opacity: 0.6;background: #000000;padding: 50px;"> -->
      <!-- <h1 style="font-weight: 300;color: #dcc294;padding-bottom: 15px;">Topica Osscar Checkin</h1>

      <div class="auth-sep">
        <span><span> -->
            <!-- <button class="btn btn-lg btn-default btn-auth" style="
            font-weight: 400;
        " ng-click="signin()">
              <img src="assets/img/google.svg" alt="Simply Easy Learning" style="
              margin-right: 5px;
          " width="30" height="30">
              Sign in to Topica email
            </button> -->
    </div>
  </main>

  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <script src="/config.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script type="text/javascript">
    function init() {
      // gapi.load('auth2', function () {
      //   auth2 = gapi.auth2.init({
      //     client_id: configApp.clientId,
      //     scope: 'profile'
      //   });
      // });
      angular.element(document.getElementById('mainContent')).scope().signInWithSSO()
    };

    (function () {
      'use strict';

      angular.module('AuthApp', ['ngCookies', 'toastr'])
        .controller('AuthCtrl', AuthCtrl);

      /** @ngInject */
      function AuthCtrl($scope, $window, $cookies, $http, toastr) {
        if ($cookies.get('access_token')) {
          $window.location = '/';
        }

        $scope.signInWithSSO = function () {
          var _this = this;
          var ssoClient = new SSOClient(configApp.configSso);
        if (document.URL.split("access_token=").length > 1) {
          ssoClient.signinRedirectCallback().then(function successCallback(ssoResponse) {
            if (ssoResponse.access_token) {
                  var options = {
                  method: "POST",
                  url: configApp.apiUrl + "oauth/ssotoken",
                  data: { AccessToken: ssoResponse.access_token }
              };
              $http(options).then(function success(response) {
                if (response.data.data) {
                  var routesOption = {
                      method: 'GET',
                      url: configApp.apiUrl + 'oauth/routes',
                      headers: {
                        'Authorization': 'Bearer ' + response.data.data,
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                      }
                  };
                  $http(routesOption).then(function success(routes) {
                    if (routes.data.data) {
                        var isLeader = !(routes.data.data.indexOf('OverTime.GetOvertimeForManager') === -1);
                        console.log(isLeader);
                        if (isLeader) {
                          $cookies.put('is_leader', "leader");
                        } else {
                          $cookies.put('is_leader', "employee");
                        }
                        var saveDataToCookies = function(key , value , dayExpired) {
                          var expireDate = new Date();
                          expireDate.setDate(expireDate.getDate() + dayExpired);
                          $cookies.put(key, value, {
                            expires: expireDate
                          });
                        }
                        saveDataToCookies('user_image_url',ssoResponse.profile.employee_profile_picture,30)
                        saveDataToCookies('access_token',response.data.data,30)
                        saveDataToCookies('user_name',((ssoResponse.profile.given_name || "") + " " + (ssoResponse.profile.family_name || "")),30)
                        $window.location = '/';
                      }
                  }, function error(response) {
                      toastr.error(response.data.message || 'Error occurred. Please try again later');
                  });
                } else{
                  toastr.error(response.data.message || 'Error occurred. Please try again later');
                }
              }, function error(response) {
                  toastr.error(response.data.message || 'Error occurred. Please try again later');
                  if (response.data.data && response.data.data.hasOwnProperty('active') && response.data.data.active === false){
                    ssoClient.signoutRedirect();
                  }
              });
            }
          }, function errorCallback(response) {
              toastr.error( 'Error occurred. Please try again later');
          });
        } else{
          ssoClient.signin();
        }
      }
        // $scope.signin = function () {
        //   auth2.signIn().then(function (googleUser) {

        //     var id_token = googleUser.getAuthResponse().id_token;
        //     var options = {
        //       method: 'POST',
        //       url: configApp.apiUrl + 'oauth/token',
        //       data: {
        //         IdToken: id_token
        //       }
        //     };
        //     $http(options).then(function success(response) {
        //       if (response.data.data) {
        //         var routesOption = {
        //           method: 'GET',
        //           url: configApp.apiUrl + 'oauth/routes',
        //           headers: {
        //             'Authorization': 'Bearer ' + response.data.data,
        //             'Accept': 'application/json',
        //             'Content-Type': 'application/json'
        //           }
        //         };
        //         $http(routesOption).then(function success(routes) {
        //           if (routes.data.data) {
        //             var isLeader = !(routes.data.data.indexOf('OverTime.GetOvertimeForManager') === -1);
        //             console.log(isLeader);
        //             if (isLeader) {
        //               $cookies.put('is_leader', "leader");
        //             } else {
        //               $cookies.put('is_leader', "employee");
        //             }
        //             var expireDate = new Date();
        //             expireDate.setDate(expireDate.getDate() + 30);
        //             $cookies.put('user_name', googleUser.getBasicProfile().getName(), {
        //               'expires': expireDate
        //             });
        //             $cookies.put('access_token', response.data.data, {
        //               'expires': expireDate
        //             });
        //             $cookies.put('user_image_url', googleUser.getBasicProfile().getImageUrl(), {
        //               'expires': expireDate
        //             });
        //             $window.location = '/';
        //           }
        //         }, function error(response) {
        //           toastr.error(response.data.message || 'Error occurred. Please try again later');
        //         });
        //       }
        //     }, function error(response) {
        //       console.log(response);
        //       toastr.error(response.data.message || 'Error occurred. Please try again later');
        //     });
        //   }, function (response) {
        //     toastr.error(response.error || 'Error occurred. Please try again later');
        //   });
        // }
      }

    })();
  </script>
</body>

</html>