<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="pageTitle || 'Topica Osscar'"></title>
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />

  <link
    href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic'
    rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/osscar-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/osscar-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/osscar-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.9.0/oidc-client.min.js"></script>
    <script src="https://account.topica.vn:9000/libs/sso-client-wrapper.js"></script>
    <script src="/config.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="angular(.min).js"></script>
    <script src="ng-file-upload-shim(.min).js"></script> <!-- for no html5 browsers support -->
    <script src="ng-file-upload(.min).js"></script>
    <script type="text/javascript">
      function init() {
        // gapi.load('auth2', function () {
        //   auth2 = gapi.auth2.init({
        //     client_id: configApp.clientId,
        //     scope: 'profile'
        //   });
        // });
      };
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- in checkin.topica.vn -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132902232-14"></script>
    <!-- in checkin.topica.asia -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132964207-4"></script>
    <!-- logic -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      if(window.location.hostname === 'checkin.topica.vn')
      {
        gtag('config', 'UA-132902232-14');
      }
      else if(window.location.hostname === 'checkin.topica.asia')
      {
        gtag('config', 'UA-132964207-4');
      }
    </script>
    
  <div class="body-bg"></div>
  <main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }">

    <ba-sidebar></ba-sidebar>
    <page-top></page-top>

    <div class="al-main">
      <div class="al-content">
        <content-top></content-top>
        <div ui-view autoscroll="true" autoscroll-body-top></div>
      </div>
    </div>

    <footer class="al-footer clearfix">
      <div class="al-footer-right" translate>CONTACT</div>
      <div class="al-footer-main clearfix">
        <div class="al-copy">Topica Osscar Checkin</div>
      </div>
    </footer>

    <back-top></back-top>
  </main>

  <div id="preloader" ng-show="!$pageFinishedLoading">
    <div></div>
  </div>

  <div id="loading" ng-show="$showLoading">
    <div></div>
  </div>

  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->

  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
  <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
  <script>
    var ssoClient = new SSOClient(configApp.configSso);
    var loginAgain = function() {
      ssoClient.removeUserInfo()
      ssoClient.signin()
    }
    ssoClient.refreshTokenSilent().then(function (user) {
        //
    }).catch(function(error) {
      loginAgain()
    });
    ssoClient.addUserSignedOut(function() {
      loginAgain()
    })
  </script>
</body>

</html>