<div ba-panel ba-panel-class="with-scroll">
  <div ng-if="lang_cookie == 'th' || lang_cookie == 'en'" class="col-md-12 cold-sm-12" style="text-align: center;">
    <img style="
      height: auto;
      width: 40%;
      " src="/assets/img/feedback.png" alt="Italian Trulli">
    <p style="font-size: 18px;"  translate >CONTENT_FEEDBACK</p>
    <a ng-show="lang_cookie != 'th'" href="http://topi.ca/feedbackcheckin" target="_blank" style="color: blue" translate>FEEDBACK</a>
    <a ng-show="lang_cookie == 'th'" href="https://docs.google.com/forms/d/1p9pYPXGA9396BspvuL8UWmi6trFWNha7gVFhZM23Qo4/edit" target="_blank" style="color: blue" translate>FEEDBACK</a>
  </div>

  <div ng-if="lang_cookie == 'vi'" class="col-md-12 cold-sm-12">
    <div class="row">
      <div class="col-md-5 justify-content-end">
          <img style="width: 80%;float: right;padding-top: 55px;" src="/assets/img/feedback.png" alt="Italian Trulli">
      </div>
      <div class="col-md-7" style="padding-top: 80px;">
          <p class="feedbackTitle">Để được phục vụ tốt nhất, thầy/cô vui lòng đặt hàng qua Osscar Menu như sau:</p>
          <br>
          <p class="feedbackBold"><span>Bước 1: Truy cập trang chủ Osscar tại: </span><a target="_blank" style="color: #5255f4;" href="http://osscar.topica.vn">Osscar.topica.vn</a></p>
          <p class="feedbackBold">Bước 2: Đặt hàng qua Osscar Menu</p>
          <p class="feedbackTab">- Chọn Osscar Menu Hà Nội</p>
          <p class="feedbackTab">- Chọn "Chính sách nhân sự"</p>
          <p class="feedbackTab">- Chọn " Lương, thưởng, bảo hiểm, thuế" </p>
          <p class="feedbackTab">- Chọn " Dịch vụ tư vấn" </p>
          <p class="feedbackTab">- Chọn dịch vụ "Tư vấn, giải đáp thắc mắc về Osscar Checkin - TCB_HN_PCBS_HQ_0055"</p>
          <p class="feedbackTab">- Điền thông tin đơn hàng</p>
          <p class="feedbackBold">Bước 3: Đặt hàng </p>
      </div>
    </div>
  </div>
</div>