<div>
  <div class="row">
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-xs-12" ba-panel
          ba-panel-title="{{ 'TIMESHEET' | translate }} {{ 'SCRIPT' | translate }} {{timeSheetData.scriptSelected.subScript}}"
          ba-panel-class="with-scroll">
          <div class="st-filter clearfix row" id="myTimeSheets" style="padding-bottom: 30px;">

            <div class="col-xs-12" style="margin: -15px 0 15px 0;" ng-show="timeSheetData.listScript.length > 1">
              <span style="font-size: 18px; " translate>CHOOSE_TIMESHEET_SCRIPT</span>
              <!-- <div style="margin-bottom: 10px"><span translate>Mã</span><span>:</span></div> -->
              <!-- <span ng-show="timeSheetData.listScript.length == 1">{{timeSheetData.scriptSelected.subScript}}</span> -->
              <ui-select style="display: inline-block; margin-left: 15px; max-width: 100px;"
                ng-model="timeSheetData.scriptSelected" class="btn-group bootstrap-select form-control"
                ng-disabled="false" search-enabled="true" ng-change="changeScript()">
                <ui-select-match>
                  {{timeSheetData.scriptSelected.subScript}}
                </ui-select-match>
                <!-- <ui-select-choices repeat="item in event | filter: $select.search" -->
                <ui-select-choices repeat="item in timeSheetData.listScript">
                  <span ng-bind-html="item.subScript | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
            <div>
              <div class="col-sm-6 col-xs-12 row" ng-show="!timeSheetData.isLoading">
                <div class="col-xs-12 detals-text">
                  <table class="col-xs-12">
                    <tr ng-show="timeSheetData.employeeType == 'CTV'">
                      <td class="space-table" translate>TOTAL_WORKING_TIME_MORNING</td>
                      <td class="space-table">{{timeSheetData.totalMorningSeconds}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType == 'CTV'">
                      <td class="space-table" translate>TOTAL_WORKING_TIME_AFTERNOON</td>
                      <td class="space-table">{{timeSheetData.totalAfternoonSeconds}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType == 'CTV'">
                      <td class="space-table" translate>TOTAL_WORKING_HOURS</td>
                      <td class="space-table">{{timeSheetData.totalWorkSeconds}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType != 'CTV'">
                      <td class="space-table" translate>WORK_DAY_IN_MONTH</td>
                      <td class="space-table">
                        {{timeSheetData.totalNumberOfWorkDay}}/{{timeSheetData.quotasTimeKeepingInMonth}}
                      </td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType != 'CTV'">
                      <td class="space-table" translate>LEAVE_IN_MONTH</td>
                      <td class="space-table">
                        {{timeSheetData.totalNumberOfLeaveDay}}/{{timeSheetData.quotasTimeKeepingInMonth}}
                      </td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType != 'CTV'">
                      <td class="space-table" translate>TOTAL_WORKING_DAY</td>
                      <td class="space-table">
                        {{timeSheetData.totalWorkingDays}}
                      </td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType != 'CTV' && timeSheetData.totalRejects > 0">
                      <td class="space-table" translate>IRRGULAR_CHECK_IN_OUT</td>
                      <td class="space-table">{{timeSheetData.totalRejects}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.employeeType != 'CTV'">
                      <td class="space-table" translate>AVERAGE_WORKING_HOURS</td>
                      <td class="space-table">{{timeSheetData.averageWorkSeconds}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.totalCheckinLate > 0">
                      <td class="space-table" translate>CHECKIN_LATE</td>
                      <td class="space-table">{{timeSheetData.totalCheckinLate}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.totalCheckoutEarly > 0">
                      <td class="space-table" translate>CHECKOUT_EARLY</td>
                      <td class="space-table">{{timeSheetData.totalCheckoutEarly}}</td>
                    </tr>
                    <tr ng-show="timeSheetData.scriptSelected.corporationType != 'TH_CORP'">
                      <td class="space-table" translate>OVERTIME_MEAL_ALLOWANCE</td>
                      <td class="space-table">{{timeSheetData.totalShiftEat}}</td>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="col-sm-6 col-xs-12 row" ng-show="!timeSheetData.isLoading">
                <div class="col-xs-12 detals-text" style="margin-bottom: 20px">
                  <div class="space-table" ng-show="timeSheetData.totalOverTime.length != 0" translate>TOTAL_OVERTIME
                  </div>
                  <table class="col-xs-12 ">
                    <tr ng-repeat="overtime in timeSheetData.totalOverTime">
                      <td class="overtime-text">{{overtime.item2}}</td>
                      <td class="overtime-text">{{overtime.item1}}</td>
                    </tr>
                  </table>
                  <div class="space-table" style="margin-top:50px"
                    ng-show="timeSheetData.totalPendingOverTime.length != 0" translate>TOTAL_PENDING_OVERTIME</div>
                  <table class="col-xs-12">
                    <tr ng-repeat="pendingovertime in timeSheetData.totalPendingOverTime">
                      <td class="pending-overtime-text">{{pendingovertime.item2}}</td>
                      <td class="pending-overtime-text">{{pendingovertime.item1}}</td>
                    </tr>
                  </table>
                </div>
                
              </div>

              <div class="col-xs-12" ng-show="!timeSheetData.isLoading">
                <div class="col-sm-6"></div>
                <div class="instruction col-sm-6">
                  <span ng-show="timeSheetData.hasEventWork" ng-click="openEventBoard()" class="event-details"
                    style="margin-right: 20px;" translate>DETAIL_EVENT_WORK</span>
                  <span ng-click="openInstruction()" class="overtime-text text-right" style="float: right"
                    translate>TIMESHEET_INSTRUCTION</span>
                  <span ng-click="openInstruction()" class="overtime-text" style="float: right"><i
                      class="ion-help help-icon"></i></span>
                </div>
              </div>

              <div class="instruction" ng-show="timeSheetData.isLoading">
                <span translate>LOADING</span>
              </div>

            </div>
            <div class="row">
              <div class="col-xs-12">
                <div id='calendar' class="blurCalendar timeSheets"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>