<div class="modal-content" id="timeSheetInstruction">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>TIMESHEET_INSTRUCTION</h4>
  </div>
  <div class="modal-body row" style="padding-left: 30px">
    <div class="col-xs-12">
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="" translate>COLOR_TYPE</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="leave-text" translate>LEAVE_REQUEST_2</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="time-keeping-text" translate>TIME_KEEPING_REQUEST</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="overtime-text" translate>OVERTIME_REQUEST</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="" translate>COLORFUL_BACKGROUND</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="leave" translate>APPROVED_LEAVE</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="time-keeping" translate>APPROVED_TIME_KEEPING</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="overtime" translate>APPROVED_OVERTIME</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="" translate>GREY_BACKGROUND</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="pending-leave" translate>PENDING_LEAVE</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="pending-time-keeping" translate>PENDING_TIME_KEEPING</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="pending-overtime" translate>PENDING_OVERTIME</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="" translate>RED_BABKGROUND</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="expired-approval" translate>EXPIRED_LEAVE</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="expired-approval" translate>EXPIRED_TIME_KEEPING</div>
      </div>
      <div class="col-xs-3" style="margin-bottom: 10px">
        <div class="expired-approval" translate>EXPIRED_OVERTIME</div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-3" style="margin: 20px 0 10px"><span translate>P (Paid) / U (Unpaid)</span></div>
      <div class="col-xs-6" style="margin: 20px 0 10px"><span translate>PAID_UNPAID</span></div>
    </div>



    <!-- <div class="col-xs-12">
                <div style="margin-bottom: 10px"><span translate>REASON</span></div>
                <div style="margin: 0px 30px 10px 30px">{{details.note}}</div>
            </div> -->

  </div>
</div>