<div ba-panel ba-panel-class="" id="leaveRequest" ng-init="getOvertime()">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="col-xs-12">
        <h4 translate>MONTH</h4>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="MM/yyyy"
            ng-model="dataExport.date" is-open="datePopup.monthOpend" datepicker-options="monthOptions"
            ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true" ng-click="onDateClick(1)"
            ng-change="changeMonth()" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="onDateClick(1)"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>

      <div class="col-xs-6">
        <p translate>FROM_DATE</p>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="dataExport.startDate" is-open="datePopup.startDateOpend" datepicker-options="dateOptions"
            ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true"
            ng-click="onDateClick(2)" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="onDateClick(2)"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p translate>TO_DATE</p>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="dataExport.endDate" is-open="datePopup.endDateOpend" datepicker-options="dateOptions"
            ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true"
            ng-click="onDateClick(3)" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="onDateClick(3)"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="col-xs-6">
        <p translate>REPORT_TYPE</p>
        <ui-select style="margin-bottom: 10px" ng-model="form.type" class="btn-group bootstrap-select form-control"
          ng-disabled="false">
          <ui-select-match>
            {{form.type.value}}
          </ui-select-match>
          <ui-select-choices repeat="item in form.exporttType">
            <span ng-bind-html="item.value | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="col-xs-6">
        <p translate>SCRIPT</p>
        <ui-select style="margin-bottom: 10px" ng-model="form.scriptType"
          class="btn-group bootstrap-select form-control" ng-disabled="false">
          <ui-select-match>
            {{form.scriptType.subScript}}
          </ui-select-match>
          <ui-select-choices repeat="item in form.script">
            <span ng-bind-html="item.subScript | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!-- <div class="col-md-2" ng-if="dataExport.date">
      <div>
        <p translate>FROM_DATE</p>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="dataExport.startDate" is-open="datePopup.startDateOpend" datepicker-options="dateOptions"
            ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true"
            ng-click="onDateClick(2)" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="onDateClick(2)"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

      </div>
    </div>
    <div class="col-md-2" ng-if="dataExport.date">
      <div>
        <p translate>TO_DATE</p>
        <p class="input-group">
          <input type="text" class="form-control approvedByText" uib-datepicker-popup="dd/MM/yyyy"
            ng-model="dataExport.endDate" is-open="datePopup.endDateOpend" datepicker-options="dateOptions"
            ng-required="true" close-text="Close" show-button-bar="false" ng-readonly="true"
            ng-click="onDateClick(3)" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="onDateClick(3)"><i
                class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

      </div>
    </div> -->
    <div class="col-md-2">
      <!-- <div ng-if="form.type.key == 'overtime'">
        <p translate>EVENT_TYPE</p>
        <select style="margin-bottom: 10px" class="form-control" ng-model="form.groupEventId"
          ng-change="onChangeEventsGroup()">
          <option ng-repeat="item in form.groupEvent track by $index" ng-value="item.id">
            {{item.description}}</option>
        </select>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;margin-top: 30px;">
      <button style="background: #DBA147;color: #fafafa;"
        class="btn ng-isolate-scope progress-button progress-button-dir-horizontal progress-button-style-top-line ng-scope"
        ng-click="downloadFile(form.scriptType.id,form.type.key,form.groupEventId)" translate>
        EXPORT
      </button>
      <!-- <div class="col-md-12">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('D','timesheet')" translate>EXPORT_TIMESHEET_CTV</button>
          </div>
          <div class="col-md-12" style="padding-top: 10px;">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('B','timesheet')" translate>EXPORT_TIMESHEET_B</button>
          </div>
          <div class="col-md-12" style="padding-top: 10px;">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('A','timesheet')" translate>EXPORT_TIMESHEET_A</button>
          </div>
          <div class="col-md-12" style="padding-top: 10px;">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C800','timesheet')" translate>EXPORT_TIMESHEET_C800</button>
          </div>
          <div class="col-md-12" style="padding-top: 10px;">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C900','timesheet')" translate>EXPORT_TIMESHEET_C900</button>
          </div>
          <div class="col-md-12" style="padding-top: 10px;">
            <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C830','timesheet')" translate>EXPORT_TIMESHEET_C830</button>
          </div>
        </div> -->
      <!-- <div class="col-md-6"> -->
      <!-- <div class="col-md-12">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('D','overtime')" translate>EXPORT_OVERTIME_CTV</button>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('B','overtime')" translate>EXPORT_OVERTIME_B</button>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('A','overtime')" translate>EXPORT_OVERTIME_A</button>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C800','overtime')" translate>EXPORT_OVERTIME_C800</button>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C900','overtime')" translate>EXPORT_OVERTIME_C900</button>
            </div>
            <div class="col-md-12" style="padding-top: 10px;">
              <button class="btn btn-default" style="width: 250px;" ng-click="downloadFile('C830','overtime')" translate>EXPORT_OVERTIME_C830</button>
            </div> -->
    </div>
  </div>
</div>