<div class="form-group">
  <label translate>{{label}}</label>
  <select class="form-control" ng-change="onChange()" ng-model="checkbox" ng-init="checkbox=default">
    <!-- <option ng-value=""></option> -->
    <option ng-repeat="item in data track by $index" value="{{item.value}}" translate>{{item.label}}</option>
  </select>
</div>