<div class="widgets">

        <div class="row show-modal">
            <div class="col-md-12" ba-panel ba-panel-title="Xác nhận">
                <form class="form-horizontal st-form">
                    <div class="form-group">
                        <label class="col-md-12 control-label" translate>DO_YOU_WANT_REJECT_ALL_RECORD</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 text-right">
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-danger" ng-click="no()">
                                <i class="ion-plus-round"></i>
                                <span class="color-white" translate>CANCEL</span>
                            </button>
                        </div>
                        <div class="col-md-2 text-right">
                            <button type="button" class="btn btn-info" ng-click="yes()">
                                <i class="ion-close-round"></i>
                                <span class="color-white" translate>NEXT</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    
    
    </div>