<div class="st-filter clearfix">
  <div class="row">
    <div class="col-md-2 col-xs-12">
      <h4 translate>FULL_NAME</h4>
      <input type="text" class="form-control disable-text margin-bot" ng-disabled="true"
        ng-model="changeManager.currentManager.userName">
    </div>
    <div class="col-md-2 col-xs-12">
      <h4 translate>HEAD_ORG_UNIT</h4>
      <input type="text" class="form-control disable-text margin-bot" ng-disabled="true"
        ng-model="changeManager.currentManager.headOfOrgUnitEmail">
    </div>
    <div class="col-md-2 col-xs-12">
      <h4 translate>CURRENT_MANAGER</h4>
      <input type="text" class="form-control disable-text margin-bot" ng-disabled="true"
        ng-model="changeManager.currentManager.managerEmail">
    </div>
    <div class="col-md-2 col-xs-12">
      <h4 translate>NEW_MANAGER</h4>
      <ui-select style="margin-bottom: 10px" ng-model="changeManager.newManagerSelected"
        class="btn-group bootstrap-select form-control" ng-disabled="false" search-enabled="true">
        <ui-select-match placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
          {{changeManager.newManagerSelected.email}}
        </ui-select-match>
        <ui-select-choices repeat="item in changeManager.newManager"
          refresh="changeManager.refreshNewManager($select.search)">
          <span ng-bind-html="item.email | highlight: $select.search"></span>
          <span ng-bind-html="item.id | highlight: $select.search" style="float: right;"></span>
          <br><i ng-bind-html="item.fullName" style="font-size: 12px;"></i>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-3 col-xs-12">
      <div style="text-align:center; margin-top: 30px;"><button type="button" class="btn btn-info btn-with-icon"
          ng-click="changeManager.ChangeManager()"><i class="ion-checkmark-circled"></i><span translate>SEND</span></button></div>
    </div>
  </div>
</div>
<div class="widgets" ng-show="ChangeManagerInfoToApprove.tableData.length > 0">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="{{ 'CHANGE_MANAGER_APPROVE' | translate }}"
        ba-panel-class="with-scroll">

        <div class="table-responsive" style=" min-height: 100px;">
          <table class="table table-hover st-table" st-pipe="ChangeManagerInfoToApprove.init"
          st-table="ChangeManagerInfoToApprove.tableData">
            <thead>
              <tr>
                <td colspan="15"></td>
              </tr>
              <tr class="sortable ">
                <th><label class="" translate>STT</label></th>
                <!-- <th st-sort="name" translate>NAME</th> -->
                <th translate>EMPLOYEE_NAME</th>
                <th translate>HEAD_ORG_UNIT</th>
                <th translate>HEAD_ORG_UNIT_STATUS</th>
                <th translate>NEW_MANAGER</th>
                <th translate>NEW_MANAGER_STATUS</th>
                <!-- <th translate>PAY_PER_HOUSE</th> -->
                <th translate>STATUS</th>                
                <th translate>ACTION</th>
              </tr>
              <tr>
                <td colspan="15"></td>
              </tr>
            </thead>
            <tbody>
              <tr class="st-row__parent" ng-repeat="item in ChangeManagerInfoToApprove.tableData track by $index">
                <td class="table-text table-width stt">
                  <label class="">
                    <!-- <input type="checkbox" ng-checked="myChangeManagerInfo.selected.indexOf(item.id) > -1"  ng-click="myChangeManagerInfo.toggleSelection(item.id)" ng-if="item.status == 0"> -->
                    <span>{{ChangeManagerInfoToApprove.tableState.pagination.start + $index+1}}</span>
                  </label>
                </td>
                <td class="table-text">{{item.userEmail}}</td>
                <td class="table-text">{{item.oldManagerEmail}}</td>
                <td class="table-text status-pending" ng-if="item.oldManagerStatus == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.oldManagerStatus == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.oldManagerStatus == 2 " translate>BLOCKED</td>
                <td class="table-text">{{item.newManagerEmail}}</td>
                <td class="table-text status-pending" ng-if="item.newManagerStatus == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.newManagerStatus == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.newManagerStatus == 2 " translate>BLOCKED</td>
                <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                <td class="table-text status-destroy" ng-if="item.status == 3 " translate>DESTROYED</td>
                <td style="display: flex;justify-content: flex-start;">
                  <div class="buttons">
                    <button class="btn btn-info btn-xs" ng-click="ChangeManagerInfoToApprove.approveReject(item,'approve')"
                      ng-disabled="item.myStatus != 0">
                      <i class="ion-checkmark-round" aria-hidden="true"></i>
                      <span translate></span>
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="ChangeManagerInfoToApprove.approveReject(item,'reject')"
                      ng-disabled="item.myStatus != 0">
                      <i class="ion-close-round" aria-hidden="true"></i>
                      <span translate></span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody ng-show="ChangeManagerInfoToApprove.isLoading">
              <tr class="st-row__parent action">
                <td colspan="8" class="text-center" translate>LOADING</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="td-position">
                  <div class="row">
                    <div st-pagination="" st-items-by-page="ChangeManagerInfoToApprove.tablePageSize" st-displayed-pages="5">
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widgets">
  <div class="wid-content">
    <div class="row">
      <div class="col-md-12" ba-panel ba-panel-title="{{ 'CHANGE_MANAGER_PENDING' | translate }}"
        ba-panel-class="with-scroll">
        <div class="table-responsive" style=" min-height: 100px;">
          <table class="table table-hover st-table" st-pipe="myChangeManagerInfo.init"
            st-table="myChangeManagerInfo.tableData">
            <thead>
              <tr>
                <td colspan="12"></td>
              </tr>
              <tr class="sortable ">
                <th><label class="" translate>STT</label></th>
                <!-- <th st-sort="name" translate>NAME</th> -->
                <th translate>FULL_NAME</th>
                <th translate>HEAD_ORG_UNIT</th>
                <th translate>HEAD_ORG_UNIT_STATUS</th>
                <th translate>NEW_MANAGER</th>
                <th translate>NEW_MANAGER_STATUS</th>
                <th translate>STATUS</th>
                <!-- <th st-sort="status" translate>STATUS</th> -->
                <!-- <th translate>MANAGER_NAME</th> -->
                <!-- <th translate>MANAGER_EMAIL</th> -->
                <!-- <th translate>TIME_UPDATE</th> -->
                <th translate>ACTION</th>
              </tr>
              <tr>
                <td colspan="12"></td>
              </tr>
            </thead>
            <tbody ng-show="!myChangeManagerInfo.isLoading">
              <tr class="st-row__parent" ng-repeat="item in myChangeManagerInfo.tableData track by $index"
                ng-click="myChangeManagerInfo.openDetails(item)">
                <td class="table-text table-width stt">
                  <label class="">
                    <!-- <input type="checkbox" ng-checked="myChangeManagerInfo.selected.indexOf(item.id) > -1"  ng-click="myChangeManagerInfo.toggleSelection(item.id)" ng-if="item.status == 0"> -->
                    <span>{{myChangeManagerInfo.tableState.pagination.start + $index+1}}</span>
                  </label>
                </td>
                <td class="table-text">{{item.userEmail}}</td>
                <td class="table-text">{{item.oldManagerEmail}}</td>
                <td class="table-text status-pending" ng-if="item.oldManagerStatus == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.oldManagerStatus == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.oldManagerStatus == 2 " translate>BLOCKED</td>
                <td class="table-text">{{item.newManagerEmail}}</td>
                <td class="table-text status-pending" ng-if="item.newManagerStatus == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.newManagerStatus == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.newManagerStatus == 2 " translate>BLOCKED</td>
                <td class="table-text status-pending" ng-if="item.status == 0 " translate=>PENDING</td>
                <td class="table-text status-approval" ng-if="item.status == 1 " translate>ACTIVE</td>
                <td class="table-text status-reject" ng-if="item.status == 2 " translate>BLOCKED</td>
                <td class="table-text status-destroy" ng-if="item.status == 3 " translate>DESTROYED</td>
                <!-- <td class="table-text">{{item.managerName}}</td> -->
                <!-- <td class="table-text">{{item.timeSubmit}}</td> -->
                <td>
                  <div class="buttons">
                    <button class="btn btn-danger btn-xs" ng-click="myChangeManagerInfo.cancel(item)" ng-disabled="item.myStatus != 0">
                      <i class="ion-close-round" aria-hidden="true"></i>
                      <span translate>CANCEL</span>
                    </button>
                  </div>
                </td>

              </tr>
            </tbody>
            <tbody ng-show="myChangeManagerInfo.isLoading">
              <tr class="st-row__parent action">
                <td colspan="8" class="text-center" translate>LOADING</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td class="td-position">
                  <div class="row">
                    <div st-pagination="" st-items-by-page="myChangeManagerInfo.tablePageSize" st-displayed-pages="5">
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>