<div class="content-top clearfix">
  <h1 class="al-title" translate>{{ activePageTitle }}</h1>

  <!-- <ul class="breadcrumb al-breadcrumb">
    <li>
      <a href="#/checkin" translate>HOME</a></li>
    <li translate>{{ activePageTitle }}</li>
  </ul> -->
</div>