<div class="modal-content">
  <script src="angular(.min).js"></script>
<script src="ng-file-upload-shim(.min).js"></script> <!-- for no html5 browsers support -->
<script src="ng-file-upload(.min).js"></script>
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>IMPORT_ABSENDER_QUOTAS</h4>
  </div>
  <div class="modal-body row">
    <h5 class="modal-title" id="myModalLabel" ng-if="result.response.status==200" style="text-align: center; color: blue;" translate>IMPORT_ABSENDER_QUOTAS_SUCCESS</h5>
    <h5 class="modal-title" id="myModalLabel" ng-if="result.response.status!=200" style="text-align: center; color: red;" translate>IMPORT_ABSENDER_QUOTAS_FAIL</h5>
    <table class="table table-hover st-table">
      <thead>
        <tr>
          <td colspan="5"></td>
        </tr>
        <tr class="sortable ">
          <th><label class="" translate>STT</label></th>
          <th translate>EMPLOYEE_CODE</th>
          <th translate>REASON_TYPE</th>
          <th translate>EFFECTED_DATE</th>
          <th translate>EXPIRATION_DATE</th>
          <th translate>NUMBER</th>
        </tr>
        <tr>
          <td colspan="5"></td>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr class="st-row__parent" ng-repeat="item in result.response.data.data track by $index">
          <td class="table-text table-width stt">
            <label class="">
              <span>{{$index+1}}</span>
            </label>
          </td>
          <th translate>{{item[0]}}</th>
          <th translate>{{item[1]}}</th>
          <th translate>{{item[2]}}</th>
          <th translate>{{item[3]}}</th>
          <th translate>{{item[4]}}</th>
        </tr>
        <tr></tr>
      </tbody>
      
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()"
      translate>OK</button>
  </div>
</div>