<nav>
  <ul class="pagination" ng-if="totalItemCount">
    <li>
      (<i>{{'ALL'|translate}} <b>{{totalItemCount}}</b> {{'RECORDS'|translate}}</i>)
    </li>
  </ul>
  <ul class="pagination" ng-if="pages.length >= 2" ng-show="numPages >= 2">
    <li>
      <a ng-click="selectPage(1)" translate>FIRST</a>
    </li>
    <li>
      <a ng-click="selectPage(currentPage - 1)"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li ng-repeat="item in pages track by $index" ng-class="{active:currentPage==item}">
      <a ng-click="selectPage(item)">{{item}}</a>
    </li>
    <li>
      <a ng-click="selectPage(currentPage + 1)"><span aria-hidden="true">&raquo;</span></a>
    </li>
    <li>
      <a ng-click="selectPage(numPages)" translate>LAST</a>
    </li>
  </ul>
  <ul class="pagination" ng-if="pages.length >= 2" ng-show="numPages >= 2">
    <li>
      (<i>{{'TOTAL'|translate}} <b>{{numPages}}</b> {{'PAGE'|translate}}</i>)
    </li>
  </ul>
  <ul class="pagination page-of-pages" ng-if="pages.length >= 2" ng-show="numPages >= 2">
    <li>
      <span>
        <i>{{'GOTO_PAGE'|translate}}</i>
        <input type="number" min="1" max="{{numPages}}" class="form-control" 
        ng-change="selectPage(pageSelected)" ng-model="pageSelected" 
        ng-model-options="{debounce: 750}" ng-init="pageSelected=1">
      </span>
    </li>
  </ul>
</nav>