<div class="modal-content" ba-panel ba-panel-title="{{ 'APPROVE' | translate }}">
    <div class="modal-header">
        <h4 class="modal-title" translate>DO_YOU_WANT_ACCEPT_ALL_RECORD</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="approve()" translate>OK</button>
        <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
    </div>
</div>
    
      
      
      
      