<div class="modal-content" ba-panel ba-panel-title="{{ 'REJECT' | translate }}">
  <div class="modal-header">
    <h4 class="modal-title" translate>MANAGER_REASON_REJECT_REQUEST</h4>
  </div>
  <div class="modal-body">
    <textarea type="text" rows="5" class="form-control" 
    ng-model="noteData.note" translate-attr="{ placeholder: 'MANAGER_REASON_REJECT_REQUEST' }" 
    style="height: 60px; margin-bottom: 14px;" maxlength="255"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="reject()" translate>OK</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
  </div>
</div>




