<div class="st-filter clearfix">
  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label> <span translate>ROWS_ON_PAGE</span></label>
        <select class="form-control" ng-model="users.tablePageSize" ng-options="i for i in [2500,50,100]">
        </select>
      </div>
    </div>
    <div class="col-xs-2">
      <search-common table-state="users.tableState" refresh="users.refresh()"
        columns="['fullName','email','employeeCode','department']"></search-common>
    </div>
    <div class="col-xs-2">
      <div style="margin-bottom: 5px;" translate>SCRIPT</div>
      <ui-select ng-model="users.scriptFilter" class="btn-group bootstrap-select form-control disable-text"
        ng-change="users.refresh()">
        <ui-select-match class="disable-text" placeholder="{{ 'SCRIPT_ID' | translate }}">
          {{users.scriptFilter.subScript}}
        </ui-select-match>
        <ui-select-choices repeat="item in users.scripts">
          <span ng-bind-html="item.subScript"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label> <span translate>VERSION_TYPE</span></label>
        <select class="form-control" ng-model="users.version" ng-options="i for i in ['V2']">
        </select>
      </div>
    </div>
    <div class="col-xs-4 text-right" style="text-align: right;">
      <button type="button" class="btn btn-default btn-with-icon" permission="Users.GetAll" ng-click="users.refresh()"
        ladda="users.isLoading" data-spinner-color="#000" data-size="xs">
        <i class="ion-loop"></i><span translate>REFRESH</span>
      </button>
      <button type="button" ng-click="users.report()" class="btn btn-primary btn-with-icon">
        <i class="ion-flag"></i>
        <span translate>Yêu cầu khai báo</span>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="widgets">
    <div class="wid-content">
      <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="{{ 'OVERTIME_ALLOCATION_TITLE' | translate }}"
          ba-panel-class="with-scroll">
          <div class="table-responsive">
            <table class="table table-hover st-table" st-pipe="users.init" st-table="users.tableData">
              <thead>
                <tr>
                  <td colspan="15"></td>
                </tr>
                <tr class="sortable ">
                  <th>
                    <label class="custom-checkbox">
                      <input type="checkbox" ng-checked="users.isSelectAll" ng-click="users.selectAll(users.tableData)"
                        ng-model="checkbox">
                      <span translate style="font-weight: inherit">All</span>
                    </label>
                  </th>
                  <th translate>EMPLOYEE_CODE</th>
                  <th st-sort="fullName" translate>FULL_NAME</th>
                  <th st-sort="email" translate>EMAIL</th>
                  <th st-sort="department" translate>DEPARTMENT</th>
                  <th translate>ACTION</th>
                </tr>
                <tr>
                  <td colspan="15"></td>
                </tr>
              </thead>
              <tbody ng-show="!users.isLoading">
                <tr ng-repeat="item in users.tableData track by $index">
                  <td class="table-text table-width stt">
                    <label ng-class=" users.selected.indexOf(item.id) > -1 ? 'custom-checkbox' : 'custom-checkbox' ">
                      <input type="checkbox" ng-checked="users.selected.indexOf(item.id) > -1"
                        ng-click="users.toggleSelection(item.id)">
                      <span>{{users.tableState.pagination.start + $index+1}}</span>
                    </label>
                  </td>
                  <td>{{item.id}}</td>
                  <td>{{item.fullName}}</td>
                  <td>
                    <a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a>
                  </td>
                  <td>{{item.department}}</td>
                  <td>
                    <div class="buttons">
                      <button class="btn btn-info btn-xs" ng-click="users.showAllocate(item)">
                        <i class=" fa fa-eye" aria-hidden="true"></i>
                        <span translate>VIEW</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="users.isLoading">
                <tr>
                  <td colspan="8" class="text-center" translate>LOADING</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="users.tablePageSize" st-displayed-pages="5"></div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>