<div class="row">
    <div ba-panel ba-panel-class="profile-page">
        <div class="panel-content">
            <div class="row">
                
                    <div class="row" ng-repeat="groupColumn in profile.personalInformation track by $index">
                            <div class="col-md-12">
                              <label translate>{{ groupColumn.title }}</label>
                            </div>
                            <div class="col-md-3 form-group" ng-repeat="column in groupColumn.data track by $index">
                              <label translate>{{ column.title }}:</label>
                              <span class="row">
                                <span ng-show="profile.checkTypeKey(column.key)" >{{profile.responseData[column.key]}}</span>
                                <span ng-show="!profile.checkTypeKey(column.key)" >{{profile.responseData[column.key[0]][0][column.key[1]]}}</span>
                              </span>
                            </div>
                          </div>

            </div>
        </div>
    </div>
</div>