<div class="row" id="wok-process">
    <div ba-panel ba-panel-class="profile-page">
        <div class="panel-content">
            <div class="row">
                This is process infomation
            </div>
        </div>
    </div>
</div>
</div>