  <div class="st-filter clearfix">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label> <span translate>ROWS_ON_PAGE</span></label>
          <select class="form-control" ng-model="notifications.tablePageSize" ng-options="i for i in [10,20,50]">
          </select>
        </div>
      </div>
      <div class="col-md-2">
          <search-common table-state="notifications.tableState" refresh=" notifications.refresh()"
          columns="['Name','Code','Title','DocumentType']"></search-common>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-default btn-with-icon" ng-click="notifications.refresh()">
          <i class="ion-loop"></i>
          <span translate>REFRESH</span>
        </button>
      </div>
      <div class="col-md-1">
        <button type="button" ui-sref="system.notification()" class="btn btn-primary btn-with-icon">
          <i class="fa fa-user-plus"></i>
          <span translate>CREATE</span>
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="widgets">
      <div class="wid-content">
        <div class="row">
          <div class="col-md-12" ba-panel ba-panel-title="{{ 'LIST_NOTIFICATION' | translate }}" ba-panel-class="with-scroll">
            <div class="table-responsive">
              <table class="table table-hover st-table" st-pipe="notifications.init" st-table="notifications.tableData">
                <thead>
                  <tr>
                    <td colspan="5"></td>
                  </tr>
                  <tr class="sortable ">
                    <th>#</th>
                    <th translate>NAME</th>
                    <th translate>CODE</th>
                    <th translate>CREATED_AT</th>
                    <th translate>ACTION</th>
                  </tr>
                  <tr>
                    <td colspan="5"></td>
                  </tr>
                </thead>
                <tbody ng-show="!notifications.isLoading">
                  <tr ng-repeat="item in notifications.tableData track by $index">
                    <td>{{notifications.tableState.pagination.start + $index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.createdAt}}</td>
                    <td class="col-md-2">
                      <div class="buttons">
                        <button class="btn btn-info btn-xs" ng-click="notifications.openDetails(item.id)">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                          <span translate>VIEW</span>
                        </button>
                        <button class="btn btn-danger btn-xs" ng-click="notifications.delete(item.id)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                          <span translate>DELETE</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody ng-show="notifications.isLoading">
                  <tr>
                    <td colspan="5" class="text-center" translate>LOADING</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5  " class="text-center">
                      <div st-pagination="" st-items-by-page="notifications.tablePageSize" st-displayed-pages="5"></div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>