<div class="st-filter clearfix">
    <div ng-init="init()">
        <div class="widgets">
            <div class="wid-content">
                <!-- Title -->
                <div style="background-color: #8EC282;padding: 10px;">
                    <p style="font-size: 16px;margin-bottom: 0px;color: #ffffff;font-weight: 300;">
                        THÊM DỰ ÁN MỚI CHƯA CÓ TRÊN HỆ THỐNG
                    </p>
                </div>
                <!-- group 1 -->
                <div style="margin-top: 15px; background: #DDEAF6;padding: 10px;">
                    <div class="row">
                        <div class="col-md-4">
                            <p style="margin-right: 2px;color: #48341E;font-weight: 500;">Internal Oder (dự án tôi cần thêm)</p>
                        </div>
                        <div class="col-md-4">
                            <p style="margin-right: 2px;color: #48341E;font-weight: 500;">Giám đốc dự án</p>
                        </div>
                        <div class="col-md-4">
                            <p style="margin-right: 2px;color: #48341E;font-weight: 500;">Cơ chế xung phong</p>
                        </div>
                    </div>
                    <!-- Old Data -->
                    <p style="
                    font-size: 12px;
                    font-style: italic;
                    color: blue;
                    margin-bottom: 5px;
                    margin-top: 10px;
                "> Thông tin dự đang có</p>
                    <div class="row" ng-repeat="data in projectHistory track by $index">
                        <div class="col-md-4" ng-repeat="item in data track by $index">
                            <ui-select ng-model="item.value" ng-if="item.type === 'select'" ng-disabled="true"
                                ng-change="onChangeValue(item.value)"
                                class="btn-group bootstrap-select form-control disable-text" search-enabled="true">
                                <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                                    {{item.value.value}}
                                </ui-select-match>
                                <ui-select-choices repeat="itemSelect in item.data"
                                    refresh="refreshData($select.search)">
                                    <span ng-bind-html="itemSelect.value | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <!-- New data -->
                    <p style="
                    font-size: 12px;
                    font-style: italic;
                    color: blue;
                    margin-bottom: 5px;
                    margin-top: 15px;
                ">Thông tin dự án bạn cần</p>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" ng-model="project">
                        </div>
                        <div class="col-md-4">
                            <ui-select ng-model="project.value" ng-change="onChangeValue(project.value)"
                                class="btn-group bootstrap-select form-control disable-text" search-enabled="true">
                                <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                                    {{project.value}}
                                </ui-select-match>
                                <ui-select-choices repeat="itemSelect in data" refresh="refreshData($select.search)">
                                    <span ng-bind-html="itemSelect.value | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-4">
                            <ui-select ng-model="project.value" ng-change="onChangeValue(project.value)"
                                class="btn-group bootstrap-select form-control disable-text" search-enabled="true">
                                <ui-select-match class="disable-text" placeholder="{{ 'TYPE_TO_SEARCH' | translate }}">
                                    {{project.value}}
                                </ui-select-match>
                                <ui-select-choices repeat="itemSelect in data" refresh="refreshData($select.search)">
                                    <span ng-bind-html="itemSelect.value | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <!-- <div class="col-md-1">
                            <button type="button" style=" text-align: -webkit-center;"
                                class="btn btn-danger btn-raised"> <i class="fa fa-trash-o"></i>
                            </button>
                        </div> -->
                    </div>
                    <!-- <div style="margin-top: 15px;">
                        <button type="button" style="text-align: -webkit-center;background-color: #cae2f9;"
                            class="btn btn-outline-primary">
                            <i style="font-size: 12px;color: blue;">Thêm một dòng thông tin</i>
                        </button>
                    </div> -->
                </div>
                <div class="row" style="text-align: right;padding: 15px; ">
                    <button type="button" class="btn btn-success btn-with-icon"><i
                            class="ion-android-checkmark-circle"></i>Lưu
                        thông tin</button>
                </div>
                <!-- End Group 1-->
            </div>
        </div>