<div ba-panel ba-panel-class="" ng-init="init()">
  <div class="row" style="display: flex; justify-content: center; align-items: center;">
    <div class="col-md-2">
      <p translate>REPORT_TYPE</p>
      <ui-select style="margin-bottom: 10px" ng-model="form.type"
        class="btn-group bootstrap-select form-control" ng-disabled="false">
        <ui-select-match>
          {{form.type.value}}
        </ui-select-match>
        <ui-select-choices repeat="item in form.hcmType">
          <span ng-bind-html="item.value | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-2">
      <p translate>CORPORATION_TYPE</p>
      <ui-select style="margin-bottom: 10px" ng-model="form.corporationType"
        class="btn-group bootstrap-select form-control" ng-disabled="false">
        <ui-select-match>
          {{form.corporationType.label | translate}}
        </ui-select-match>
        <ui-select-choices repeat="item in form.corporationTypes">
          <span ng-bind-html="item.label | translate | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-md-2">
      <p translate>FROM_DATE</p>
      <p class="input-group">
        <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
          ng-model="form.fromDate" is-open="popup.openedFrom" datepicker-options="dateOptions" ng-required="true"
          close-text="Close" ng-change="" ng-click="open(true)" show-button-bar="false" ng-readonly="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(true)"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-2">
      <p translate>TO_DATE</p>
      <p class="input-group">
        <input type="text" class="form-control disable-text" uib-datepicker-popup="dd/MM/yyyy"
          ng-model="form.toDate" is-open="popup.openedTo" datepicker-options="dateOptions" ng-required="true"
          close-text="Close" ng-change="" ng-click="open(false)" show-button-bar="false" ng-readonly="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open(false)"><i
              class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info" data-toggle="modal" ng-click="export()">
        <i class="ion-archive"></i>
        <span translate>EXPORT_HCM_BUTTON</span>
      </button>
      <button type="button" class="btn btn-danger" data-toggle="modal" ng-click="uploadToHCM()">
        <i class="icon ion-upload"></i>
        <span translate>PUSH_TO_HCM_BUTTON</span>
      </button>
    </div>
  </div>
</div>
<!-- <div class="st-filter clearfix">
  <button type="button" class="btn btn-mm btn-info btn-with-icon btn-clear"
      ngf-pattern=".xlsx" accept=".xlsx"
      ngf-select="import($file, $invalidFiles)" 
      ngf-max-size="1MB">
      <i class="ion-ios-cloud-upload-outline"></i>
      <span >Upload file lên HCM</span>
  </button>
</div> -->